.shop-diag-title, .item-diag-title{
    color: #15a7dc;
    font-size: 21px;
    font-family: "微软雅黑";
}
.shop-diag-div{
    margin: 15px 5px 0 5px;
}
.shop-diag{
    width: 100%;
    margin-bottom: 12px;
}
.diag-date{
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #676d7d;
    margin: 17px 0 0 0;
}
.shop-diag-info{
    width: 100%;
    text-align: center;
    margin: 8px 0 18px 0;
    padding: 0 0 10px 0;
}
.digit{
    color: red;
    font-size: 16px;
    margin: 0 3px 0 3px;
}
.uv-info, .similar-shops, .tranrate-info{
    margin: 5px 0 5px 0;
}
.shop-diag-charts-div{
    margin: 20px 0 20px 0;
}
.shop-diag-charts-table{
    width: 100%;
}
.uv-chart-td, .tranrate-chart-td{
    width: 510px;
    height: 185px;
}
#uv-chart, #tranrate-chart{
    width: 100%;
    height: 100%;
}
#item-href{
    width: 557px;
    height: 27px;
    line-height: 27px;
    font-size: 16px;
    margin: 0 8px 0 0;
}
.item-diag-div{
    text-align: center;
    width: 100%;
    margin: 10px 0 10px 0;
}
.recently-diaged-item, .diaging-item{
    margin: 10px;
}
.recently-diaged-item-title, .diaging-item-title{
    background: #e8ebf2;
    height: 30px;
    line-height: 30PX;
    padding: 1px 5px;
    margin-bottom: 10px;
    font-size: 14PX;
    font-weight: bold;
}
.recently-item{
    width: 80px;
    height: 80px;
    border: 1px solid #DFDFDF;
    cursor: pointer;
}
.diaging-item-table{
    width: 100%;
}
.diaging-item-image{
    width: 100px;
    height: 100px;
    border: 1px solid #DFDFDF;
}
.seprate-line{
    border-bottom: 1px dashed #515151;
    height: 18px;
    margin-bottom: 14px;
}
.diag-container .up{
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(/img/health_icon.gif) -11px -86px;
    width: 16px;
    height: 12px;
    position: relative;
    top: 1px;
}
.diag-container .down{
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(/img/health_icon.gif) 3px -86px;
    width: 16px;
    height: 12px;
    position: relative;
    top: 1px;
}
.diag-container .opTabWrapper{
    margin: 10px 10px 0 10px;
    border-bottom: 1px solid #93ddf8;
    height: 30px;
    line-height: 30px;
}
.diag-container .opTab{
    cursor: pointer;
    padding: 0 7px;
}
.diag-container .selected{
    border-top: 1px solid #93ddf8;
    border-left: 1px solid #93ddf8;
    border-right: 1px solid #93ddf8;
    border-bottom: 2px solid #fff;
    margin-top: -1px;
    _margin-top: 2px;
    font-weight: bold;
}
.diag-container .tab-space{
    min-height: 32px;
    border-left: 1px solid #93ddf8;
    border-right: 1px solid #93ddf8;
    border-top: none;
    border-bottom: none;
    margin: 0 10px;

}
.diag-container .diag-result-div{
    margin:  0 10px;
    min-height: 400px;
    _height: 400px;
}
.diag-container .word-diag-result-table {
    width: 98%;
    margin: 0 auto;
}
.diag-container .word-diag-result-table-th{
    background: -webkit-linear-gradient(top,#FEFEFE,#F7F7F7);
    background: -moz-linear-gradient(top,#FEFEFE,#F7F7F7);
    background: -ms-linear-gradient(#FEFEFE,#F7F7F7);
    background: -o-linear-gradient(#FEFEFE,#F7F7F7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFEFEFE, endColorstr=#FFF7F7F7);
}
.diag-container tr{
    height: 30px;
}
.word-diag-result-table tbody{
    text-align: center;
}
.word-diag-result-table tbody td{
    border: 1px solid #bbbdc6;
}
.diag-container .word-diag-paging{
    margin: 0 10px;
}
#to-diag-item-href{
    width: 400px;
    height: 28px;
    margin-right: 15px;
}
#endTimeInput{
    margin-right: 8px;
}
.recently-diaged-item-images{
    width: 330px;
    height: 82px;
}
.interval-wrapper{
    margin: 0 10px;
    text-align: center;
}
.interval-tr{;
    border: 1px solid #bebebe;
    background: #fcfcfc;
    padding: 10px;
    margin: 0 10px;

}
.shop-diag-charts-div{
    border-top: 1px solid #93ddf8;
}
.Desc {
    background: url("/img/sort-bg.png") 0px -17px;
}
.Asc {
    background: url("/img/sort-bg.png") 0px -40px;
}
.sort {
    width: 20px;
    height: 20px;
}
.orderTd{
    cursor: pointer;
}
.word-td{
    width: 200px;
}
.pvTrend {
    width: 20px;
    height: 20px;
    background: url("/img/dazhe/position.gif") 0 4px no-repeat;
    cursor: pointer;
}
#pv-trend-chart{
    width: 930px;
    height: 400px;
}
.title-head{
    width: 100%;
    border-bottom: 2px solid #15a7dc;
    height: 30px;
    color: #15a7dc;
    font-size: 21px;
    font-family: "微软雅黑";
    margin: 15px 0;
}
.shop-pc-online-info .opTabWrapper{
    margin: 10px 10px 0 10px;
    border-bottom: 1px solid #93ddf8;
    height: 30px;
    line-height: 30px;
}
.shop-pc-online-info .opTab{
    cursor: pointer;
    padding: 0 7px;
}
.shop-pc-online-info .selected{
    border-top: 1px solid #93ddf8;
    border-left: 1px solid #93ddf8;
    border-right: 1px solid #93ddf8;
    border-bottom: 2px solid #fff;
    margin-top: -1px;
    _margin-top: 2px;
    _margin-top: 2px;
    font-weight: bold;
}
.shop-pc-online-info .targetDiv{
    min-height: 200px;
    _height: 200px;
    margin: 0 10px 0 10px;
}
.shop-pc-online-info-table{
    text-align: center;
    width: 100%;
}
.shop-pc-online-info-table td{
    height: 60px;
    vertical-align: middle;
    padding-right: 3px;
    padding-bottom: 3px;
}
.shop-pc-online-info-table tr.tr-head td{
    background-color: #C6E5F3;
}
.shop-pc-online-info-table tr.tr-value td{
    background-color: #F5F0EF;
}
.shop-pc-online-info-table tr.tr-head td:hover{
    background-color: #AED6EB;
}
.shop-pc-online-info-table tr.tr-value td:hover{
    background-color: #DFC4BA;
}
.shop-pc-online-info-table .key-value-tr td{
    border: 2px solid #E0EAEE;
    background-color: #F8F8F8;
}
.shop-pc-online-info-table .key-value-tr .IntTd{
    width: 15%;
}
.shop-pc-online-info-table .key-value-tr .PercentTd{
    width: 20%;
}
.shop-pc-online-info-table .key-value-tr .value{
    font-size: 40px;
    color: rgb(57, 141, 248);
}
.shop-pc-online-info-table .key-value-tr .key{
    font-size: 14px;
    color: grey;
}
#shop-pv-uv-trade-trend-chart{
    margin: 10px auto;
    width: 100%;
}