#{extends 'tdazhe/base.html' /}
#{set title:'打折促销 - 好评送一个月' /}
<link rel="stylesheet" media="screen" href="/public/stylesheets/main.css" xmlns="http://www.w3.org/1999/html">
<style>
    .boyvonaward {
        width: 820px;
        margin: 0 auto;
    }

    p {font-size: 30px;margin-top:5px;margin-bottom:5px;text-align: center;}

    p a {
        font-size: 30px;
    }

    .marginmillde {
        margin: 0 auto;
    }
</style>
<div class="page-hierarchy">
    <span>当前位置:&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/taodiscount/index">打折促销&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a>好评有礼
</div>
<div class="boyvonaward">
    <p style="text-align:center;margin-top:5px;">
        <b class="red">订购七天后</b>
        <a href="http://fuwu.taobao.com/serv/manage_service.htm?service_code=ts-11477" target="_blank" style="color:#1779BE">猛击这里</a>
        <a href="http://fuwu.taobao.com/serv/manage_service.htm?service_code=ts-11477" target="_blank">
            <img style="width: 115px;height: 63px;"
                 src="http://img02.taobaocdn.com/imgextra/i2/1039626382/T2gADUXbRXXXXXXXXX_!!1039626382.jpg">
        </a>
        ，或者找到我们的工具
        <br>
        <!-- <img src="http://img02.taobaocdn.com/imgextra/i2/1039626382/T28mTdXlpbXXXXXXXX_!!1039626382.png" style="width:718px ;height:276px ;border:1px solid #ccc;"> -->
        <img src="/public/images/keywords/haoping1.jpg"
             style="width:700px ;height:200px ;border:1px solid #ccc;margin: 5px auto 5px;">

        <br>

    <div class="marginmillde" style="text-align:center;"><p>给我们<b style="color:red;">5分好评</b>，写上评语哦！<b class="red"
                                                                                                       style="font-size:18px;">(订购七天后方可评价)</b>
    </p>
        <img src="/public/images/keywords/haoping2.jpg"
             style="width: 539px;height: 374px;border:1px solid #ccc;">
    </div>
    </p>
    <!-- <h4 style="text-align:center;">最后把好评截图发给我们的客服(<span style="color: red;">我可不会告诉你页面底部可以找到滴</span>)即可领取礼物~</h4> -->
    <p style="font-size:18px;">
        最后把<b style="color:red"> 好评截图</b>和您的<b class="red">旺旺名</b>发给我们的客服


    </p>

    <p style="font-size:20px;">
        即可获得
    </p>

    <p style="text-align: center;font-size:24px;">
        <b class="red">免费赠送 </b>
        <a href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113645.5757977.3.ZPyCpv&service_code=ts-11477&tracelog=indexdg" target="_blank">
        <img  src="/public/images/dazhe/logo.png">
    </a>
        <b> 一个月的机会! </b>
    </p>
    <p>
        <a id="kefuhref" target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=%E4%B8%8A%E5%AE%98_%E5%B0%8F%E9%9B%AA&site=cntaobao&s=1&charset=utf-8">
            <img border="0" src="http://img04.taobaocdn.com/tps/i4/T1uUG.XjtkXXcb2gzo-77-19.gif" alt="联系售后" />
        </a>
    </p>
</div>
