#{extends 'tdazhe/base.html' /}
#{set title:'创建活动' /}

<link type="text/css" rel="stylesheet" href="/css/tdazhe/activityadd.css" />

<style>
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    /*padding: 0;*/
    font-size:12px;
    font-family: 'Microsoft YaHei', Arial;
}

ul, ol {
    list-style: none;
}
fieldset, img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font-size: 28px;
    color: #666;
    position: relative;
}

h2 {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font-size: 24px;
    color: #666;
}

.breadcrumbs {
    font-family: "宋体";
    font-size: 14px;
    color: #999;
    margin: 5px auto 5px auto;
    width: 960px;
}
.breadcrumbs span {
    padding: 0 5px 0 0;
}

#stepBar {
    width: 960px;
    margin: 0 auto;
}

#stepBar .block {
    float: left;
    display: inline;
    width: 212px;
    margin: 0 5px 0 0;
    font-size: 17px;
    padding: 0 14px 0 0;
    background: #fefefe;
    border: 1px solid #f9f9f9;
    height: 43px;
    line-height: 43px;
    text-align: center;
    position: relative;
}
#stepBar h3 {
    color: #d9d9d9;
    font-weight: normal;
}

h1 {
    width: 960px;
    margin:auto ;
    padding: 60px 0 10px 0;
    font-size: 28px;
    color: #666;
    position: relative;
}

.mainFormForm {
    float: left;
    dispplay: inline;
    width: 780px;
    padding-top: 5px;
    padding-left: 100px;
}
.mainForm .tmLine {
    padding: 0 10px 10px 29px;
    width: 755px;
}
.mainForm label {

    float: left;
    display: inline;
    width: 130px;
    font-size: 18px;
    line-height: 40px;
}
.mainForm .tmLine .append {
    float: left;
    display: inline;
    line-height: 40px;
    height: 40px;
    margin: 0 0 0 15px;
    padding: 0 10px;
    color: #999;
    background: #F2FDEC;
}

.title-input-button{
    float: left;
    width: 90px;
    display: inline;
    line-height: 40px;
    height: 40px;
    margin: 0 0 0 15px;
    padding: 0 10px;
    color: #999;
    background: #FEEDF0;
    text-align: center;
}

.mainForm input.text {
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 310px;
    color: #a700ff;
    height: 38px;
}
.title-input{
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 183px;
    color: #a700ff;
    height: 38px;
}

#start_time{
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 310px;
    color: #a700ff;
    height: 38px;
}
#end_time{
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 310px;
    color: #a700ff;
    height: 38px;
}
.buttonLine {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    padding: 40px 0 10px 0;
}
.nextStepBtn{
    margin: 0 auto;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 250px;
    height: 38px;
    *margin-left: 350px;
}
#stepBar .active {
    border: 1px solid rgb(228, 199, 179);
    background: #fcfcfc;
}
#stepBar .active h3 {
    color: #999;
}
#content {
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #C0DAEC;
    /*min-height: 400px;*/
}

input.text.error {
    background: #FEEDF0;
    border: 1px solid #F25E78;
}
.mainForm .tmLine span.error {
    background: #FEEDF0;
}

</style>

<div id="content">
    *{<div class="breadcrumbs">
        <span>创建限时打折活动</span>
    </div>
    <div id="stepBar">
        <div class="text">
            <div class="block active">
                <h3>设置活动信息</h3>
                <span class="arrow"></span>
            </div>
            <div class="block active">
                <h3>设置全店折扣信息</h3>
                <span class="arrow"></span>
            </div>
            <div class="block active">
                <h3>点击完成并提交</h3>
                <span class="arrow"></span>
            </div>
        </div>
        <div class="clear"></div>
    </div>}*
    <h1> 设置全店打折活动信息</h1>
    <div class="mainForm">
        <!-- .mainFormForm -->
        <div class="mainFormForm">
            <div class="tmLine ">
                <label>活动名称：</label>
                <input type="text" class="text"  id="name" >
                <span class="append">请输入2到30个汉字(仅自己可见)</span>
                <div class="clear"></div>
            </div>
            <div class="tmLine ">
                <label>开始时间：</label>
                <input type="text" class="text date"  id="start_time" >
                <span class="append">自定义开始时间</span>
                <div class="clear"></div>
            </div>
            <div class="tmLine ">
                <label>结束时间：</label>
                <input type="text" class="text date"  id="end_time">
                <span class="append">自定义结束时间</span>
                <div class="clear"></div>
            </div>
            <div class="tmLine ">
                <label>价格标签：</label>
                <select type="text" class="promotion_title title-select"  id="promotion_title" style="font-size: 18px;width: 183px;line-height: 200px;position: relative;color: #a700ff;float: left;">
                    <option>限时促销</option>
                    <option>新春特惠</option>
                    <option>团购价</option>
                    <option>亏本清仓</option>
                    <option>新品上市</option>
                </select>
                <input type="text" class="title-input text" style="width: 183px;">
                <a class="title-input-button self-put" href="javascript:void(0)">自定义标签</a>
                <a class="title-input-button select-put" href="javascript:void(0)">选择标签</a>
                <span class="append">优惠标题，显示在宝贝详情页</span>
                <div class="clear"></div>
            </div>
            <div class="tmLine ">
                <label>全店折扣：</label>
                <input type="text" class="text date"  id="discount">
                <span class="append">全店打几折</span>
                <div class="clear"></div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="buttonLine">
        <input type="submit" value="完成并提交" class="nextStepBtn StepBtn1" style="color: #ffffff;
    background-color: #c41b00;border: 1px solid #fff;">
    </div>
</div>

<div id="hraBox">
    <a href="javascript:;" class="closeModal closeBtn" title="关闭"></a>
    <div class="html">请点下面的按钮到新页面授权后再回来提交!</div>
    <div class="buttons">
        <a href="/TaoDiscount/reShouquan" class="orangeBtn" target="_blank">去淘宝授权</a>
    </div>
</div>
<div class="modal standardModal" id="settingActModal">
    <a href="javascript:;" class="closeModal closeBtn" title="关闭"><a class="closed-img closeModal" href="javascript:;" ></a></a>
    <div class="title">
        请修改店铺最低折扣
    </div>
    <div class="html">
        <p style="font-size: 20px;">
            您活动商品最低折扣是<span class="orange"></span>折，淘宝后台店铺最低折扣是<span class="orange"></span>折<br>
            请<a href="http://smf.taobao.com/smf_tab.htm?module=rmgj" target="_blank" style="color: #c41b00;font-size: 20px;">点此到淘宝修改店铺最低折扣</a>至低于<span class="orange"></span>折后，才可继续提交。
        </p>
    </div>
    <div class="buttonLine">
        <a href="javascript:;" class="greenBtn nextStepBtn StepBtn2" style="color: #ffffff;
    background-color: #c41b00;border: 1px solid #fff;display: block;">已经修改，重新提交</a>
    </div>
</div>

<script>
    $(document).ready(function(){
        TM.gcs('/js/tm.js', function () {
            TM.gcs('/js/tdazhe/itemAllAdd.js',function(){
                TM.DaZhe.Init.init() ;
            });
        });
    });

</script>

