#{extends 'main.html' /}
#{set title:'关联宝贝' /}

<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/Relation/Relation.css'}">

<div class="PlanOP">
    <div class="p gltj" >
        <div class="pInt" >
            <!-- step 2: select module-->
            <div class="selectPlan">
                <div class="newPlan">
                    <div class="npHead" style="text-align: right;padding: 10px 0;zoom: 1;">
                    </div>
                    <div class="npBody">
                        <div class="recommendBox">
                            <h3 style="text-align:left;">选择模板</h3>

                            <ul style="margin-left: -30px;margin-top: 0px;zoom: 1;list-style: none;position: relative;clear: both;">
                                <li id="module_1" class="module">
                                    <div width="400" style="width:400px;height: 250px;background: url('http://qcdn.maijiatang.net/glyx/t.big_list.png');border:1px solid #ccc;"></div>
                                    <p style="text-align: center;font-size: 12px;">大图-列表</p>
                                    <p style="text-align: center;font-size: 12px;margin: 0;padding: 0;">1行3列，关联<b>6</b>个宝贝</p>
                                    <a href="#" class=" choosed"></a>
                                </li>
                                <li id="module_2" class="module">
                                    <div width="400" style="width:400px;height: 250px;background: url('http://qcdn.maijiatang.net/glyx/t.big_list.png');border:1px solid #ccc;"></div>
                                    <p style="text-align: center;font-size: 12px;">大图-列表</p>
                                    <p style="text-align: center;font-size: 12px;margin: 0;padding: 0;">1行3列，关联<b>6</b>个宝贝</p>
                                    <a href="#" class=" choosing"></a>
                                </li>
                                <li id="module_3" class="module">
                                    <div width="400" style="width:400px;height: 250px;background: url('http://qcdn.maijiatang.net/glyx/t.big_list.png');border:1px solid #ccc;"></div>
                                    <p style="text-align: center;font-size: 12px;">大图-列表</p>
                                    <p style="text-align: center;font-size: 12px;margin: 0;padding: 0;">1行3列，关联<b style="color: red;font-weight: bolder;">6</b>个宝贝</p>
                                    <a href="#" class=" choosing"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="npFoot"><a href="#" class="mainBtn">安装宝贝</a><a href="#" class="mainBtn">完成</a></div>

                </div>
            </div>
        </div>

    </div>


</div>