#{extends 'skincomment/skincommentbase.html' /}

#{set title:'短信提醒日志' /}

<link rel="stylesheet" media="screen" href="/css/Switch/switch.css"/>
<link rel="stylesheet" media="screen" href="/css/skincomment/defensewarn.css"/>


<script src="/js/tm.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.tmpl.js" type="text/javascript"></script>

<div id="secondary">
    <div class="gap">
        <div class="wrapper">
            <div class="secnav">
                <a href="/SkinComment/warn">短信通知设置</a>
                <a href="/SkinComment/noticeLog" class="current">短信提醒日志</a>
            </div>
        </div>
    </div>
</div>
<div class="defensewarn-container">
    *{<div style="margin-bottom: 15px;border-bottom: 1px solid #aaa;padding-bottom: 10px;">}*
        *{<label class="" style="font-size:16px;padding: 8px;vertical-align: middle;font-weight:bold;">中差评管理：</label>&nbsp;&nbsp;&nbsp;<a href="/SkinComment/commentNormal" class="badge badge-info" style="font-size:14px;padding: 8px;vertical-align: middle;background-color: #bbb;">中差评记录</a>&nbsp;&nbsp;&nbsp;<a href="/SkinComment/commentStatus" class="badge badge-info" style="font-size:14px;padding: 8px;vertical-align: middle;background-color: #bbb;">评价统计</a>&nbsp;&nbsp;&nbsp;<a href="/SkinComment/noticeLog" class="badge badge-warning" style="font-size:14px;padding: 8px;vertical-align: middle;">短信提醒日志</a>}*
    *{</div>}*
    <div class="warn-search-div">
        <table style="margin: 0 auto; margin-top:10px;">
            <tbody>
            <tr>
                *{<td>
                    <span>交易编号：</span>
                    <input type="text" class="trade-id-text" style="width: 100px;">
                </td>}*
                <td style="padding-left: 10px;">
                    <span>买家昵称：</span>
                    <input type="text" class="buyer-name-text" style="width: 140px;"></td>
                <td style="padding-left: 15px;">
                    <span>发送日期：</span>
                    <input type="text" class="start-time-text date-picker" style="width: 85px;">
                    <span>-</span>
                    <input type="text" class="end-time-text date-picker" style="width: 85px;">
                </td>
                <td style="padding-left: 10px;">
                    <span class="search-btn btn btn-primary">搜索日志</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="warn-table-div">
    <div class="paging-div"></div>
    <table class="skincomment-table">
        <thead>
        <!-- <th><input type="checkbox"></th> -->
        <!-- <th>编号</th> -->
        <!-- <th>评价时间/评价到期时间</th> -->
        <th style="width:100px;">买家旺旺</th>
        <th style="width:100px;">买家电话</th>
        <th>短信内容</th>
        <th style="width:100px;">发送时间</th>
        <th style="width:64px;">短信类型</th>
        <th style="width:64px;">发送状态</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="paging-div"></div>
    </div>
</div>

<div class='clearfix'></div>

<script type="text/javascript">
    TM.gcs('/js/switch.js', function () {
    	TM.gcs('/js/skincomment/commentNoticeLog.js?_v=20131126', function () {
    		TM.gcs('/js/ChineseDatePicker.js', function () {
		        $(document).ready(function() {
		            TM.Loading.init.show();
		            TM.CommentNoticeLog.init.doInit($(".defensewarn-container"));
		        });
        	});
        });
    });
</script>
