#{extends 'skincomment/skinautocommentsubbase.html' /}

#{set title:'中差评提醒日志' /}

<link rel="stylesheet" media="screen" href="/css/Switch/switch.css"/>
<link rel="stylesheet" media="screen" href="/css/skincomment/blacklist.css"/>


<script src="/js/tm.js" type="text/javascript" charset="utf-8"></script>
*{<script src="/js/skincomment/blacklist.js" type="text/javascript" charset="utf-8"></script>}*

<div class="blacklist-container">
    手动评价
</div>

<div class='clearfix'></div>

<script type="text/javascript">
    TM.gcs('/js/switch.js', function () {
        $(document).ready(function() {
            TM.Loading.init.show();
        });
    });


</script>
