#{extends 'skincomment/skinautoopsubbase.html' /}
#{set title:'好评有礼' /}

<link rel="stylesheet" media="screen" href="/css/Switch/switch.css"/>
<link rel="stylesheet" media="screen" href="/css/skincomment/defensewarn.css"/>


<style >
    .boyvonaward{width: 790px;margin: 0 auto;}
    p{font-size: 30px;}
    p a{font-size: 30px;}
    .marginmillde{margin: 0 auto;}
    .boyvonaward p {
		font-size: 30px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
</style>
<script src="/js/tm.js" type="text/javascript" charset="utf-8"></script>

*{<script src="/js/skincomment/defensewarn.js" type="text/javascript" charset="utf-8"></script>}*

<div class="defensewarn-container">

    <div class="boyvonaward">
        <p style="text-align:center;margin-top:5px;">
            <b class="red">订购七天后</b>
            <a href="http://fuwu.taobao.com/serv/manage_service.htm?service_code=FW_GOODS-1850391" target="_blank">点击</a>
            <a href="http://fuwu.taobao.com/serv/manage_service.htm?service_code=FW_GOODS-1850391" target="_blank">
                <img style="width: 115px;height: 63px;" src="http://img02.taobaocdn.com/imgextra/i2/1039626382/T2gADUXbRXXXXXXXXX_!!1039626382.jpg">
            </a>
            ，找到我们的工具
            <br>
            <!-- <img src="http://img02.taobaocdn.com/imgextra/i2/1039626382/T28mTdXlpbXXXXXXXX_!!1039626382.png" style="width:718px ;height:276px ;border:1px solid #ccc;"> -->
            <img src="http://img04.taobaocdn.com/imgextra/i4/1039626382/T2A.kmXjhaXXXXXXXX_!!1039626382.jpg" style="width:770px ;height:185px ;border:1px solid #ccc;">

            <br>
        <div class="marginmillde" style="text-align:center;"><p>给我们<b style="color:red;">5分好评</b>，写上评语哦！<b class="red" style="font-size:18px;">(订购七天后方可评价)</b></p>
            <img src="http://img01.taobaocdn.com/imgextra/i1/1039626382/T26JHIXX4bXXXXXXXX_!!1039626382.jpg" style="width: 536px;height: 400px;border:1px solid #ccc;">
        </div>

        <!-- <h4 style="text-align:center;">最后把好评截图发给我们的客服(<span style="color: red;">我可不会告诉你页面底部可以找到滴</span>)即可领取礼物~</h4> -->
        
        <p style="font-size:22px;">
	        最后把<b style="color:red"> 好评截图</b>和您的<b class="red"> 旺旺名 </b>发给我们的客服
	    </p>
	    <p style="font-size:20px;">
	        即可领取
	    </p>
	    <p style="text-align: center;font-size:24px;">
	        <b class="red">好评助手 五折</b>订购链接 或 双色球<b class="red"> 彩票一注</b>，有机会赢取500万大奖哟!
	    </p>
	    <p>
	        <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E9%AA%91%E7%9D%80%E7%BB%B5%E7%BE%8A%E9%A3%9E%3A%E9%A3%98%E9%9B%AA&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8"><img border="0" src="http://amos.alicdn.com/realonline.aw?v=2&amp;uid=%E9%AA%91%E7%9D%80%E7%BB%B5%E7%BE%8A%E9%A3%9E%3A%E9%A3%98%E9%9B%AA&amp;site=cntaobao&amp;s=1&amp;charset=utf-8" alt="联系售后"></a>
	        <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E9%AA%91%E7%9D%80%E7%BB%B5%E7%BE%8A%E9%A3%9E%3A%E5%B0%8F%E8%A8%80&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8"><img border="0" src="http://amos.alicdn.com/realonline.aw?v=2&amp;uid=%E9%AA%91%E7%9D%80%E7%BB%B5%E7%BE%8A%E9%A3%9E%3A%E5%B0%8F%E8%A8%80&amp;site=cntaobao&amp;s=1&amp;charset=utf-8" alt="联系售后"></a>
	    </p>
    </div>
</div>

<div class='clearfix'></div>

<script type="text/javascript">
    TM.gcs('/js/switch.js', function () {
        $(document).ready(function() {
//            TM.Loading.init.show();
//            TM.DefenseWarn.init.doInit($(".defensewarn-container"));
        });
    });


</script>
