#{extends 'skincomment/skincommentbase.html' /}

<table>
<tr>
<td style="vertical-align: top;width:200px;">
<div class="aside left-nav">
  <ul class="nav nav-list nav-list-fix">
    <li class="nav-header" style="border-bottom:1px solid #ccc;">活动中心</li>
    <li class="aside-hot-tag first">
    	<a class="clearfix" href="/SkinDefender/lottery">
            <span class="aside-icon"></span>
            <span>转盘抽奖</span>
        </a>
        <a class="clearfix" href="/SkinDefender/invite">
            <span class="aside-icon"></span>
            <span>一起赚钱</span>
        </a>
    </li>
  </ul>
</div>
</td>
<td>
<div id="skincomment">
#{doLayout /}
</div>
</td>
</tr>
</table>
<!-- 
<script type="text/javascript">
    $(".nav-head").find(".head").html(
            '<ul>' +
            		'<li ><a href="/skindefender/index">首页</a></li>' +
                    '<li ><a  href="/SkinDefender/config">差评防御</a></li>' +
                    '<li ><a href="/skincomment/index">评价管理</a></li>' +
                    '<li class="selected"><a  href="/SkinDefender/invite">活动中心</a></li>'+
             '</ul>'
    );
</script> -->

