#{extends 'shopping/shopbase.html' /}
#{set title:'爱推广 - 热卖分享' /}


<style type="text/css">
    .item-container .item-link {
        color: blue; cursor: pointer;
    }
    .item-container .item-link:hover {
        color: #a10000;
    }

    .item-container .item-div {
        border: 2px solid #C0C0C0; margin:8px 5px; padding: 0px; font-family: "宋体";
    }
    .item-container .item-img {
        cursor: pointer;
    }
    .item-container .item-img:hover {
        filter:alpha(opacity=70);
        opacity: 0.7;
    }

    .item-container .recommend-reason-div {

    }

</style>

<div class="item-container">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        //TM.gcs('/js/jquery.masonry.min.js', function () {
        TM.gcs('/js/jquery.masonry.js', function () {
            TM.gcs('/js/jquery.url.js', function () {
                TM.gcs('/js/shopping/shopping.js', function () {
                    TM.Shopping.init.doInit($(".item-container"));
                });
            });
        });
    });
</script>