#{extends 'yangyang.html' /}
#{set title:'行业分析' /}

<link rel="stylesheet" media="screen" href="/css/taozhanggui.css?_v=4">
<link rel="stylesheet" media="screen" href="/css/Titles/titleOp.css?_v=4">
<style>
    .selectCat1, .selectCat2, .propselect {margin:10px 20px 10px 0;float: none;height: 25px;width: 180px;}
    .selectYear {margin:10px 20px 10px 0;float: none; height: 25px;width: 60px}
    .selectMonth {margin:10px 20px 10px 0;float: none; height: 25px;width: 50px}
    .timeselect{margin:10px 20px 10px 0;float: none;height:25px;width: 50px}
    .catanalysisoplogs tbody tr.propTr {
        border-bottom: 1px solid #ccc;
    }
    div.navmain {
        width: 1040px;
        border: 1px solid #aaa;
        background: white;
    }
    .navmain-leftnav-td{
        display: none;
    }
    .all_container{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        min-height: 1000px;_height: 1000px;
    }
    #catanalysisoplogs{width: 1000px;min-height: 1000px;_height: 1000px;}
    #tmcontainer{width:98%;min-height: 1000px;_height:1000px;margin: 0px auto;}
    .highcharts-axis-labels{min-width: 100px;}
    .all_container{border:none;}
    .recommendDiv{;}
    .recommendDiv ul{background:#EBEBEB;clear:both;padding-left:100px;}
    .recommendDiv .tabDiv li{margin:0;position:relative;}
    table tr {cursor:default;}
    .propname,.shopitemcatsapn{float:left;margin:3px;font-size:16px;padding: 5px;background:#54BBA6;color:white;cursor: pointer;margin-right:5px;;}
    .shopitemcatsapn{background: #29a4c2;}
    .busSearch td{text-align: center;}
    .toptmpl{display:none;}
    .pagenav{text-align: center;;}
    .search-input {
        height: 20px; border: 1px solid #999;
    }
    .search-table {
        border-collapse: collapse;
    }
    .search-table td {
        vertical-align: middle;
    }
    .list-table {
        border-collapse: collapse; width: 100%;
        border: 1px solid #ccc; border-collapse: collapse; text-align: center;
    }
    .list-table thead tr {
        vertical-align: middle; background: left -102px url('/img/frame/bg.png');
    }
    .list-table thead td {
        height: 26px; vertical-align: middle; border-bottom: 1px solid #ccc; font-weight: bold;
    }
    .delist-chart-table thead td {
        border: 1px solid #ccc;
    }
    .delist-chart-table tbody td {
        border: 1px solid #ccc; padding: 8px 3px;
    }
    .delist-search-table tbody td {
        border-bottom: 1px solid #ccc; padding: 8px 3px;
    }
    .recommendDiv .tabDiv li{display:inline-block;*display:inline;*zoom:1;padding:0px;}
    .recommendDiv .tabDiv li span{display:inline-block;*display:inline;*zoom:1;}
    div.propsale{background:white;}
    table.busSearch thead tr {background: left -102px url('/img/frame/bg.png');height: 32px;}
    table.busSearch tbody tr{background:white;height:32px;}
    table.busSearch td a img{border:1px solid #ccc;}
    .pagenav{
        margin:10px;
    }
    table .busSearch thead th{
        border:1px solid #ccc;
        height:40px;
        background:#efefef;
        font-size:14px;
    }
</style>

<div class="clearfix"></div>
<div class="catAnalysisContainer">

    <div class="catgory" style="text-align: center;">
        <span style="margin: 0 20px;">选择时间:</span>
        <select name="selectYear" class="selectYear"> </select>
        <select name="selectMonth" class="selectMonth"> </select>
        <span style="margin:0 20px;">请选择行业类目进行分析：</span>
        <select name="selectCat1" class="selectCat1"> </select>
        <select name="selectCat2" class="selectCat2"> </select>
    </div>
    <div class="recommendDiv" style="">
        <div class="tabDiv">
            <ul class="clearfix" style = "">
                <li><span style="width: 100px;" targetdiv="propsale" class="select">属性成交分布</span></li>
                <li><span style="width: 100px;" targetdiv="topitems" class="">热销宝贝</span></li>
                <li id="hotprops"><span style="width: 100px;" targetdiv="topshops">热销店铺</span></li>
                <li class=""><span style="width: 120px;" targetdiv="delist">上下架时间分布</span></li>
                <li><span  style="width: 100px;" targetdiv="priceDuration" class="">成交价分布</span></li>
                <li><span style="width: 100px;" targetdiv="hotwords">热门搜索词</span></li>
            </ul>
            <div class="blank0" style="height: 15px;"></div>
        </div>
    </div>
</div>

<div id="cnametext" style="padding-left:40px;font-size:18px;margin-bottom: 5px;"></div>
*{<div id="tmphighchart" class="hidden" style="display:none;">}*
*{</div>}*
<div id="tmcontainer">
    <div id="alltmpls" class="">
        <div class="nodatatip toptmpl">
            <div class="tipmiddle">
                亲，木有数据哦， 您可以先看看别的哟
            </div>
        </div>

        <div class="hotwords toptmpl">
            <div class="pagenav"></div>
            <div class="placeHolder">
                <table class="busSearch" >
                    <thead>
                    <tr>
                        <th>关键词</th>
                        <th>热度</th>
                    </tr>
                    </thead>
                    <tbody style="font-size:16px;"></tbody>
                </table>
            </div>
            <div class="pagenav"></div>
            <script class="tmpl hidden" type="jquery-template">
                <tr>
                    <td> {{= word}} </td>
                    <td>{{= count}}</td>
                </tr>
            </script>
        </div>

        <div class="topitems toptmpl">
            <div class="pagenav"></div>
            <div class="placeHolder">
                <table class="busSearch" style="width:97%;margin: 0 auto;">
                    <thead>
                    <th style="width:15%;">主图</th>
                    <th style="width:30%;">标题</th>
                    <th style="width:15%;">销量</th>
                    <th style="width:15%;">价格</th>
                    <th style="width:25%;">卖家</th>
                    </thead>
                    <tbody style="font-size:16px;">
                    </tbody>
                </table>
            </div>
            <div class="pagenav"></div>
            <script class="tmpl hidden" type="jquery-template">
                <tr>
                    <td>
                        <a href="http://detail.tmall.com/item.htm?id={{= numIid}}" target="_blank"><img src="{{= picPath}}" style="width:100px;height:100px;margin:5px;"></a>
                    </td>
                    <td> {{= title}}  </td>
                    <td> {{= tradeNum}} </td>
                    <td> {{= price}} </td>
                    <td> {{= wangwang}} &nbsp;&nbsp;
                    *{<img src="http://image.taobao.com/wangwang/online/1/online.gif">}*
                        {{if level < 1}}
                    *{<img src="/public/images/tmlog.png" />}*
                        ~
                        {{else level < 6}}
                        <img src="http://pics.taobaocdn.com/newrank/s_red_{{= level}}.gif" style="height:13px;" />
                        {{else level < 11 }}
                        <img src="http://pics.taobaocdn.com/newrank/s_blue_{{= level-5}}.gif" style="height:13px;" />
                        {{else level < 16 }}
                        <img src="http://pics.taobaocdn.com/newrank/s_cap_{{= level-10}}.gif" style="height:13px;"/>
                        {{else level < 21}}
                        <img src="http://pics.taobaocdn.com/newrank/s_crown_{{= level-15}}.gif" style="height:13px;" />
                        {{/if}}

                    </td>
                </tr>
            </script>
        </div>

        <div class="topshops toptmpl">
            <div class="pagenav"></div>
            <div class="placeHolder">
                <table class="busSearch" style="width:97%;margin: 0 auto;">
                    <thead>
                    <th style="width:10%;">主图</th>
                    <th style="width:20%;">店铺</th>
                    <th style="width:10%;">销量</th>
                    <th style="width:20%;">信誉</th>
                    </thead>
                    <tbody style="font-size:16px;">
                    </tbody>
                </table>
            </div>
            <div class="pagenav"></div>
            <script class="tmpl hidden" type="jquery-template">
                <tr>
                    <td><a href="http://store.taobao.com/shop/view_shop.htm?user_number_id={{= sellerId}}" target="_blank"><img src="{{= picPath}}" style="width:80px;height:80px;margin:5px;"> </a> </td>
                    <td> {{= nick}} <img src="http://image.taobao.com/wangwang/online/1/online.gif"> </td>
                    <td> {{= sale}}  </td>
                    <td> {{if isTM}} <img src="/public/images/tmlog.png" style="width:80px;height:17px;margin:5px;"/> </br>
                        {{/if}}
                        {{if level < 1}}
                        <img src="/public/images/tmlog.png"/>
                        {{else level < 6}}
                        <img src="http://pics.taobaocdn.com/newrank/s_red_{{= level}}.gif" style="height:13px;"/>
                        {{else level < 11 }}
                        <img src="http://pics.taobaocdn.com/newrank/s_blue_{{= level-5}}.gif" style="height:13px;"/>
                        {{else level < 16 }}
                        <img src="http://pics.taobaocdn.com/newrank/s_cap_{{= level-10}}.gif" style="height:13px;"/>
                        {{else level < 21}}
                        <img src="http://pics.taobaocdn.com/newrank/s_crown_{{= level-15}}.gif" style="height:13px;"/>
                        {{/if}}
                    </td>
                </tr>
            </script>
        </div>

        <div class="propsale toptmpl">
            <div class="propspans"></div>
            <div class="clearfix"></div>
            <div class="placeHolder"></div>
            <div class="tmpl hidden"  >
                <span style="" class="propname" pname="{{= pname}}">{{= pname}}</span>
            </div>
        </div>

        <div class="priceDuration toptmpl">
            <div class="placeHolder"></div>
        </div>

        <div class="delist toptmpl">
            <div class="delist-chart-div" style="display: none;margin-top: 10px;padding-bottom: 30px;">
                <div style="text-align: left;padding-bottom: 10px;">
                    <table class="delist-tip-table" style="border-collapse: collapse;color: red;">
                        <tbody>
                        <tr>
                            <td style="">注1：</td>
                            <td>下表是搜索关键词下人气宝贝的下架时间分布，每个单元格的含义：<span style="font-weight: bold;">下架宝贝数</span>。 </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 5px;">注2：</td>
                            <td style="padding-top: 5px;">可以选择下架宝贝比较少的日期，下架自己的宝贝，从而避开竞争。 </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <table class="list-table delist-chart-table busSearch" >
                    <thead>
                    <tr style="border:1px solid #ccc;height:40px;background: #efefef;font-size:14px;">
                        <td>时间段</td>
                        <td>周一</td>
                        <td>周二</td>
                        <td>周三</td>
                        <td>周四</td>
                        <td>周五</td>
                        <td>周六</td>
                        <td>周日</td>
                        <td>7天总和</td>
                    </tr>
                    </thead>
                    <tbody class="delist-chart-tbody"></tbody>
                </table>
            </div>

            <div class="delist-search-div"  style="display: none;margin-top: 10px;padding-bottom: 30px;">
                <div style="text-align: left;padding-bottom: 10px;">
                    <table class="delist-tip-table" style="border-collapse: collapse;color: red;">
                        <tbody>
                        <tr>
                            <td style="">注1：</td>
                            <td>下表是在指定的搜索关键词下，淘宝人气宝贝的列表；您可以根据人气或下架时间排序，更好地掌握行业情报。 </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="paging-div" style="text-align: center;"></div>
                <table class="list-table delist-search-table">
                    <thead>
                    <tr>
                        <td style="width: 11%;">宝贝图片</td>
                        <td style="width: 31%;">宝贝标题</td>
                        <td style="width: 11%;"><div class="sort-td sort-up current-sort" orderBy="orderIndex">搜索排名</div></td>
                        <td style="width: 17%;"><div class="sort-td sort-down" orderBy="relativeDelistTime">下架时间</div></td>
                        <td style="width: 16%;"><div class="sort-td sort-down" orderBy="leftTime">下架剩余时间</div></td>
                        <td style="width: 14%;"><div class="sort-td sort-up" orderBy="salesCount">宝贝成交量</div></td>
                    </tr>
                    </thead>
                    <tbody class="delist-search-tbody"></tbody>
                </table>
                <div class="paging-div" style="text-align: center;"></div>
            </div>

        </div>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">

    var doForReady = function(){
        $('.navmain-container-td').css("width", "1040px");
        TM.autoTitle.TXGCatAnalysis.init($('#catanalysisoplogs'));
    }

    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js', function () {
        TM.gcs('/js/highcharts.js', function () {
            TM.gcs('/js/jquery.tmpl.js', function () {
                TM.gcs('/js/tm.js?_v=6', function () {
//                TM.gcs('/js/autoTitle/catAnalysis.js?_v=3', function () {
                    TM.gcs("/js/industry/industrybase.js?_v=7", function () {
                        TM.gcs("/js/delistplan/delistsearch.js?_v=6", function () {
                            TM.gcs('/js/autoTitle/txgPropAnalysis.js?_v=6', function () {
                                $(document).ready(function(){
                                    doForReady();
                                })
                            });
                        });
                    });
                });
            });
        });
    })
</script>
#{/set}
