.list-item .list-info .mall-icon, .search-shop .mall-icon {
    display: inline-block;
    height: 12px;
    text-indent: -999em;
    width: 83px;
    vertical-align: top;
    margin-top: 5px;
    background: url("http://img03.taobaocdn.com/tps/i3/T1jq6YXalbXXX0gjHb-99-1013.png") no-repeat 0 -923px
}
.list-item .list-info .rank, .search-shop .rank {
    vertical-align: top;
    margin-top: 4px
}
.itemlist-table{
    width:100%;
}
.thumbnail{
    display: block;
    padding: 4px;
    /*line-height: 18px;*/
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.thumbnail:hover{border-color:#0088cc}
.thumbnail img{
    width:80px;height:80px;
}


.itemlist-tbody{background:white;}
.itemlist-tbody tr td{}

.iteminfo-table{width:100%;}
.iteminfo-table td{padding: 10px 10px 10px 10px;font-size:18px;}
.iteminfo-table tr{border-bottom:1px solid #e6e6e6;}


.fullbasebtn{width:120px;background: url(/img/btns/yellow-btn.png) -0px -0px;text-align: center;display: inline-block;*display: inline;height:40px;_height:40px;line-height: 40px;color: white;margin-right:3px;font-size:15px;cursor: pointer;zoom:1;}
.fullbasebtn:hover{width:120px;background: url(/img/btns/yellow-btn.png) -0px -40px;}

.item-box-title{}
.item-box-title h2{font-size:18px;}
.itemtitle{font-size:17px;color:black;font-weight: bold;}
.itemprice{font-size:15px;color:black;}
.adwordtable{}


.page-wrapper {background: whiteSmoke;border-bottom: 1px solid #E9E6E6;width: 100%;margin-top: 20px;}

.pagenavi {text-align: center;padding: 10px 0;}
.pagenavi span,.pagenavi a,.pagenavi input {vertical-align: middle;}
.pagenavi  a {border: 1px solid #DDD;padding: 5px 10px 5px 10px;background-color: white;color: #008CD7;display: inline-block;}
.pagenavi .current {padding: 0 3px;}
.pagenavi a:hover {border: 1px solid #fc7d39;background-color: #fff7ea;color: #fc7d39;}
.pagenavi .page-prev,.pagenavi .page-next {display: inline-block;padding: 0;border: 0;width: 66px;height: 30px;}
.pagenavi .page-prev-abled {background: url(images/page1.gif) 0px -143px;}
.pagenavi .page-prev-abled:hover {border: 0;background: url(images/page2.gif) 0px -107px;}
.pagenavi .page-prev-disabled {background: url(images/page1.gif) no-repeat 0px -187px;}
.pagenavi .page-next-abled {background: url(images/page1.gif) no-repeat 0px -48px;}
.pagenavi .page-next-abled:hover {border: 0;background: url(images/page2.gif) no-repeat 0px -48px;}.pagenavi .page-next-disabled {border: 0;background: url(images/page1.gif) no-repeat 0px -99px;}.jumpTo {width: 30px;border: 1px solid #ccc;}.gopage-submit {}.gopage-submit:hover {}.tmNav {top:1px;position: relative;font-weight: bold;color: #1d5987;}


.dp img {border: 1px #e5e5e5 solid;padding: 2px;background: #fff;}

.pagenavi {text-align: center;padding: 20px 0;}
.pagenavi a, .pagenavi span {display: inline-block;vertical-align: middle;min-width: 12px;_width: 12px;padding: 0 5px;
    margin: 0 1px;height: 23px;line-height: 23px;font-family: 'Tahoma';color: #4c4c4c;}
.pagenavi a {background: url(/img/pages.png) 0 0 repeat-x;border: 1px solid #dcdcdc;}
.pagenavi a:hover {background: #d9d9d9;border: 1px solid #bdbfc2;color: #4c4c4c;text-decoration: none;}
.pagenavi span {padding: 1px 6px;background: url(/img/pages.png) 0 -24px repeat-x;color: #fff;border: none;text-decoration: none;}
.pagenavi a.dot {background: url(/img/pages.png) 0 -155px no-repeat;padding: 1px 6px;border: none;}
.pagenavi a.prev, .pagenavi a.next {width: 34px;height: 25px;border: none;padding: 0;}
.pagenavi a.prev {background: url(/img/pages.png) 0 -50px no-repeat;}
.pagenavi a.next {background: url(/img/pages.png) 0 -76px no-repeat;}
.pagenavi a.prev:hover {padding: 0;border: none;background: url(/img/pages.png) 0 -102px no-repeat;}
.pagenavi a.next:hover {padding: 0;border: none;background: url(/img/pages.png) 0 -128px no-repeat;}
.pagenavi a.dot, .pagenavi a.prev, .pagenavi a.next {overflow: hidden;}

.itembox{background-color: white;min-height: 20px;
    padding: 19px;margin-bottom: 20px;background-color: #f5f5f5;border: 1px solid #e3e3e3;}
.typedinfo{display:none}
