<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="shortcut icon" type="image/png" href='/img/favicon.png'>
    <link rel="stylesheet" media="screen" href='/css/main.css?_ts=8'>

#{get 'moreStyles' /}

</head>
<body>

*{cookie contained....}*
<script src="/js/jquery-1.7.2.min.js?v=1" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
    if (!window.jQuery) {
        var script = document.createElement('script');
        script.src = "http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js";
        document.body.appendChild(script);
    }
    var path = document.location.pathname;
    var TM = TM || {};
    TM.path = path;


</script>

<script src="/js/tips/jquery.qtip-1.0.0-rc3.js?_ts=2" type="text/javascript" charset="utf-8"></script>

<script src="/js/tmadmin/adminbase.js?_ts=2" type="text/javascript" charset="utf-8"></script>

<div class="WaitingForLoadingDiv" style="display: none;font-size: 16px;font-weight: bolder;color: #ffffff;box-shadow: 0 1px 1px #444;    border-radius: 10px;background-color: black;padding: 20px 10px 10px 10px;z-index: 200001;position:relative;">
    <iframe class="loading-mask-iframe" style="display:none;_display:block;position:absolute;top:0;left:0px;z-index:-1;background:black;width:550px;height:120px;">
    </iframe>
    亲~系统正在为您努力加载数据...请您稍等片刻...<br />     <br />
    <img src='/img/catunion/loading.gif' alt='正在加载' />
</div>
<!--
<div class="WaitingForLoadingDiv" style="display: none;z-index: 500001">
    <iframe class="loading-mask-iframe" style="display:none;_display:block;position:absolute;top:0;left:0px;z-index:-1;"></iframe>
    <div style="text-align: center;font-size: 16px;font-weight: bolder;color: #262626;box-shadow: 0 1px 1px #444;    border-radius: 10px;background-color: white;padding: 30px;z-index: 500001;">
        亲~系统正在为您努力加载数据...请您稍等片刻...<br />     <br />
        <img src='/img/catunion/loading.gif' alt='正在加载' style="" />
    </div>
</div>
  -->





<script type="text/javascript">
    var getCacheScript = function(url, callback){

        callback = callback || function(){}
        $.ajax({url:url,dataType:"script",cache:true, success : callback});
    }
    TM.gcs = getCacheScript;
    jQuery.getScript =TM.gcs;
    $.getScript = TM.gcs;
    ///js/jquery-ui-1.9.1.custom.min.js
    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js');
    TM.gcs('/js/tm.js');


    var path = document.location.pathname;
    TM.path = path;
    var Loading = TM.Loading;
    var CenterAlert = TM.CenterAlert;
    var BackMask = TM.BackMask;

    ((function ($, window) {

        $(document).ajaxStart(function(){
            TM.Loading.init.show();
        });
        $(document).ajaxStop(function(){
            TM.Loading.init.hidden();
        });

        $("body").ajaxSend(function(evt, request, settings){

        });

        TM.setAnchorSids = function(){

        }

        var hasPath = false;

        TM.util = TM.util || {};
        TM.util.hasListRes = function(data){
            return data && data.res && data.res.length > 0;
        }

        TM.util.diplaySearch = function(searchCount){
            if(searchCount == 0 ){
                return '0';
            }else if(0 <searchCount && searchCount < 100){
                return '0-100';
            }else if(searchCount< 500){
                return '100-500';
            }else if(searchCount< 1500){
                return '500-1500';
            }else if(searchCount< 5000){
                return '1500-5000';
            }else if(searchCount< 10000){
                return '5000-1万';
            }else if(searchCount< 50000){
                return '1万-5万';
            }else if(searchCount<100000){
                return '5万-10万';
            }else if(searchCount<500000){
                return '10万-50万';
            }else if(searchCount<1000000){
                return '50万-100万';
            }else {
                return '大于100万';
            }

        }
        String.prototype.cnLength = function () {
            return this.replace(/[^u4E00-u9FA5]/g, 'nn').length;
        }

        String.prototype.trim = function () {
            return this.replace(/^\s*|\s*$/g, '');
        }
        Number.prototype.toPercent = function (n) {
            n = n || 0;
            return ( Math.round(this * Math.pow(10, n + 2)) / Math.pow(10, n) ).toFixed(n) + '%';
        }
        Date.prototype.format = function(format) //author: meizz
        {
            var o = {
                "M+" : this.getMonth()+1, //month
                "d+" : this.getDate(),    //day
                "h+" : this.getHours(),   //hour
                "m+" : this.getMinutes(), //minute
                "s+" : this.getSeconds(), //second
                "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
                "S" : this.getMilliseconds() //millisecond
            }
            if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
                    (this.getFullYear()+"").substr(4 - RegExp.$1.length));
            for(var k in o)if(new RegExp("("+ k +")").test(format))
                format = format.replace(RegExp.$1,
                        RegExp.$1.length==1 ? o[k] :
                                ("00"+ o[k]).substr((""+ o[k]).length));
            return format;
        }

        Date.prototype.formatYMS = function(){
            return this.format('yyyy-MM-dd');
        }
        Date.prototype.formatMS = function(){
            return this.format('MM月dd');
        }
        Date.prototype.formatYMDMS = function(){
            return this.format('yyyy-MM-dd hh:mm:ss');
        }

    })(jQuery, window));
</script>




<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-fixed.css?_v=2">
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-ie6.css?_v=2">
<![endif]-->
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/ie.css?_v=2">
<![endif]-->
<link rel="stylesheet" media="screen" href='/css/taozhanggui.css?_v=3'>
<link rel="stylesheet" media="screen" href='/css/keywords/keywords.css?_v=2'>


<div class="navbar navbar-inverse nav-head navbar-fixed-top" style="position: relative;">
    <div class="navbar-inner">
        <div class="container">

            <div class="nav-collapse collapse">
                <ul class="nav head">
                    <li><a href="/kits/adminTaskList">批量复制任务</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="yangyangContent" style="width: 1300px;">

    <div style="border: 1px solid #aaa;">
    #{doLayout /}
    </div>
</div>





#{get 'moreScripts' /}
</body>
</html>