.b1,.b2,.b3,.b4,.b1b,.b2b,.b3b,.b4b,.b{display:block;overflow:hidden;}
.b1,.b2,.b3,.b1b,.b2b,.b3b{height:1px;}
.b2,.b3,.b4,.b2b,.b3b,.b4b,.b{border-left:1px solid #999;border-right:1px solid #999;}
.b1,.b1b{margin:0 5px;background:#999;}
.b2,.b2b{margin:0 3px;border-width:2px;}
.b3,.b3b{margin:0 2px;}
.b4,.b4b{height:2px;margin:0 1px;}
/*.d1{background:#F7F8F9;}*/
 #bustopkey{display: block;position: relative;width:800px;margin:0 auto;}
 #Content{width:780px;margin:0 auto;background: white;}
.selectCat1,.selectCat2,.selectCat3{margin-left: 50px;margin-top:20px;width:180px;float: left;height:25px;}
.clear{float: none;clear: both;}
.tableContent{width:98%;margin-left: 5px;margin-top: 10px;text-align:center;}
table.busSearch {width:100%;font-family:verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-collapse: collapse;border:1px solid #ccc;}
.busSearch thead td,.busSearch tbody td,.busSearch-tbody td,.busSearch-tbody th{
    border-bottom:1px solid #ccc;border-top:1px solid #ccc;
}


.busSearch tbody tr:hover{background-color: #ffe;}
.busSearch thead tr{
    background: -webkit-linear-gradient(top,#FEFEFE,#F7F7F7);
    background: -moz-linear-gradient(top,#FEFEFE,#F7F7F7);
    background: -ms-linear-gradient(#FEFEFE,#F7F7F7);
    background: -o-linear-gradient(#FEFEFE,#F7F7F7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFEFEFE, endColorstr=#FFF7F7F7);
}
 table.busSearch th {padding: 4px;height:24px;}
table.busSearch td {word-wrap: break-word;word-break: break-all;padding:3px;}
table.busSearch td  .addTextWrapper{margin:8px 3px 8px 5px;}
.busSearch-tbody tr{height: 18px;line-height: 18px;}
.sort-td{padding-right: 15px;color: #2EB1AA;cursor: pointer;}
.sort-down{background: url(/img/sort-bg.png) no-repeat right;}
.sort-up{background: url(/img/sort-bg.png) no-repeat right -48px;}
