#{extends 'dianputuiguang/newbase.html' /}
#{set title:'推广 - 错误页面' /}

<style type="text/css">

    .return-btn:hover {
        text-decoration: underline;
    }

</style>

<div class="item-container" style="text-align: center; ">
    <div style="padding-top: 100px; font-size: 18px;">
        系统出现了一些异常，请联系我们！
    </div>
    <div style="display: none;">

    </div>
    <div style="padding-top: 20px;">
        <a href="/dianputuiguang/index" class="return-btn" style="color: blue; ">点击回到首页>></a>
    </div>
</div>

<script type="text/javascript">

</script>
