#{extends 'dianputuiguang/newbase.html' /}
#{set title:'体验版升级' /}
<style>
    .upgrade{width: 100%;}
    .upgrade-table{width: 100%;border: 1px solid #f27b03;text-align: center;}
    .upgrade-table td{border-right: 1px solid #f27b03;}
    .upgrade-table-thead tr{border-bottom: 1px solid #f27b03;height: 50px;line-height: 50px;}
    .upgrade-table-tbody tr{border-bottom: 1px solid #f27b03;}
    .red{color: red;}
</style>

<div class="upgrade">
    <table class="upgrade-table">
        <thead class="upgrade-table-thead">
            <tr>
                <td>版本信息</td>
                <td>可推广宝贝数</td>
                <td>是否可更换宝贝</td>
                <td>赠送热销推广位数</td>
                <td>友情升级价</td>
            </tr>
        </thead>
        <tbody class="upgrade-table-tbody">
            <tr>
                <td>一个优质推广位</td>
                <td>1</td>
                <td>可以</td>
                <td>0</td>
                <td class="red">
                    <p>一个月</p>
                    <p>一季度</p>
                    <p>半年</p>
                    <p>一年</p>
                </td>
            </tr>
            <tr>
                <td>一个优质推广位</td>
                <td>1</td>
                <td>可以</td>
                <td>0</td>
                <td>
                    <p>一个月</p>
                    <p>一季度</p>
                    <p>半年</p>
                    <p>一年</p>
                </td>
            </tr>
            <tr>
                <td>一个优质推广位</td>
                <td>1</td>
                <td>可以</td>
                <td>0</td>
                <td>
                    <p>一个月</p>
                    <p>一季度</p>
                    <p>半年</p>
                    <p>一年</p>
                </td>
            </tr>
            <tr>
                <td>一个优质推广位</td>
                <td>1</td>
                <td>可以</td>
                <td>0</td>
                <td>
                    <p>一个月</p>
                    <p>一季度</p>
                    <p>半年</p>
                    <p>一年</p>
                </td>
            </tr>
            <tr>
                <td>一个优质推广位</td>
                <td>1</td>
                <td>可以</td>
                <td>0</td>
                <td>
                    <p>一个月</p>
                    <p>一季度</p>
                    <p>半年</p>
                    <p>一年</p>
                </td>
            </tr>
            <tr>
                <td>一个优质推广位</td>
                <td>1</td>
                <td>可以</td>
                <td>0</td>
                <td>
                    <p>一个月</p>
                    <p>一季度</p>
                    <p>半年</p>
                    <p>一年</p>
                </td>
            </tr>
            <tr>
                <td>一个优质推广位</td>
                <td>1</td>
                <td>可以</td>
                <td>0</td>
                <td>
                    <p>一个月</p>
                    <p>一季度</p>
                    <p>半年</p>
                    <p>一年</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>