#{extends 'QianNiu/Tbt/QNTbtMain.html' /}
#{set title:'淘标题-智能流量优化专家' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="/public/stylesheets/score.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/Switch/switch.css"/>
<link rel="stylesheet" media="screen" href="/public/stylesheets/commsTab/commsTab.css">
<link rel="stylesheet" media="screen" href="/css/taozhanguiindex.css">
<link rel="stylesheet" media="screen" href="/css/newindex.css">
#{/set}

<div class="showinfree" style="background-color:#f2efde;display:none;">
    <div style="width:700px;margin-left:119px;">
        <a target="_blank" href="http://to.taobao.com/uRbfzgy" style="border: 1px solid #ccc;">
            <img src="http://img02.taobaocdn.com/imgextra/i2/22902351/T2B.kQXb4XXXXXXXXX_!!22902351.jpg">
        </a>
    </div>
</div>
<div class="before-xianjia hidden" style="width: 100%;text-align: center;background-color: #ffd;">
    <p style="margin-top: 0px;padding-top: 15px;">接淘宝最新通知，淘掌柜<span style="color: blue;font-size: 24px;">至尊全功能版</span><a
            target="_blank" href="http://to.taobao.com/TguGTiy"><span
            style="color: red;font-size: 24px;">39包年</span></a>最后倒计时···</p>

    <p>8月4号起，将定价<span style="color: blue;font-size: 24px;">99包年</span>~~~亲们抓紧最后机会<a target="_blank"
                                                                                    href="http://to.taobao.com/TguGTiy"><span
            style="color: red;font-size: 24px;">续费</span></a>哦！</p>
    <a href="http://to.taobao.com/TguGTiy" target="_blank" class=" verbtn btn btn-warning"
       id="before-xianjia-link">立即升级</a>
</div>
<div style="text-align: center;">
        <span class="intro inlineblock"
              style="width: 100%;font-size: 16px;margin: 0;padding: 4px 0;">
            免费培训，解答一切淘宝经营问题 直接 qq联系：<span style="color: red; font-size: 20px;">800053633</span>
        </span>
</div>


<div id="" class="" style="width: 100%;">
    <table class="top-ten-topkey-table">
        <tbody>
        <tr style="height: 150px;">
            <td>
                <div id="userInfo" style="background: none;border-bottom: none;">
                    <div id='subscribe' class='firstLineDiv'>
                        <div id='username' style="font-size: 14px;font-weight: bold;">绵羊团队欢迎您</div>
                        <div>订购版本：<b id='verText' style="color: red;"></b></div>
                        <div>剩余天数 : <b id='dayLeftText' style="color: red;"></b></div>
                        <div><a class="verbtn tmbtn yellow-btn" target="_blank" href="">点击升级</a></div>
                    </div>
                    <div class="chedaoxueyuan" style="width: 630px;height: 130px;float: right;">
                        <table style="width: 100%;text-align: center;">
                            <tbody>
                            <tr style="height: 15px;">
                                <td colspan="10"></td>
                            </tr>
                            <tr style="height: 40px;">
                                <td colspan="10" style="font-size: 24px;color: #000000;">
                                    新车道电商学院免费培训教程
                                </td>
                            </tr>
                            <tr style="height: 30px;">
                                <td style="font-size: 20px;color: #000000;">
                                    在线答疑时间: <span style="color: red;">10:30-22:00</span>
                                </td>
                                <td style="font-size: 20px;color: #000000;">
                                    答疑教室: <span style="color: red;">YY(歪歪)</span>语音平台(不懂请百度)
                                </td>
                            </tr>
                            <tr style="height: 30px;">
                                <td colspan="10" style="font-size: 24px;color: #000000;">
                                    <span style="color: red;">YY(歪歪)</span>房间频道号: <span style="color: red;">101802</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class='clearfix'></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="shop-pc-online-info-table-div hidden">
    <div class="title-head">
        &nbsp;&nbsp;昨日流量成交数据<a href="/Diag/shopViewTrade"><span
            style="margin-left: 24px;font-size: 14px;font-family: '微软雅黑';color: red;">查看详情>></span></a>
    </div>
    <table class="shop-pc-online-info-table">
    *{<thead>
                        <tr>
                           <td colspan="10">
                               <span class="shop-pc-online-info-thead-title">全店流量成交数据</span>
                           </td>
                        </tr>
                    </thead>}*
        <tbody>
        <tr style="height: 11px;">

        </tr>
        <tr class="key-value-tr">
            <td class="IntTd">
                <div class="value pv">0</div>
                <div class="key">浏览量</div>
            </td>
            <td class="IntTd">
                <div class="value uv">0</div>
                <div class="key">访客数</div>

            </td>
            <td class="IntTd">
                <div class="value viewRepeat">0</div>
                <div class="key">浏览回头客</div>

            </td>
            <td class="IntTd">
                <div class="value tradeRepeat">0</div>
                <div class="key">成交回头客</div>

            </td>
            <td class="PercentTd">
                <div class="value accessDeepth">0</div>
                <div class="key">访问深度</div>

            </td>
            <td class="PercentTd">
                <div class="value viewRepeatRate">0</div>
                <div class="key">回头客率</div>

            </td>
        </tr>
        <tr class="key-value-tr">
            <td class="IntTd">
                <div class="value alipayTradeNum">0</div>
                <div class="key">支付宝付款订单数</div>

            </td>
            <td class="IntTd">
                <div class="value alipayItemNum">0</div>
                <div class="key">支付宝付款宝贝数</div>

            </td>
            <td class="IntTd">
                <div class="value alipayTradeAmount">0</div>
                <div class="key">支付宝付款金额</div>

            </td>
            <td class="IntTd">
                <div class="value alipayUserNum">0</div>
                <div class="key">支付宝付款人数</div>

            </td>
            <td class="PercentTd">
                <div class="value tradeRate">0</div>
                <div class="key">成交转化率</div>

            </td>
            <td class="PercentTd">
                <div class="value bounceRate">0</div>
                <div class="key">跳失率</div>

            </td>
        </tr>

        </tbody>
    </table>
    <div id="shop-pv-uv-trade-trend-chart">

    </div>
</div>
<div class="ShopDiagnoseArea" style='width:770px;;margin: 2px auto; background-color: white;'>
    <div class="title-head" style="margin-bottom: 20px;">
        &nbsp;&nbsp;功能列表
    </div>
    <table style="width: 100%;">
        <tbody>
        <tr>
            <td>
                <div class="titleModify ShopDiagnoseAreaTablePic"></div>
                <div class="ShopDiagnoseAreaTbodyTdText">站内引流</div>
            </td>
            <td>
                <div class="searchRank ShopDiagnoseAreaTablePic"></div>
                <div class="ShopDiagnoseAreaTbodyTdText">数据中心</div>
            </td>
            <td>
                <div class="showWindow ShopDiagnoseAreaTablePic"></div>
                <div class="ShopDiagnoseAreaTbodyTdText">批量中心</div>
            </td>
            <td>
                <div class="autoDelist ShopDiagnoseAreaTablePic"></div>
                <div class="ShopDiagnoseAreaTbodyTdText">词库中心</div>
            </td>
            <td>
                <div class="CatDelistAnalysis ShopDiagnoseAreaTablePic"></div>
                <div class="ShopDiagnoseAreaTbodyTdText">活动中心</div>
            </td>

        </tr>
        <tr class="detailFunTR">
            <td>
                <div class="detailFun"><a target="_blank" href="/home/commodityDiag"><span>标题优化</span></a></div>
                <div class="detailFun"><a target="_blank" href="/kits/delistPlans"><span>智能上架</span></a></div>
                <div class="detailFun"><a target="_blank" href="/kits/window"><span>智能橱窗</span></a></div>
                <div class="detailFun"><a target="_blank" href="/delistsearch/index"><span>行业上下架分析</span></a></div>
                <div class="detailFun"><a target="_blank" href="/home/instantSearch"><span>查排名</span></a></div>
                <div class="detailFun"><a target="_blank" href="/CatAnalysis/catPayHour"><span>买家什么时候来</span></a></div>
            </td>
            <td>
                <div class="detailFun"><a target="_blank" href="/home/catAnalysis"><span>行业数据分析<span style="color:red">(新)</span></span></a></div>
                <div class="detailFun"><a target="_blank" href="/Diag/shopViewTrade"><span>店铺经营数据</span></a></div>
                <div class="detailFun"><a target="_blank" href="/Diag/shopSrcDiag"><span>流量来源分析</span></a></div>
                <div class="detailFun"><a target="_blank" href="/Diag/searchDiag"><span>宝贝搜索分析</span></a></div>
                <div class="detailFun"><a target="_blank" href="/Diag/shopSearchWords"><span>入店关键词分析</span></a></div>
                <div class="detailFun"><a target="_blank" href="/Diag/areaDiag"><span>地域分析</span></a></div>
                <div class="detailFun"><a target="_blank" href="/Diag/commodityDiag"><span>宝贝分析</span></a></div>
            </td>
            <td>
                <div class="detailFun"><a target="_blank" href="/kits/comment"><span>自动评价</span></a></div>
                <div class="detailFun"><a target="_blank" href="/home/multiModify"><span>批量标题</span></a></div>
                <div class="detailFun"><a target="_blank" href="/skinbatch/batchprice"><span>批量改价</span></a></div>
                <div class="detailFun"><a target="_blank" href="/skinbatch/batchdelist"><span>批量下架</span></a></div>
                <div class="detailFun"><a target="_blank" href="/kits/alibabaCarrier"><span>1688复制</span><span style="color:red">(新)</span></a></div>
            </td>
            <td>
                <div class="detailFun"><a target="_blank" href="/home/mywords"><span>我的词库</span></a></div>
                <div class="detailFun"><a target="_blank" href="/home/bussearchkey"><span>淘词</span></a></div>
                <div class="detailFun"><a target="_blank" href="/home/bustopkey"><span>类目热搜词</span></a></div>
                <div class="detailFun"><a target="_blank" href="/home/topKey"><span>关键词榜单</span></a></div>
            </td>
            <td>
                <div class="detailFun"><a target="_blank" href="/taozhanggui/lottery"><span>转盘抽奖</span></a></div>
                <div class="detailFun"><a target="_blank" href="/taozhanggui/award"><span>好评有礼</span></a></div>
                <div class="detailFun"><a target="_blank" href="/taozhanggui/invite"><span>一起赚钱</span></a></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
*{<div class="ShopDiagnoseArea" style='width:820px;;margin: 2px auto; background-color: white;'>
    <div class="title-head" style="margin-bottom: 20px;">
        &nbsp;&nbsp;功能列表
    </div>
    <div class="ShopDiagnoseAreaHead">
        <span class="inlineblock taobaoSearch"></span>
        <span class="ShopDiagnoseAreaHeadTitle">
            站内搜索优化
        </span>
        <span class="question" content="专注于提升站内搜索转化"></span>
    </div>
    <div class="taobaoSearchContent">
        <table class="ShopDiagnoseAreaTable">
            <tbody>
            <tr>
                <td style="width: 16%;">
                    <a href="/home/commodityDiag">
                        <div class="titleModify ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/commodityDiag">
                            <span class="ShopDiagnoseAreaTableText">
                                标题优化
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/home/instantSearch">
                        <div class="searchRank ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/instantSearch">
                            <span class="ShopDiagnoseAreaTableText">
                                排名查询
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/kits/window">
                        <div class="showWindow ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/kits/window">
                            <span class="ShopDiagnoseAreaTableText">
                                智能橱窗
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/kits/delistPlans">
                        <div class="autoDelist ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/kits/delistPlans">
                        <span class="ShopDiagnoseAreaTableText">
                            智能上下架
                        </span>
                    </a>
                </td>
                <td style="width: 20%;">
                    <a href="/delistsearch/index">
                        <div class="CatDelistAnalysis ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/delistsearch/index">
                        <span class="ShopDiagnoseAreaTableText">
                            行业上下架分析
                        </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/CatAnalysis/catPayHour">
                        <div class="catPayHour ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/CatAnalysis/catPayHour">
                        <span class="ShopDiagnoseAreaTableText">
                            买家什么时候来
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ShopDiagnoseAreaHead">
        <span class="inlineblock dataCenter"></span>
        <span class="ShopDiagnoseAreaHeadTitle">
            数据中心
        </span>
        <span class="question" content="店铺宝贝流量销量数据分析"></span>
    </div>
    <div class="dataCenterContent">
        <table class="ShopDiagnoseAreaTable">
            <tbody>
            <tr>
                <td style="width: 16%;">
                    <a href="/Diag/shopViewTrade">
                        <div class="shopViewTrade ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/Diag/shopViewTrade">
                            <span class="ShopDiagnoseAreaTableText">
                                店铺经营数据
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/Diag/shopSrcDiag">
                        <div class="shopSrcDiag ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/Diag/shopSrcDiag">
                            <span class="ShopDiagnoseAreaTableText">
                                店铺流量来源
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/Diag/searchDiag">
                        <div class="searchDiag ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/Diag/searchDiag">
                            <span class="ShopDiagnoseAreaTableText">
                                宝贝搜索分析
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/Diag/areaDiag">
                        <div class="areaDiag ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/Diag/areaDiag">
                        <span class="ShopDiagnoseAreaTableText">
                            买家地域分析
                        </span>
                    </a>
                </td>
                <td style="width: 20%;">
                    <a href="/Diag/shopSearchWords">
                        <div class="shopSearchWords ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/Diag/shopSearchWords">
                        <span class="ShopDiagnoseAreaTableText">
                            入店关键词分析
                        </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/Diag/commodityDiag">
                        <div class="commodityDiag ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/Diag/commodityDiag">
                        <span class="ShopDiagnoseAreaTableText">
                            宝贝分析
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ShopDiagnoseAreaHead">
        <span class="inlineblock batchCenter"></span>
        <span class="ShopDiagnoseAreaHeadTitle">
            批量中心
        </span>
        <span class="question" content="批量快捷操作"></span>
    </div>
    <div class="batchCenterContent">
        <table class="ShopDiagnoseAreaTable">
            <tbody>
            <tr>
                <td style="width: 16%;">
                    <a href="/kits/comment">
                        <div class="comment ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/kits/comment">
                            <span class="ShopDiagnoseAreaTableText">
                                自动评价
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/home/multiModify">
                        <div class="multiModify ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/multiModify">
                            <span class="ShopDiagnoseAreaTableText">
                                批量标题
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/skinbatch/batchprice">
                        <div class="batchprice ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/skinbatch/batchprice">
                            <span class="ShopDiagnoseAreaTableText">
                                批量改价
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/skinbatch/batchdelist">
                        <div class="batchdelist ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/skinbatch/batchdelist">
                        <span class="ShopDiagnoseAreaTableText">
                            批量下架
                        </span>
                    </a>
                </td>
                <td style="width: 20%;">

                </td>
                <td style="width: 16%;">

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ShopDiagnoseAreaHead">
        <span class="inlineblock wordCenter"></span>
        <span class="ShopDiagnoseAreaHeadTitle">
            关键词中心
        </span>
        <span class="question" content="海量词库任你选"></span>
    </div>
    <div class="wordCenterContent">
        <table class="ShopDiagnoseAreaTable">
            <tbody>
            <tr>

                <td style="width: 16%;">
                    <a href="/home/mywords">
                        <div class="mywords ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/mywords">
                        <span class="ShopDiagnoseAreaTableText">
                            我的词库
                        </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/home/bussearchkey">
                        <div class="bussearchkey ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/bussearchkey">
                        <span class="ShopDiagnoseAreaTableText">
                            淘词
                        </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/home/bustopkey">
                        <div class="bustopkey ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/bustopkey">
                        <span class="ShopDiagnoseAreaTableText">
                            类目热搜词
                        </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/home/topKey">
                        <div class="topKey ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/topKey">
                        <span class="ShopDiagnoseAreaTableText">
                            关键词榜单
                        </span>
                    </a>
                </td>
                <td style="width: 20%;">

                </td>
                <td style="width: 16%;">

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ShopDiagnoseAreaHead">
        <span class="inlineblock AwardCenter"></span>
        <span class="ShopDiagnoseAreaHeadTitle">
            活动中心
        </span>
        <span class="question" content="优惠活动"></span>
    </div>
    <div class="batchCenterContent">
        <table class="ShopDiagnoseAreaTable">
            <tbody>
            <tr>

                <td style="width: 16%;">
                    <a href="/taozhanggui/lottery">
                        <div class="lottery ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/taozhanggui/lottery">
                            <span class="ShopDiagnoseAreaTableText">
                                转盘抽奖
                            </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/taozhanggui/award">
                        <div class="award ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/taozhanggui/award">
                        <span class="ShopDiagnoseAreaTableText">
                            好评有礼
                        </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/taozhanggui/invite">
                        <div class="invite ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/taozhanggui/invite">
                        <span class="ShopDiagnoseAreaTableText">
                            一起赚钱
                        </span>
                    </a>
                </td>
                <td style="width: 16%;">
                    <a href="/home/classes">
                        <div class="classes ShopDiagnoseAreaTablePic"></div>
                    </a>
                    <a href="/home/classes">
                        <span class="ShopDiagnoseAreaTableText">
                            培训中心
                        </span>
                    </a>
                </td>
                <td style="width: 20%;">

                </td>
                <td style="width: 16%;">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>}*
<!-- this is the prize area -->
<div id="prize_track" style="display: none;">
    <marquee behavior="slide" direction="down" scrollamount="1">
        <a id="open_prize" href="javascript:void(0)"><img alt="礼盒" id="prize_box" src="/public/images/prize/prize.gif"></a>
    </marquee>
</div>
<!-- open dialog -->
<div id="dialog" style="width: 725px; height: 450; display: none; text-align: center; "
     class="ui-dialog-content ui-widget-content">
    <div style="margin-left:35px;text-align: center;">
        <div id="version_top">
            <img alt="top" src="/public/images/version/version_top.jpg">
        </div>
        <div id="version_middle">
            <img src="/public/images/version/version_middle.jpg" alt="top" usemap="#Map2" border="0">
            <map name="Map2" id="Map2">
                <area shape="rect" coords="211,152,302,182" href="javascript:void(0)" id="buy_version_1"/>
                <area shape="rect" coords="362,153,450,180" href="javascript:void(0)" id="buy_version_2"/>
            </map>
        </div>
        <div id="version_foot">
            <img src="/public/images/version/version_foot.jpg" alt="top" usemap="#Map" border="0">
            <map name="Map" id="Map">
                <area shape="rect" coords="211,147,303,176" href="javascript:void(0)" id="buy_version_3"/>
                <area shape="rect" coords="361,146,452,175" href="javascript:void(0)" id="buy_version_4"/>
            </map>
        </div>
    </div>
</div>


<div style="display:none;">
    <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2A8MUXdFaXXXXXXXX_!!22902351.png"/>
    <img src="http://img01.taobaocdn.com/imgextra/i1/22902351/T2s5.VXfXaXXXXXXXX_!!22902351.png"/>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    // If TM.ver is less than 10, then it's just a free version, if it >= 10 and < 20, then it's the basic version, at last, it would be the vip version
    // alert(TM.ver)
    //console.info(TM.ver);
    TM.Loading.init.show();
    var doAfterSync = function(){
        TM.gcs('/home/firstSync', function () {
            $(document).ready(function () {
                //TM.gcs("/js/index.js?_v=3", function () {
                TM.gcs("/js/newindex.js?_v=25", function () {

                    TM.widget.setLotteryInterval();
                    var page_url = window.location.href;
                    var uri = $.url(page_url, true);
                    var first = uri.data.param.query.isFirst;
                    var isFirst = (first == "true") ? true : false;
                    TM.isFirst = isFirst;

                    if (parseInt(TM.ver) >= 30) {
                        $('.ransom-qqqun').text(296556439);
                    } else {
                        $('.ransom-qqqun').text(143013107);
                    }

                    $.get("/Home/getCidTopKey", function (data) {
                        if (data === undefined || data == null) {
                            return;
                        }
                        if (data == "用户不存在") {
                            return;
                        }
                        if (data.res.length == 0) {
                            return;
                        }
                        var tbody = $('<tbody></tbody>');
                        $(data.res).each(function (i, word) {
                            var indexClass = "top" + (i + 1);
                            var rankClass = "";
                            if (parseInt(word.rankChange) > 0) {
                                rankClass = "up";
                            } else if (parseInt(word.rankChange) == 0) {
                                rankClass = "draw";
                            } else {
                                rankClass = "down";
                            }
                            var text = word.text.length > 10 ? word.text.substr(0,10) + "..." : word.text;
                            tbody.append($('<tr><td><span class="top-ten ' + indexClass + ' inlineblock"></span></td><td>' + text + '</td><td>' + word.rankChange + '</td><td class="right-td"><span class="inlineblock rate ' + rankClass + '"></span></td></tr>'))
                        });
                        if (!isNaN(data.msg)) {
                            var cid = parseInt(data.msg);
                            $('#upTopTenWordsTable .look-all').attr("href", "/Home/topKey?cid=" + cid)
                        }

                        $('#upTopTenWordsTable tbody').remove();
                        $('#upTopTenWordsTable').append(tbody);
                    });

                    TM.Newindex.init(isFirst);
                    //TM.Newindex.intro();
                    TM.widget.bindQtips();
                    //TM.gcs('/js/Kits/autodelist.js');
                        #{get 'moreAjaxScripts' /};
                });
                //});
            });
        });
    }
    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js', function () {
        TM.gcs('/js/jquery.url.js', function () {
            TM.gcs("/status/js", function () {
                TM.gcs('/js/switch.js', function () {
                    TM.gcs('/js/commstab/commstab.js', function () {
                        TM.gcs("/js/tm.js?", function () {
                            TM.gcs('/home/firstSync', function () {
                                $(document).ready(function () {
                                    //TM.gcs("/js/index.js?_v=3", function () {
                                    TM.gcs("/js/newindex.js?_v=26", function () {
                                        console.log(new Date().getTime())
                                        TM.widget.setLotteryInterval();
                                        var page_url = window.location.href;
                                        var uri = $.url(page_url, true);
                                        var first = uri.data.param.query.isFirst;
                                        var isFirst = (first == "true") ? true : false;
                                        TM.isFirst = isFirst;

                                        if (parseInt(TM.ver) >= 30) {
                                            $('.ransom-qqqun').text(296556439);
                                        } else {
                                            $('.ransom-qqqun').text(302180996);
                                        }

                                        $.get("/Home/getCidTopKey", function (data) {
                                            if (data === undefined || data == null) {
                                                return;
                                            }
                                            if (data == "用户不存在") {
                                                return;
                                            }
                                            if (data.res.length == 0) {
                                                return;
                                            }
                                            var tbody = $('<tbody></tbody>');
                                            $(data.res).each(function (i, word) {
                                                var indexClass = "top" + (i + 1);
                                                var rankClass = "";
                                                if (parseInt(word.rankChange) > 0) {
                                                    rankClass = "up";
                                                } else if (parseInt(word.rankChange) == 0) {
                                                    rankClass = "draw";
                                                } else {
                                                    rankClass = "down";
                                                }
                                                var text = word.text.length > 10 ? word.text.substr(0,10) + "..." : word.text;
                                                tbody.append($('<tr><td><span class="top-ten ' + indexClass + ' inlineblock"></span></td><td>' + text + '</td><td>' + word.rankChange + '</td><td class="right-td"><span class="inlineblock rate ' + rankClass + '"></span></td></tr>'))
                                            });
                                            if (!isNaN(data.msg)) {
                                                var cid = parseInt(data.msg);
                                                $('#upTopTenWordsTable .look-all').attr("href", "/Home/topKey?cid=" + cid)
                                            }

                                            $('#upTopTenWordsTable tbody').remove();
                                            $('#upTopTenWordsTable').append(tbody);
                                        });

                                        TM.Newindex.init(isFirst);
                                        //TM.Newindex.intro();
                                        TM.widget.bindQtips();
                                        //TM.gcs('/js/Kits/autodelist.js');
                                            #{get 'moreAjaxScripts' /};
                                    });
                                    //});
                                });
                            });
                        });
                    });
                });
            });
        });
    });
</script>
#{/set}

#{get 'moreAjaxScripts' /}
