<div class="template" value="100908" align="center">
<a class="tzg_tag_name"></a>
<table class="tmp_table" value="100908" style="border-bottom: #dedede 1.0px solid;border-left: #dedede 1.0px solid;width: 948.0px;border-top: #dedede 1.0px solid;border-right: #dedede 1.0px solid;">
    <tbody>
    <tr>
        <td>
            <table class="tmp_td_bac_col" style="background-color: #83e4fc;height:75px;width:950px;"  border="0" cellpadding="0" cellspacing="0" >
                <tbody>
                <tr>
                    <td class="tmp_td_act_tit" style="padding-left: 15.0px;font-family: 微软雅黑;color: #ffffff;font-size: 48.0px;font-weight: bold;" align="left">
                        NEW新品特惠
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="font-family: 宋体;color: #666666;" border="0" cellpadding="0" cellspacing="0" width="950">
                <tbody>
                <tr>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                        <div class="tmp_td_item_id"></div>
                        <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                            <tbody>
                            <tr>
                                <td colspan="2" align="center" valign="center" width="220">
                                    <a class="tmp_td_item_href" target="_blank">
                                        <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" valign="center">
                                    <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                        <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                            <font class="tmp_td_item_title" color="#666666">
                                            </font>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;" align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                </td>
                                <td class="tmp_td_bac_col" style="background-color:#83e4fc;" align="center">
                                    <b style="color: #ffffff;">HOT</b>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </td>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                            <div class="tmp_td_item_id"></div>
                            <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center" valign="center" width="220">
                                        <a class="tmp_td_item_href" target="_blank">
                                            <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="center">
                                        <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                            <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                                <font class="tmp_td_item_title" color="#666666">
                                                </font>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;"align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                    </td>
                                    <td class="tmp_td_bac_col" style="background-color: #83e4fc;" align="center">
                                        <b style="color: #ffffff;">HOT</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                            <div class="tmp_td_item_id"></div>
                            <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center" valign="center" width="220">
                                        <a class="tmp_td_item_href" target="_blank">
                                            <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="center">
                                        <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                            <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                                <font class="tmp_td_item_title" color="#666666">
                                                </font>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;"align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                    </td>
                                    <td class="tmp_td_bac_col" style="background-color: #83e4fc;" align="center">
                                        <b style="color: #ffffff;">HOT</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                            <div class="tmp_td_item_id"></div>
                            <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center" valign="center" width="220">
                                        <a class="tmp_td_item_href" target="_blank">
                                            <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="center">
                                        <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                            <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                                <font class="tmp_td_item_title" color="#666666">
                                                </font>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;"align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                    </td>
                                    <td class="tmp_td_bac_col" style="background-color: #83e4fc;" align="center">
                                        <b style="color: #ffffff;">HOT</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                            <div class="tmp_td_item_id"></div>
                            <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center" valign="center" width="220">
                                        <a class="tmp_td_item_href" target="_blank">
                                            <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="center">
                                        <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                            <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                                <font class="tmp_td_item_title" color="#666666">
                                                </font>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;"align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                    </td>
                                    <td class="tmp_td_bac_col" style="background-color: #83e4fc;" align="center">
                                        <b style="color: #ffffff;">HOT</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                            <div class="tmp_td_item_id"></div>
                            <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center" valign="center" width="220">
                                        <a class="tmp_td_item_href" target="_blank">
                                            <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="center">
                                        <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                            <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                                <font class="tmp_td_item_title" color="#666666">
                                                </font>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;"align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                    </td>
                                    <td class="tmp_td_bac_col" style="background-color: #83e4fc;" align="center">
                                        <b style="color: #ffffff;">HOT</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                            <div class="tmp_td_item_id"></div>
                            <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center" valign="center" width="220">
                                        <a class="tmp_td_item_href" target="_blank">
                                            <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="center">
                                        <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                            <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                                <font class="tmp_td_item_title" color="#666666">
                                                </font>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;"align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                    </td>
                                    <td class="tmp_td_bac_col" style="background-color: #83e4fc;" align="center">
                                        <b style="color: #ffffff;">HOT</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding-top: 8.0px;" align="center">
                        <div class="tmp_td_item">
                            <div class="tmp_td_item_id"></div>
                            <table style="margin-bottom: 5.0px;font-size: 12.0px;" border="0" cellpadding="0" cellspacing="0" width="220">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center" valign="center" width="220">
                                        <a class="tmp_td_item_href" target="_blank">
                                            <img class="tmp_td_item_img" border="0" style="width:220px;height:220px;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="center">
                                        <div style="padding-bottom: 5.0px;line-height: 18.0px;padding-left: 0.0px;padding-right: 0.0px;height: 32.0px;overflow: hidden;padding-top: 5.0px;">
                                            <a class="tmp_td_item_href" style="text-decoration: none;" target="_blank">
                                                <font class="tmp_td_item_title" color="#666666">
                                                </font>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 0.0px;padding-left: 5.0px;padding-right: 0.0px;padding-top: 0.0px;"align="left">
                                    <span class="tmp_td_bac_col_fon" style="font-family: arial;color: #83e4fc;">RMB
                                        <em class="tmp_td_item_price" style="line-height: 18.0px;font-style: normal;color: #8fc351;font-size: 14.0px;font-weight: 700;"></em>
                                    </span>
                                    </td>
                                    <td class="tmp_td_bac_col" style="background-color: #83e4fc;" align="center">
                                        <b style="color: #ffffff;">HOT</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</div>