<table height="1071" border="0" cellpadding="0" cellspacing="0" width="950" align="center">
    <tbody>
    <tr>
        <td colspan="6">
            <img src="http://img04.taobaocdn.com/imgextra/i4/79742176/TB28EuUXVXXXXbyXXXXXXXXXXXX-79742176.png" height="146" width="950">
        </td>

    </tr>
    <tr>
        <td>
            <table>
                <tbody>
                <tr>
                    <td class="tmp_td_item_img" background="" style="background-repeat: no-repeat;background-position: 50.0% 50.0%;">

                    </td>
                </tr>
                </tbody>
            </table>
            <a target="_blank" href="http://item.taobao.com/item.htm?spm=2013.1.0.0.k7uOsM&amp;id=39019983734">
                <img style="margin: 0.0px;float: none;"
                src="http://gd4.alicdn.com/imgextra/i4/321391362/TB2SVEuXXXXXXaWXFXXXXXXXXXX_!!321391362.jpg"
                height="456" width="315">
            </a>
        </td>
        <td><a target="_blank"
               href="http://item.taobao.com/item.htm?spm=2013.1.0.0.k7uOsM&amp;id=39071407575&amp;qq-pf-to=pcqq.c2c"><img
                alt="" style="margin: 0.0px;float: none;"
                src="http://gd2.alicdn.com/imgextra/i2/321391362/TB2oMiZXXXXXXazXVXXXXXXXXXX_!!321391362.jpg"
                height="456" width="319"></a><br></td>
        <td><a target="_blank"
               href="http://item.taobao.com/item.htm?spm=a1z10.3.w4002-4814159699.67.V49p9b&amp;id=39072451047"><img
                alt="" style="margin: 0.0px;float: none;"
                src="http://gd2.alicdn.com/imgextra/i2/321391362/TB2C_agXVXXXXbjXXXXXXXXXXXX_!!321391362.jpg"
                height="456" width="316"></a><br></td>
    </tr>
    <tr>
        <td><a target="_blank"
               href="http://item.taobao.com/item.htm?spm=2013.1.0.0.k7uOsM&amp;id=38975350173&amp;scene=taobao_shop"><img
                alt="" style="margin: 0.0px;float: none;"
                src="http://gd1.alicdn.com/imgextra/i1/321391362/T29cagX3xaXXXXXXXX_!!321391362.jpg" height="469"
                width="315"></a><br></td>
        <td><a target="_blank"
               href="http://item.taobao.com/item.htm?spm=2013.1.0.0.k7uOsM&amp;id=38194933875&amp;scene=taobao_shop"><img
                alt="" style="margin: 0.0px;float: none;"
                src="http://gd2.alicdn.com/imgextra/i2/321391362/T2z7GsXMXaXXXXXXXX_!!321391362.jpg" height="469"
                width="319"></a><br></td>
        <td><a target="_blank"
               href="http://item.taobao.com/item.htm?spm=2013.1.0.0.k7uOsM&amp;id=38180343400&amp;qq-pf-to=pcqq.c2c&amp;scene=taobao_shop"><img
                alt="" style="margin: 0.0px;float: none;"
                src="http://gd4.alicdn.com/imgextra/i4/321391362/T2PeysXq4bXXXXXXXX_!!321391362.jpg" height="469"
                width="316"></a><br></td>
    </tr>
    </tbody>
</table>
