<div class="template" value="1100506">
    <a class="tzg_tag_name"></a>
    <table class="tmp_table" value="1100506" align="center" style="width:790px;">
        <tbody>
        <tr>
            <td>
                <div style="padding-bottom: 10.0px;width: 748.0px;line-height: 14.0px;margin: 10.0px auto;background: #ffffff;font-size: 12.0px;">
                    <table width="100%" border="0">
                        <tbody>
                        <tr style="border-bottom: 1.0px dashed #cccccc;height:32px;">
                            <td  style="font-size: 18.0px;padding-left: 30.0px;color: #000000;height:32px;">
                                <span class="tmp_td_act_nam_chi">HOT SALES 促销进行时</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;padding-top: 10.0px;text-align: center;" colspan="2">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td width="249">
                                            <div class="tmp_td_item">
                                                <div class="tmp_td_item_id"></div>
                                                <div style="width: 223.0px;height: 223.0px;margin: 13.0px auto;padding: 4.0px;box-shadow: 2.0px 2.0px 6.0px #aaaaaa;border: 1.0px solid #f7f7f7;">
                                                    <a class="tmp_td_item_href" target="_blank">
                                                        <img class="tmp_td_item_img" style="width:223px;height:223px;">
                                                    </a>
                                                </div>
                                                <div style="color: #e32b2d;margin-bottom: 10.0px;font-weight: 600;text-align:center;font-size:14px;">
                                                    <a class="tmp_td_act_tit" style="color: #666666;" target="_blank" >限时秒杀价</a>
                                                        <span >
                                                            ￥<string class="tmp_td_item_price"></string>
                                                        </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="249">
                                            <div class="tmp_td_item">
                                                <div class="tmp_td_item_id"></div>
                                                <div style="width: 223.0px;height: 223.0px;margin: 13.0px auto;padding: 4.0px;box-shadow: 2.0px 2.0px 6.0px #aaaaaa;border: 1.0px solid #f7f7f7;">
                                                    <a class="tmp_td_item_href" target="_blank">
                                                        <img class="tmp_td_item_img" style="width:223px;height:223px;" >

                                                    </a>
                                                </div>
                                                <div style="color: #e32b2d;margin-bottom: 10.0px;font-weight: 600;text-align:center;font-size:14px;">
                                                    <a class="tmp_td_act_tit" style="color: #666666;" target="_blank" >限时秒杀价</a>
                                                        <span >
                                                            ￥<string class="tmp_td_item_price"></string>
                                                        </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="249">
                                            <div class="tmp_td_item">
                                                <div class="tmp_td_item_id"></div>
                                                <div style="width: 223.0px;height: 223.0px;margin: 13.0px auto;padding: 4.0px;box-shadow: 2.0px 2.0px 6.0px #aaaaaa;border: 1.0px solid #f7f7f7;">
                                                    <a class="tmp_td_item_href" target="_blank">
                                                        <img class="tmp_td_item_img" style="width:223px;height:223px;">

                                                    </a>
                                                </div>
                                                <div style="color: #e32b2d;margin-bottom: 10.0px;font-weight: 600;text-align:center;font-size:14px;">
                                                    <a class="tmp_td_act_tit" style="color: #666666;" target="_blank" >限时秒杀价</a>
                                                        <span >
                                                            ￥<string class="tmp_td_item_price"></string>
                                                        </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="249">
                                            <div class="tmp_td_item">
                                                <div class="tmp_td_item_id"></div>
                                                <div style="width: 223.0px;height: 223.0px;margin: 13.0px auto;padding: 4.0px;box-shadow: 2.0px 2.0px 6.0px #aaaaaa;border: 1.0px solid #f7f7f7;">
                                                    <a class="tmp_td_item_href" target="_blank">
                                                        <img class="tmp_td_item_img" style="width:223px;height:223px;">
                                                    </a>
                                                </div>
                                                <div style="color: #e32b2d;margin-bottom: 10.0px;font-weight: 600;text-align:center;font-size:14px;">
                                                    <a class="tmp_td_act_tit" style="color: #666666;" target="_blank" >限时秒杀价</a>
                                                        <span >
                                                            ￥<string class="tmp_td_item_price"></string>
                                                        </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="249">
                                            <div class="tmp_td_item">
                                                <div class="tmp_td_item_id"></div>
                                                <div style="width: 223.0px;height: 223.0px;margin: 13.0px auto;padding: 4.0px;box-shadow: 2.0px 2.0px 6.0px #aaaaaa;border: 1.0px solid #f7f7f7;">
                                                    <a class="tmp_td_item_href" target="_blank">
                                                        <img class="tmp_td_item_img" style="width:223px;height:223px;">
                                                    </a>
                                                </div>
                                                <div style="color: #e32b2d;margin-bottom: 10.0px;font-weight: 600;text-align:center;font-size:14px;">
                                                    <a class="tmp_td_act_tit" style="color: #666666;" target="_blank" >限时秒杀价</a>
                                                        <span >
                                                            ￥<string class="tmp_td_item_price"></string>
                                                        </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="249">
                                            <div class="tmp_td_item">
                                                <div class="tmp_td_item_id"></div>
                                                <div style="width: 223.0px;height: 223.0px;margin: 13.0px auto;padding: 4.0px;box-shadow: 2.0px 2.0px 6.0px #aaaaaa;border: 1.0px solid #f7f7f7;">
                                                    <a class="tmp_td_item_href" target="_blank">
                                                        <img class="tmp_td_item_img" style="width:223px;height:223px;">
                                                    </a>
                                                </div>
                                                <div style="color: #e32b2d;margin-bottom: 10.0px;font-weight: 600;text-align:center;font-size:14px;">
                                                    <a class="tmp_td_act_tit" style="color: #666666;" target="_blank" >限时秒杀价</a>
                                                        <span >
                                                            ￥<string class="tmp_td_item_price"></string>
                                                        </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </tr>
        </tbody>
    </table>
</div>