*{#{extends 'main.html' /}}*
#{extends 'tbtnav/tbtnavdata.html' /}
#{set title:'淘标题-店铺经营数据' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="/public/stylesheets/searchDiag/shopSearchWords.css">
<link rel="stylesheet" media="screen" href="/css/daterangepicker/bootstrap.daterangepicker.css">
<link rel="stylesheet" media="screen" href="/css/daterangepicker/daterangepicker.css" />
#{/set}




<style>
	.data_show {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 20px;
	}
	.data_show td, .data_show th {
		border: 1px solid #cad9ea;
		padding: 0 1em 0;
	}
	.data_show tbody tr {
		height: 36px;
		font-size: 13px;
	}
	.data_show tbody :hover{
		background-color: #F4F4FF;
	}
	.data_show thead tr {
		height:44px;
		background-color: #28A3EF;
		color: #FFFFFF;
	}

</style>
<div class="page-hierarchy">
    <span>当前位置:&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/home/index">淘掌柜&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a>店铺经营数据
</div>

<div class="diag-container">
    <div class="shop-diag-div">
        <div class="searchDiagTip intro hidden" style="text-align: center;margin: 0 auto;margin-bottom: 10px;">
            亲，这里的数据要订购后 <span style='color: red;font-size: 24px;'>第2天</span> 才能够开通的哦,请明天再来哦O(∩_∩)O
        </div>

        <div class="interval-wrapper">
            <div class="interval-tr">

                *{<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 1-day" value="1">最近1天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 3-day" value="3">最近3天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 7-day" value="7">最近7天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 14-day" value="14">最近14天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 0-day" value="0">&nbsp;&nbsp;&nbsp;
                <input type="text" style="width:100px;text-align: center;" id="startTimeInput">~
                <input type="text" style="width:100px;text-align: center;" id="endTimeInput">的数据}*

                <div class="date-range-picker" style="position: relative;width:300px;text-align: center; margin: 0 auto;">
                    <div class="">
                        <input type="text" id="date-range-picker" class="form-control" style="padding-left: 10px" placeholder="日期选择">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;bottom: 10px;right: 10px;top: auto;cursor: pointer;"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="title-head">
            &nbsp;&nbsp;分平台流量成交数据
        </div>
        <div class="shop-pc-online-info">
            <div class="opTabWrapper">
                <span class="inlineblock opTab selected" target="shop">全店流量成交数据</span>
                <span class="inlineblock opTab" target="pc">PC端流量成交数据</span>
                <span class="inlineblock opTab" target="wireless">无线端流量成交数据</span>
            </div>
            <div class="targetDiv">
                <table class="shop-pc-online-info-table">
                *{<thead>
                        <tr>
                           <td colspan="10">
                               <span class="shop-pc-online-info-thead-title">全店流量成交数据</span>
                           </td>
                        </tr>
                    </thead>}*
                    <tbody>
                    <tr style="height: 15px;">

                    </tr>
                    <tr class="key-value-tr">
                        <td class="IntTd">
                            <div class="value pv">0</div>
                            <div class="key">浏览量</div>
                        </td>
                        <td class="IntTd">
                            <div class="value uv">0</div>
                            <div class="key">访客数</div>

                        </td>
                        <td class="IntTd">
                            <div class="value viewRepeat">0</div><div class="key">浏览回头客</div>

                        </td>
                        <td class="IntTd">
                            <div class="value tradeRepeat">0</div><div class="key">成交回头客</div>

                        </td>
                        <td class="PercentTd">
                            <div class="value accessDeepth">0</div><div class="key">访问深度</div>

                        </td>
                        <td class="PercentTd">
                            <div class="value viewRepeatRate">0</div><div class="key">回头客率</div>

                        </td>
                    </tr>
                    <tr class="key-value-tr">
                        <td class="IntTd">
                            <div class="value alipayTradeNum">0</div><div class="key">支付宝付款订单数</div>

                        </td>
                        <td class="IntTd">
                            <div class="value alipayItemNum">0</div><div class="key">支付宝付款宝贝数</div>

                        </td>
                        <td class="IntTd">
                            <div class="value alipayTradeAmount">0</div><div class="key">支付宝付款金额</div>

                        </td>
                        <td class="IntTd">
                            <div class="value alipayUserNum">0</div><div class="key">支付宝付款人数</div>

                        </td>
                        <td class="PercentTd">
                            <div class="value tradeRate">0</div><div class="key">成交转化率</div>

                        </td>
                        <td class="PercentTd">
                            <div class="value bounceRate">0</div><div class="key">跳失率</div>

                        </td>
                    </tr>

                    </tbody>
                </table>
                <div id="shop-pv-uv-trade-trend-chart">

                </div>
            </div>
        </div>
		
		<!-- 成交数据每日详情 -->
		<div id="viemItemShow" class="title-head">&nbsp;&nbsp;成交数据每日详情</div>
		<div class="word-diag-paging" style="text-align: center;"></div>
		<div class="diag-result-div">
			<table class="data_show" border="1">
				<thead>
					<tr>
						<th style="width:7%;">日期</th>
						<th style="width:7%;">浏览量</th>
						<th style="width:7%;">访客量</th>
						<th style="width:7%;">销售额</th>
						<th style="width:7%;">成交件数</th>
						<th style="width:7%;">订单数</th>
						<th style="width:7%;">转化率</th>
						<th style="width:7%;">入口数</th>
						<th style="width:7%;">收藏</th>
						<th style="width:7%;">收藏率</th>
						<th style="width:7%;">购物车</th>
						<th style="width:7%;">加购率</th>
						<th style="width:7%;">搜索UV</th>
						<th style="width:7%;">PC类目UV</th>
					</tr>
				</thead>
				<tbody id="view_item_show" style="text-align: center;"> </tbody>
			</table>
		</div>
        
        <div class="word-diag-paging" style="text-align: center;border-bottom: 1px solid #93ddf8;"></div>
    </div>
</div>

<div id="pv-trend-chart-tmpl" style="display: none;">

</div>

#{set 'moreScripts'}
<script type="text/javascript" src="/js/daterangepicker/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/daterangepicker/moment.js"></script>
<script type="text/javascript" src="/js/daterangepicker/daterangepicker.js"></script>

<script type="text/javascript">
    TM.Loading.init.show();
    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js', function () {
        TM.gcs('/js/highcharts.js', function () {
            TM.gcs('/js/tm.js', function () {
                TM.gcs('/js/jquery.pagination.js', function () {
                	if(typeof(TM.firstLoginTime) == "undefined") {
                		TM.gcs("/status/js", function () {
                			TM.gcs('/js/searchDiag/shopViewTrade.js?_v=14', function () {
                                TM.shopViewTrade.init.doInit($('.diag-container'));
                            });
                		});
                	} else {
                		TM.gcs('/js/searchDiag/shopViewTrade.js?_v=14', function () {
                            TM.shopViewTrade.init.doInit($('.diag-container'));
                        });
                	};
                });
            });
        });
    });
</script>



#{/set}