*{#{extends 'main.html' /}}*
#{extends 'tbtnav/tbtnavseo.html' /}
#{set title:'标题优化视频教程' /}
<style type="text/css">
    p{margin:5px;padding:5px;line-height: 24px;}
</style>
<div class="" style="margin: 20px auto;text-align: left;padding-left:20px;max-width: 1280px;">
    <div class="substance ks-editor-post">
        <div class="ke-post">       
            <p>&nbsp;</p>
            <p><strong style="color:red;font-size:18px;">了解优化标题关键词的原则（注意事项）, 避免违规</strong>
            </p>

            <p>
            标题优化时，请务必先仔细阅读下面十二条原则，这样您将大大提升优化效果
            以及最大限度地避免违规宝贝的出现哦！
            </p>


            <h5>1.经常优化标题</h5>
            <p>淘宝的热门关键词会不断随着季节以及流行趋势的变换，而不断地变化；因
            而建议宝贝关键词标题至少每个月按淘宝热门搜索词来优化一到两次，这样才能
            保持不断地带来搜索流量。</p>

            <h5>2.务必写满30个汉字的关键词（即60个字符）</h5>
            <p>淘宝宝贝标题最多可输入30个关键词，每一个热门冷门的关键词都可能在某
            一时刻被顾客搜索到，以至成交。因此在优化关键词时千万不要偷懒觉得没词可
            填了而空出位置来，要知道30个关键字每个都是流量，都在潜在的成交哦。   </p>

                <h5>3.标题中间尽量少留空格  </h5>
            <p>
            有些朋友看了一些优化标题的文章说要留多些空格出来，让用户在搜索到你
            的宝贝时，能更清晰地看好你的宝贝标题。而事实上你试问一下你自己，你在淘
            宝网上买东东搜索关键词时会看标题吗？我们做过调查的结果显示98%以上的用
            户都是在搜索结果中直接看图片来判断宝贝是否为自己想找的东东。
                </p>
            <p>
            而标题关键词只是引导顾客搜索到他们想要的宝贝而已，也就是说关键词起了
            搜索并展现我们宝贝的作用，而用户是否点击宝贝并进入店铺那就与图片的内容是
            否顾客想要找的宝贝有非常大的关系。
                </p>
            <p>
            因此，我们在优化一个宝贝标题的时候就尽量少用空格，这样就能大大提高宝
            贝的标题效用。你想想，如果一个宝贝标题因空格而少了三到四个关键词的话，200
            个宝贝会流失多少的搜索量呢？我想大家自己心里很明白。
            </p>

                    <h5>4.同类的宝贝标题不可完全相同 </h5>
            <p>很多卖家在为宝贝拟标题时，会发现很多宝贝都是同一类的，属性都很相近，
            所以标题也可能一样。但同类宝贝写标题时最好是能把一些不同的特点属性写进去，
            写的不一样这样就不会认为是重复铺货。至于标题有多少字相同会认为是重复铺货，
            呵呵，类似的问题不要问了啊.....我没法回答的。
            </p>

                        <h5>5.标题中千万不要故意堆砌一些关键词   </h5>
            <p>
            最近一个两皇冠的卖家，卖运动鞋的，告诉我忽然有149个热卖宝贝被屏蔽了，
            问我什么原因。我查了一下，开始还看不出问题，后来问了一下淘宝热线，是因为
            标题中故意搞了多个品牌词（把NIKE、李宇、安踏等品牌词放在同一个宝贝标题，
            这是关键词堆砌啊）都是热销商品，得不偿失！
                </p>

            <p>
            有人问：2011夏季秒杀男款时尚休闲五分短裤/男士花裤/沙滩裤/五分裤/短裤
            标题算不算堆砌关键词呢？其实具体的例子也不好说，只能说关键词放几个没有问
            题，只是别太过分，尽量要与宝贝相关。
            </p>

            <h5>6.标题中不能写一些与宝贝无关的关键词（乱用词） </h5>
            <p>
            例如：你家有一款宝贝是女款短裤，你绝不能因为“连衣裙”及“T恤”等关键词
            搜索量比较大而加入到宝贝里面，因为这样是违规会被处罚的。
            </p>
                            <h5>7.标题中符合宝贝的热搜关键词越多，被搜到的几率越高。</h5>
            <p>
            标题中包含符合该宝贝的属性、特点等的热搜关键词越多，那么当买家输入相关
            关键词寻找宝贝时，您的宝贝被搜索到的几率就越高。但注意，关键词要符合该宝贝。
            top5万的热搜词是根据宝贝类别来推荐的，但同个类别下不同的宝贝也有不同的属性
            与特点，所以，您优化的时候注意根据该宝贝的具体情况来选择合适的词，这样才可
            以避免违规或者优化得更好，以有效提高搜索流量。
            </p>
                                <h5>8.不要把自己店铺的名称写到标题上去      </h5>
                                    <p>
            标题是用来给人家搜索用的，除非你是金冠大卖家，如果是中小卖家根本没必要
            把自己的店铺名称放到标题上去，因为没有人认识你的店所以根本不会有人通过搜索
            您的店铺名称而找到需要的宝贝的，最重要的还是宝贝的名称及属性。
                                    </p>

                                    <h5>9.不要为了突出而把关键词用特殊符号包起来 </h5>
            <p>有一次有个卖家发现自己的宝贝排序很低，卖篮球的，后来找了很久，是因为他
            把【篮球】也用特殊符号包起来了。因为觉得这样突出，而搜索引擎在判断该宝贝时
            却把它排在别的宝贝之后了。                                      </p>

                                    <h5>10.关于标题中的特殊符号使用         </h5>
            <p>很多人在写标题时会喜欢加一些特殊符号 “&” "/" ”#”什么的，其实大家用
            空格就好了。还有类似的+,-号，有个例子，跟大家分享一下，有个卖家搜索NOKIA
            搜索不到，后来发现标题中是“NOKIA+手机”，系统可能会识别成“NOKIA+”的，
            因此在搜索”NOKIA” 时排名就不会高了。所以如果不是英文中本身有特殊符号，
            你就别自作主张加一些特殊符号了。
                                    </p>

                                    <h5>11.重要关键词完全没必要重复          </h5>
                                    <p>
            有人问在标题中把最重要的关键词重复写多几个，会更好吗？答案是否定的。关键
            词重复几次，完全没有必要。
                                    </p>

                                    <p>
            如：夏季清仓T恤  2011新品新款时尚T恤 甜美两件套热门短袖T恤
            上面关键词中T恤重复了三次是对标题的一种浪费，呵呵。
                                    </p>

                                    <h5>12.赠品不得作为宝贝出售                 </h5>
                                    <p>
            不允许在商品标题中恶意添加对赠品、奖品的描述，否则属于乱用关键词。卖家
            可以将相关促销内容添加到宝贝描述中。参加淘宝活动有另行规定的除外；
                                    </p>
        </div>
        <!--添加威望功能-->
        <div class="zhuwei" id="zhuwei">
        </div>
        <!--添加威望列表结束-->
    </div>

</div>


#{set 'moreScripts'}
<script src="/js/jquery.tmpl.js" type="text/javascript"></script>
<script type="text/javascript">
//TM.Loading.init.show();
TM.gcs('/js/jquery.pagination.js',function(){
    TM.gcs('/js/tm.js',function(){
    });
})
</script>
#{/set}