*{#{extends 'main.html' /}}*
#{extends 'tbtnav/tbtnavseo.html' /}
#{set title:'标题优化视频教程' /}
<style type="text/css">
    p{margin:5px;padding:5px;line-height: 24px;}
    span{font-family: microsoft yahei;}
</style>
<div class="" style="margin: 20px auto;text-align: left;padding-left:20px;max-width: 1280px;">
    <div class="substance ks-editor-post">
        <div class="ke-post">
            </p>

            <h1 style="margin-left: 18.0pt;text-indent: -18.0pt;"><span style=""><strong
                    style="color: #0000ff;font-size: 14.0px;line-height: 1.5;"><span style="font-size: 20.0px;"><img>智能橱窗</span></strong></span>
            </h1>

            <div>
                <p style="">
                    淘宝对橱窗推荐的产品进行优先推荐，排名能靠前，所以合理的分配橱窗对店铺自然搜索有非常大的帮助。
                </p>
                <p>对于一个店铺来说，两种情况下，是必须要有橱窗推荐状态的，</p>
                <p>一个是销量最好的一批爆款宝贝，必须在橱窗中保证排名尽可能靠前</p>
                <p>另外一种是对于接近下架时间的宝贝，由于下架时间排名会靠前，如果不加入橱窗推荐的话，排名提升幅度就会很小</p>
            </div>

            <div><p style="font: 18px;color:blue;">基于此淘掌柜采用的默认橱窗推荐规则：</p></div>
            <div><span style=""><strong><span style="font-size: 20.0px;"><span
                    style="color: #ff0000;">最优先必推宝贝，然后考虑销量（店铺前十销量必推），最后考虑下架时间（当都有销量时，推下架时间）。</span></span></strong></span>
            </div>
            <p></p>
            <div>
                <div><span style="">进入自动橱窗设定页面</span></div>
                <div><span style="">
                    <img style="float: none; margin: 0px; display: inline;width:800px;" alt=""
                         src="http://img01.taobaocdn.com/imgextra/i1/22902351/T2SnW3XyRXXXXXXXXX-22902351.png"> </span>
                </div>
                <div><span style=""></span></div>
                <div>&nbsp;</div>
                <div>
                    <div><span style=""></span></div>
                    <div><span style="color: #0000ff;">【智能橱窗开关】点击开启或关闭</span></div>
                    <p>

                    <p><span
                            style="">&nbsp; &nbsp; &nbsp; &nbsp; 勾选是否优先推荐30天内的热销宝贝。</span>
                    </p>

                    <p><span style="">&nbsp; &nbsp; &nbsp; &nbsp; 勾选是否推荐库存不够的宝贝，这对于店铺正常运营的帮助是很大，也减少了因为库存带来的各种问题。</span>
                    </p>

                    <p><span
                            style="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;临近下架的宝贝是默认推荐的。</span>
                    </p>
                    </p>
                    <div>
                        <p>
                        <span style=""><span style="color: #0000ff;">【橱窗状态】</span>一栏可以查看当前的橱窗情况，橱窗总数，剩余橱窗，以及已经利用的橱窗总数再有在售商品，库存等信息。</span>
                        </p>
                    </div>
                    <div>
                        <p>
                         <span style="color: #0000ff;">【橱窗操作】</span>可以查看橱窗推荐的宝贝标题，销量，下架时间等信息，也可以对宝贝进行取消橱窗推荐。
                        </p>
                    </div>
                    <div><p><span style=""><span style="color:blue">【设置必推宝贝】</span>，则一定会设定橱窗推荐。</span></p></div>
                    <div><p><span style=""><span style="color:blue">【设置排除宝贝】</span>，则一定不会进行橱窗推荐。操作日志是橱窗优化的记录。</span></p></div>
                    <div><span style="">&nbsp;</span></div>
                </div>
                <div><span style=""><strong
                        style="line-height: 1.5;color: #0000ff;">3.总结</strong></span></div>
                <div><span style=""><strong
                        style="line-height: 1.5;color: #0000ff;"></strong></span></div>
            </div>
            <div><span style="">一键完美解决自动橱窗问题，最智能的橱窗搭配，引爆自然流量</span></div>
            <div>&nbsp;</div>
            <div><span style="">&nbsp;</span></div>
        </div>
    </div>
</div>


#{set 'moreScripts'}
<script src="/js/jquery.tmpl.js" type="text/javascript"></script>
<script type="text/javascript">
//TM.Loading.init.show();
TM.gcs('/js/jquery.pagination.js',function(){
    TM.gcs('/js/tm.js',function(){
    });
})
</script>
#{/set}