#{extends 'fxmain.html' /}
#{set title:'批量上下架' /}

<link rel="stylesheet" media="screen" href="/css/skinbatch/skinbatch.css"/>
<style>
    .batch-list-btn, .batch-delist-btn{margin:10px;}
    .batchop-div{border: 1px solid #ddd;}
    .paging-div{margin:10px;}
    .search-container{border-top: 1px solid #ddd;border-left: 1px solid #ddd;padding: 5px;}
</style>



<script src="/js/tm.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/fenxiao/batchpricedelist.js" type="text/javascript" charset="utf-8"></script>
<div class="bodyline">
    <div class="autodiagIntro">
        <b style="font-weight: bold;color:blue;">功能介绍：</b>批量快速上下架宝贝
    </div>
</div>

<div class="batch-container"></div>
<div class='clearfix'></div>

<script type="text/javascript">
    $(document).ready(function() {
        TM.Loading.init.show();
        TM.SkinBatch.init.doInit($(".batch-container"), false);
    });

</script>
