#{extends 'fxmain.html' /}
#{set title:'智能上架计划编辑' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="/css/jquery-ui-timepicker-addon.css"/>
<link rel="stylesheet" media="screen" href="/css/Switch/switch.css"/>
<link rel="stylesheet" media="screen" href="/css/commsTab/commsTab.css">
<link rel="stylesheet" media="screen" href="/css/pagination.css">
<link rel="stylesheet" media="screen" href="/css/autoDeList/autoDeList.css?_v=2">
<link rel="stylesheet" media="screen" href="/css/autoDeList/distributeRule.css?_v=1">
<link rel="stylesheet" media="screen" href="/css/commChoose/commChoose.css">
<link rel="stylesheet" media="screen" href="/css/cornerDiv.css">
<link rel="stylesheet" media="screen" href="/css/taozhanggui.css">
#{/set}
<link rel="stylesheet" media="screen" href="/css/autoDeList/delistPlans.css?_v=1">

<div class="page-hierarchy">
    <span>当前位置:&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/home/fenxiao">分销神器&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="/autotitle/delistPlans">上下架计划管理&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a>上下架计划编辑
</div>


<div class="delistPlansWrapper" >


    <div style="padding: 20px 0px 10px 20px;">
        <table>
            <tbody>
            <tr>
                <td style="padding-right: 10px; font-weight: bold;font-size: 20px; color: #1D5987;">当前计划：</td>
                <td>
                    <span class="cur-plan-title" style="font-size: 20px; "></span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <div id='kits'>



    </div>
</div>

<div class='clearfix'></div>

<div class="out-wrapper" style="display: none;">

    <div class="distribution-area">
        <div class="conclusion">
            该计划共有宝贝数: <span class="total"></span>，
            现在已设置<span class="already-alocated" style="color: red;"></span>,
            剩余可分配宝贝数 <span class="un-alocated" style="color: red;"></span>
            <a href="javascript:;" class="edit-plan tmbtn yellow-btn">编辑该计划</a>
            <a href="javascript:;" class="roll-back tmbtn sky-blue-btn" style="display: none;">还原到默认</a>
            <a href="javascript:;" class="clear-all tmbtn sky-blue-btn" style="display: none;">全部清零</a>
            <a href="javascript:;" class="submit tmbtn yellow-btn" style="display: none;">保存计划</a>
        </div>
        <div class="clearfix"></div>


        <table id="distributionTable" class="distributionTable">
            <thead>
            <tr>
                <th>时间段</th>
                <th index=0>星期一(<span class="monday-sum">3</span>)</th>
                <th index=1>星期二(<span class="tuesday-sum">12</span>)</th>
                <th index=2>星期三(<span class="wednesday-sum">2</span>)</th>
                <th index=3>星期四(<span class="thursday-sum">0</span>)</th>
                <th index=4>星期五(<span class="friday-sum">1</span>)</th>
                <th index=5>星期六(<span class="saturday-sum">0</span>)</th>
                <th index=6>星期日(<span class="sunday-sum">1</span>)</th>
                <th style="display: none;" class="operTh">按时间段批量</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="conclusion">
            该计划共有宝贝数: <span class="total-bottom"></span>，
            现在已设置<span class="already-alocated-bottom" style="color: red;"></span>,
            剩余可分配宝贝数 <span class="un-alocated-bottom" style="color: red;"></span>
            <a href="javascript:;" class="edit-plan tmbtn yellow-btn">编辑该计划</a>
            <a href="javascript:;" class="roll-back tmbtn sky-blue-btn" style="display: none;">还原到默认</a>
            <a href="javascript:;" class="clear-all tmbtn sky-blue-btn" style="display: none;">全部清零</a>
            <a href="javascript:;" class="submit tmbtn yellow-btn" style="display: none;">保存计划</a>
        </div>
    </div>
</div>

<div class="weekTimes" style="display:none;">
    <table style="width:90%;">
        <tbody>
        <tr><td colspan="10">
            <div class="headspan " style="width:600px;">计划上架时间<span class="question" title="计划中的宝贝上架时间"></span></div>
        </td></tr>
        <tr class="planRow weekRow"></tr>
        <tr><td colspan="10">
            <div class="headspan" style="width:600px;">当前上架时间<span class="question" title="当前宝贝上下架时间"></span></div>
        </td></tr>
        <tr class="realRow weekRow"></tr>
        </tbody>
    </table>
</div>

<script type="text/x-jquery-tmpl" id="delistWeekDistribution">
    <td class="delistWeekTd">
        <div class="weekName">{{= weekName}}</div>
        <div class="blank0" style="height:2px;"></div>
        <div class="weekValue">{{= weekValue}}</div>
    </td>
</script>


#{set 'moreScripts'}
<script type="text/javascript">
    TM.Loading.init.show();
    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js', function () {
        TM.gcs('/js/multiOpByURL.js?_v=2', function () {
            TM.gcs('/js/jquery.pagination.js', function () {
                TM.gcs('/js/jquery.url.js', function () {
                    TM.gcs('/js/tm.js', function () {
                        TM.gcs('/js/switch.js', function () {
                            TM.gcs('/js/commstab/commstab.js', function () {
                                TM.gcs('/js/commChoose/commChoose.js', function () {
                                    TM.gcs("/js/jquery-ui-timepicker-addon.js", function () {
                                        TM.gcs("/status/js", function () {
                                            $(document).ready(function () {
                                                TM.gcs('/js/kits.js', function () {
                                                    TM.gcs("/js/delistplan/delistbase.js", function () {
                                                        TM.gcs('/js/Kits/autodelist.js?_v=9', function () {
                                                            $('.navmain-leftnav-td').hide();
                                                            TM.AudotDelist.init($('#kits'), 2);
                                                        });
                                                    });
                                                });
                                            });
                                        });
                                    });
                                });
                            });
                        });
                    });
                });
            });
        });
    })

</script>
#{/set}