#{extends 'tbtnav/tbtnavitem.html' /} #{set title:'1688复制' /}

<link rel="stylesheet" media="screen" href="/css/cornerDiv.css" />

<!--<link href="http://g.alicdn.com/sj/qnui/1.5.1/css/sui.min.css?qntag=1" rel="stylesheet">-->

<style type="text/css">
	.user-admin-wrapper {
		font-size: 14px;
		background: white;
		/*font-family: "微软雅黑";*/
	}
	
	.user-info-tip {
		font-size: 20px;
		font-weight: bold;
	}
	
	.width950 {
		width: 950px;
		margin: 0 auto;
	}
	
	.user-info-table {
		border: 1px solid #999;
		border-collapse: collapse;
	}
	
	.user-info-table td {
		border: 1px solid #999;
	}
	
	.user-info-table .attr-name-td {
		background: #eee;
		text-align: right;
		padding: 10px 20px 10px 0px;
	}
	
	.user-info-table .attr-value-td {
		text-align: left;
		padding: 10px 0px 10px 20px;
	}
	
	.search-table tr th {
		background: #CC0000;
		font-size: 24px;
		padding: 10px;
		font-weight: bolder;
		color: #fff;
	}
	
	.search-table .search-btn {
		margin-left: 20px;
	}
	
	.search-table tr td {
		font-size: 16px;
		padding: 8px;
		font-weight: bold;
	}
	
	select {
		height: 30px;
	}
	
	.condition {
		margin-left: 10%;
	}
	/*.uploadHangtag {
		border: 1px solid #46b8da;
		color: #46b8da;
		padding: 0 6px;
		line-height: 18px;
		font-size: 12px;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
	}*/
</style>

<div class="user-admin-wrapper" style="padding: 0px 0px 100px;">
	<table class="search-table busSearch" style="margin: 0 auto; width: 100%;">
		<thead>
			<tr>
				<th colspan="3">一键复制1688任何宝贝</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="3">
					<table class="item-carry-custom" style="width: -webkit-fill-available;">
						<tr>
							<td>发货地址：
								<select id="address">
									<option value="1">源宝贝地址</option>
									<option value="2">默认发货地址</option>
								</select>
							</td>
							<td>运费模板：
								<select id="cmbDt" style="width: 200px;">
									<option value="0" selected="selected">&nbsp;---不选择模板---&nbsp;</option>
								</select>
							</td>
							<td colspan="2">宝贝分类：
								<select id="cmbSellerCat">
									<option value="0" selected="selected">&nbsp;---不选择分类---&nbsp;</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>主图设置：
								<select id="mainPicIndex">
									<option value="1">原宝贝主图</option>
									<option value="2">原宝贝第二张图</option>
									<option value="3">原宝贝第三张图</option>
									<option value="4">原宝贝第四张图</option>
									<option value="5">原宝贝第五张图</option>
									<option value="6">随机</option>
								</select>
							</td>
							<td>新旧程度：
								<select id="stuffStatus">
									<option value="新品">新品</option>
									<option value="二手">二手</option>
								</select>
							</td>
							<!--<td>价格设置：原最高价 <select id="priceWay">
									<option value="1">加上</option>
									<option value="2">乘以</option>
							</select> <input id="priceVal" type="number" />
							</td>-->
							<td>
								价格：
								<select id="calPriceBaseNumType">
									<option value="原价">原最高价</option>
									<!--<option value="折扣价">折扣价</option>-->
								</select>
								乘
								<input id="multiplyNum" style="width: 60px;" type="text"> 加
								<input id="addNum" style="width: 60px;" type="text"> 尾数金额:
								<input type="number" id="priceTail" min="0" max="9" oninput="if(this.value.length>1)value=value.slice(0,1)" style="width:50px" />
							</td>
							<!-- <td colspan="2">图片分类： <select id="pictureCategoryId">
									<option value="-1">默认分类(淘掌柜复制宝贝素材)</option>
							</select>
							</td> -->
						</tr>
						<tr>
							<!-- <td>价格设置：原最高价 <select id="priceWay">
									<option value="1">加上</option>
									<option value="2">乘以</option>
							</select> <input id="priceVal" type="number" />
							</td> -->
							<td>标题关键字过滤：
								<button class="sui-btn btn-primary btn-lg title-keyword-mapper">关键字编辑</button>
								<input id="titleKeywordMapper" type="hidden" value="{}">
							</td>
							<td>标题前缀增加： <input id="prefixTitleString" type="text">
							</td>
							<td>标题后缀增加： <input id="suffixTitleString" type="text">
							</td>
						</tr>

						<tr>
							<td>上架设置：
								<select id="approveStatus">
									<option value="instock">复制到仓库中</option>
									<option value="onsale">直接上架</option>
								</select>
							</td>
							<!--<span title="">吊牌图文件：</span> <input id="hangtagFile" type="file"  accept="image/*" />-->
							<td colspan="3">吊牌图（天猫）：
								<input id="hangtagUrl" />
								<a href="javascript:;" class=" tmbtn sky-blue-btn uploadHangtag">本地上传</a><span>（部分服装类目如需自定义吊牌图请上传文件或填对应链接）</span></td>

							<td style="text-align: left">
								<a class="tmbtn short-green-btn save-item-carry-custom">保存设置</a>
							</td>
						</tr>
						<!--<tr>
							<!--#{if isTmall}
							<td>尺码表信息：
								<select id="cmbSizeMapping">
									<option value="-1">---不选择尺码表---</option>
								</select>
							</td>
							#{/if}-->
							
						<!--</tr>-->

					</table>
				</td>
			</tr>
			<tr>
				<td style="width: 40%; text-align: right; color: #FF0000;">温馨提示：</td>
				<td colspan="2">由于产能限制，每人最多同时复制&nbsp;&nbsp;<span style="color: red; font-size: 30px;">100</span>&nbsp;&nbsp;个宝贝
				</td>
				<!-- （宝贝图片自动上传到您的<a href="http://tu.taobao.com" target="_blank">图片空间</a>） -->
			</tr>

			<tr>
				<td colspan="3" style="text-align: center;">
					<div class="f-itm">
						注：宝贝复制速度和宝贝图片的数量有关，一般张图片上传需要1-2秒，对于图片较多的宝贝还请掌柜耐心等候！<br /> 软件会自动复制标题、详情、主图子图、颜色、尺码及颜色尺码图片
						<br />但由于阿里的商品属性与淘宝不同,类目的Sku信息不一致，复制后最好编辑一下宝贝属性再上架
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center;">
					<div class="f-itm">
						<label class="f-label" style="color: #FF9900;">宝贝地址如图：</label> <img src="https://img.alicdn.com/imgextra/i1/79742176/TB2evUwlHVkpuFjSspcXXbSMVXa_!!79742176.png" style="width: 430px; height: 31px;">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="padding: 20px; font-size: 18px;"><span style="font-weight: bold; font-size: 22px;">要复制的宝贝地址[回车分隔宝贝]：</span>
					<textarea class="numIid-input" id="itemUrl" onblur="checkUrl(this.value);" style="width: 480px; padding-left: 5px; height: 180px;"></textarea>
					<span id="urlMsg">（批量复制优先使用配置项）</span></td>
			</tr>
			<!-- <tr class="condition">
				<td colspan="3">&nbsp;宝贝分类： <select id="cmbSellerCat">
						<option value="0" selected="selected">&nbsp;---不选择分类---&nbsp;</option>
				</select> &nbsp;运费模板： <select id="cmbDt">
						<option value="0" selected="selected">&nbsp;---不选择模板---&nbsp;</option>
				</select> &nbsp;发货地址： <select id="address">
						<option value="1">源宝贝地址</option>
						<option value="2">默认发货地址</option>
				</select> <input type="checkbox" name="isGenWirelessDesc"/> 生成手机详情 <input type="checkbox"/>去除描述中的外链&nbsp;<input type="checkbox"/>去除描述中的关联商品<input type="checkbox"/>
				</td>
			</tr> -->
			<!-- <tr class="condition">
				<td colspan="3">标题关键字修改: <input id="oldTitle" name="oldTitle" />
					<font color="blue">替换为</font> <input id="newTitle" name="newTitle" />
					价格设置：宝贝原最高价 <select id="priceWay">
						<option value="1">加上</option>
						<option value="2">乘以</option>
				</select> <input id="priceVal" type="number" />
				</td>
			</tr> -->
			<!-- 		#{if isTmall==true}
			

			#{/if} -->

			<tr class="condition">
				<td colspan="3">#{if isTmall == false}<input id="isAutoMatch" type="checkbox" /><span title="自动匹配类目处于内测阶段，如有错误，还请亲手动搜索类目。">是否自动匹配类目</span>#{/if} &nbsp; 淘宝分类： <input id="itemCatKey" />
					<button id="btnSearch">搜索</button>
					<select id="cmbItemCat">
						<option value="0">&nbsp;输入分类名点搜索进行选择</option>
					</select> <span id="searchMsg"></span>
				</td>
			</tr>
			<!-- 	<tr class="condition">
				<td colspan="3" >
				
				</td>
			</tr> -->
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" style="text-align: center"><span class="btn btn-primary btn-large search-btn" id="doCopy" onclick="copyItem()">立即拷贝</span></td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close myModal-close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
				<h4 class="modal-title" id="myModalLabel">
                    标题关键字过滤
                </h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped ">
					<thead>
						<tr>
							<th><input placeholder="请输入关键字" style="border: none"></th>
							<th>替换成</th>
							<th><input placeholder="请输入替换文字" style="border: none"></th>
							<th>
								<button class="btn btn-primary btn-middle btn-add-title-keyword">添加</button>
							</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

			</div>
			<div class="alert alert-danger hidden myModal-alert" style="text-align: center">错误！请进行一些更改。</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default myModal-close">关闭
                </button>
				<button type="button" class="btn btn-primary myModal-save">
                    提交更改
                </button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>

<!-- 上传吊牌图 -->
<!--<div id="importLogisticsModal" tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
				<h4 id="myModalLabel" class="modal-title">上传吊牌图</h4>
			</div>
			<div class="modal-body">
				<form id="fileForm" method="post" enctype="multipart/form-data">
					<div class="form-inline" style="text-align: center">
						<label for="dataExcel" class="sui-btn btn-bordered btn-large btn-info" style="color:#fff">使用发货模板发货</label>
						<input type="file" name="file" accept="image/*" onchange="importCvs();" id="dataExcel" style="display:none">&nbsp;&nbsp;
						<font id="fileNameTip" size="1" color="#0EB687"></font>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-ok="modal" class="sui-btn btn-primary btn-large uploadBtn">上传</button>
				<button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
			</div>
		</div>
	</div>
</div>-->
<!--<script type="text/javascript" src="http://g.alicdn.com/sj/qnui/1.5.1/js/sui.min.js?qntag=4" ></script>-->
<!--<script type="text/javascript" src="/js/ajaxfileupload.js" ></script>-->
#{set 'moreScripts'}

<script>
	$(function() {
		$(document).ajaxStart(function() {
			TM.Loading.init.show();
		});
		$(document).ajaxStop(function() {
			TM.Loading.init.hidden();
		});
		bindSellerCats();
		bindDt();
		bindAddress();
//		addSizeMappingTemplate();
		addBrand();
		

		initCustomer();
		$("#btnSearch").click(function() {
			var key = $("#itemCatKey").val().trim();
			if(isUfOrNullOrEmpty(key)) {
				$("#searchMsg").html("<font color='red'>请先输入淘宝分类信息！</font>");
				return;
			}
			bindItemCats(key);
		})

		$("#itemCatKey").keyup(function(e) {
			if(e.keyCode == 13)
				$("#btnSearch").click();
		});

		// 批量发货按钮点击事件
		$(".uploadHangtag").unbind().click(function() {
			//			$("#dataExcel").val("");
			//			$("#fileNameTip").text("");
			//			$("#importLogisticsModal").modal();
			var html = '<div style="margin: 30px 0 20px 40px">' +
				'<input type="file" id="file" value="提交图片" accept="image/*" />' +
				'</div>';
			TM.Alert.loadDetail(html, 400, 200, function() {
				if(!$('#file').val()) {
					alert("您还没有添加任何图片！");
					return false;
				}
				var formData = new FormData();
				formData.append('file', $("#file")[0].files[0]);
				$.ajax({
					url: '/StoreData/uploadHangTagPic',
					type: 'post',
					data: formData,
					cache: false,
					contentType: false,
					processData: false,
					dataType: "json",
					success: function(data) {
						alert(data.message);
						if(data.success) {
							$("#hangtagUrl").val(data.res.picturePath);
						}
						//										if(data.isOk){
						//											$("#hangTagUrl").val(data.msg);
						//										}else{
						//											$.alert("上传异常，请稍后重试或者联系客服！");
						//										}
					}
				});
			}, '吊牌图本地上传');
		});

		// 导入发货弹窗中确认按钮点击事件
		$('.uploadBtn').unbind().click(function() {

			//判断文件
			var fileName = $("#dataExcel").val();
			if(isEmpty(fileName)) {
				$.alert("请选择文件！");
				return false;
			}
			$.ajaxFileUpload({
				url: '/StoreData/uploadHangTagPic', //用于文件上传的服务器端请求地址
				secureuri: false, //是否需要安全协议，一般设置为false
				fileElementId: 'dataExcel', //文件上传域的ID
				type: 'post',
				dataType: 'json',
				success: function(data) {
					console.log(data);
					if(data.isOk) {
						$("#hangTagUrl").val(data.msg);
					} else {
						$.alert("上传异常，请稍后重试或者联系客服！");
					}
				},
				error: function(data) {
					console.log(data);
					$.alert("导入过程出现异常，请稍后重试！");

				}
			})

		});

		$("#isAutoMatch").click(function() {
			//自动匹配类目 被选中的时候禁用搜索
			var isCheck = $('#isAutoMatch').is(':checked');

			if(isCheck) {
				$("#btnSearch").attr("disabled", "true");
			} else {
				$("#btnSearch").removeAttr("disabled");
			}
			console.log(isCheck);
		})
		/*  $("body").keyup(function(e){
		     if(e.keyCode == 13)
		      copyItem();
		 }); */

		//		$("#hangtagFile").onchange(function() {
		//			console.log(1)
		//		});

		// 保存设置
		$(".save-item-carry-custom").click(function() {
			if($(this).text() == "保存设置") $(this).text("保存中...");
			else return;

			var data = {};
			/* if ($("#sellerCids").val() != -1) {
			     var sellerCidsSelect = $("select[id^=sellerCids]");
			     var sellerCids = new Array();
			     for (var index = 0; index < sellerCidsSelect.length; index++) {
			         var item = sellerCidsSelect[index];
			         var value = $(item).val();
			         if(value != -1) sellerCids.push(value);
			     }
			     data.sellerCids = sellerCids.join();
			 }*/
			/* if ($("#pictureCategoryId").val() != -1) {
			    var selects = $("select[id^=pictureCategoryId]");
			    var pictureCategoryId = new Array();
			    for (var index = 0; index < selects.length; index++) {
			        var item = selects[index];
			        var value = $(item).val();
			        if(value != -1) pictureCategoryId.push(value);
			    }
			    data.pictureCategoryId = pictureCategoryId.join();
			} */
			if($("#postageId").val() != -1) data.postageId = $("#postageId").val();
			data.sellerCids = $("#cmbSellerCat").val();
			data.postAddress = $("#address").val();
			data.postageId = $("#cmbDt").val();
			data.hangtagUrl = $("#hangtagUrl").val();
			/*  data.locationCity = $("#locationCity").val(); */
			data.stuffStatus = $("#stuffStatus").val();
			data.mainPicIndex = $("#mainPicIndex").val();
			/*   data.whetherSaveOldNumiid = $("#whetherSaveOldNumiid").prop("checked") ? true : false;
			  data.whetherSaveOldUrl = $("#whetherSaveOldUrl").prop("checked") ? true : false; */
			data.calPriceBaseNumType = $("#calPriceBaseNumType").val();
			data.multiplyNum = $("#multiplyNum").val();
			data.addNum = $("#addNum").val();
			data.titleKeywordMapper = $("#titleKeywordMapper").val();
			data.prefixTitleString = $("#prefixTitleString").val();
			data.suffixTitleString = $("#suffixTitleString").val();
			data.approveStatus = $("#approveStatus").val();
			data.priceTail = $("#priceTail").val();

			console.log(data)

			$.ajax({
				url: "/StoreData/saveItemCarryCustom",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(data),
				type: "POST",
				dataType: "JSON",
				success: function(response) {
					if(response.success) {
						alert("保存成功");
					} else {
						alert("保存失败");
					}
					$(".save-item-carry-custom").text("保存设置");
				},
				error: function() {
					alert("保存失败");
					$(".save-item-carry-custom").text("保存设置");
				}
			});

		});

		$(".title-keyword-mapper").click(function() {
			resetMyModel();
			var map = {};
			try {
				map = JSON.parse($("#titleKeywordMapper").val());
			} catch(e) {}
			var table = $("#myModal table");
			var tbody = table.find("tbody");

			var html_trs = "";
			for(var keyword in map) {
				var replacement = map[keyword];
				html_trs += '<tr> ' +
					'<td>' + keyword + '</td> ' +
					'<td>替换成</td> ' +
					'<td>' + replacement + '</td> ' +
					'<td><button class="btn btn-danger btn-middle btn-delete-title-keyword">删除</button></td> ' +
					'</tr>';
			}
			tbody.append(html_trs);

			// bind event
			btnDeleteEvent();

			$("#myModal").toggleClass("in");
		});

		$(".btn-add-title-keyword").click(function() {
			var tr = $(this).parent().parent();
			var word = tr.find("input").eq(0);
			var replace = tr.find("input").eq(1);

			if(!word.val().trim()) {
				alertErrorMsg("请输入关键字！");
				return;
			}

			var tbody = tr.parent().siblings("tbody");

			var html_tr = '<tr> ' +
				'<td>' + word.val() + '</td> ' +
				'<td>替换成</td> ' +
				'<td>' + replace.val() + '</td> ' +
				'<td><button class="btn btn-danger btn-middle btn-delete-title-keyword">删除</button></td> ' +
				'</tr>';

			tbody.prepend(html_tr);

			// reset input
			word.val("");
			replace.val("");
			// bind event
			btnDeleteEvent();
		});

		function btnDeleteEvent() {
			$(".btn-delete-title-keyword").click(function() {
				$(this).parent().parent().remove();
			});
		}

		$(".myModal-close").click(function() {
			$("#myModal").toggleClass("in");
		});

		function resetMyModel() {
			var table = $("#myModal table");
			var thead = table.find("thead");
			var tbody = table.find("tbody");
			// clear input in thead
			thead.find("input").val("");
			// clear tbody
			tbody.html("");
		}

		$(".myModal-save").click(function() {
			var table = $("#myModal table");
			var tbody = table.find("tbody");
			var trs = tbody.find("tr");

			var map = {};
			var whetherReturn = false;
			trs.each(function(index) {
				var tr = $(this);
				var tds = tr.find("td");
				var word = tds.eq(0).text();
				var replace = tds.eq(2).text();
				if(!word) {
					alertErrorMsg("第【" + (index + 1) + "】行关键字未填写！");
					whetherReturn = true;
					return false;
				}
				if(map[word] != undefined) {
					alertErrorMsg("出现重复的关键字【" + word + "】！");
					whetherReturn = true;
					return false;
				}

				map[word] = replace;
			});
			if(whetherReturn) return;

			$("#titleKeywordMapper").val(JSON.stringify(map));

			$("#myModal").toggleClass("in");
		});

		var alertErrorMsgTimeOut;

		function alertErrorMsg(msg) {
			$(".myModal-alert").text(msg);
			$(".myModal-alert").toggleClass("hidden", false);
			clearTimeout(alertErrorMsgTimeOut);
			alertErrorMsgTimeOut = setTimeout(function() {
				$(".myModal-alert").toggleClass("hidden", true);
			}, 3000);
		}

	})

	//进行拷贝操作
	function copyItem() {
		//获取宝贝的url
		var linkUrl = $("#itemUrl").val().trim();

		if(!checkUrl(linkUrl))
			return;
		//是否自动匹配类目
		var isAutoMatch = $('#isAutoMatch').is(':checked');
		//淘宝分类
		var itemCat = $("#cmbItemCat").val();
		//授权品牌
		var brand = $("#brand").val();
		var data = null;
		//执行复制
		if($("#brand").html() != null && brand == 0) {
			$("#brandMsg").html("<font color='red'>请先选择品牌信息！</font>");
			return;
		}
		if(brand > 0) {
			$("#brandMsg").html("");
		}
		if(isAutoMatch == false || isAutoMatch == undefined) {
			if(itemCat == 0 || $("#cmbItemCat").children().length < 1) {
				$("#searchMsg").html("<font color='red'>请先选择分类信息！</font>");
				return;
			}
			if(itemCat == 0 || $("#cmbItemCat").children().length < 1) {
				$("#searchMsg").html("<font color='red'>请先选择分类信息！</font>");
				return;
			}
		} else {
			$("#searchMsg").html("");
		}

		var sendUrl = "/StoreData/copyItem";

		if(linkUrl.indexOf("\n") > -1) {
			sendUrl = "/StoreData/doBatchCarry";
		}

		$
			.ajax({
				type: "get",
				url: sendUrl,
				data: {
					'url': linkUrl,
					'cid': itemCat,
					'isAutoMatch': isAutoMatch,
					'brand': brand
				},
				dataType: "json",
				success: function(data) {
					var content = "宝贝复制错误，请重试，多次重试仍失败请联系客服反馈。";
					if(!isUfOrNullOrEmpty(data)) {
						content = data.msg;
					}
					TM.Alert.load('<br><p style="font-size:15px">' +
						content + '</p>', 400, 230,
						function() {});
					//alert(JSON.stringify(data));
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					TM.Alert
						.load(
							'<br><p style="font-size:15px">宝贝复制错误，请重试，多次重试仍失败请联系客服反馈。</p>',
							400, 230);
				}
			});
	}

	//加载用户品牌信息
	function addBrand() {
		var url = "/StoreData/getBrands";
		$
			.ajax({
				type: "get",
				url: url,
				dataType: "json",
				success: function(data) {
					//console.log(JSON.stringify(data));
					if(isUfOrNullOrEmpty(data)) {
						return;
					}
					$(data).each(
						function(index, obj) {
							if(index == 0) {
								var html = "&nbsp;授权品牌：<select id='brand'><span id='brandMsg'></span>";
								$("#searchMsg").after(html);
							}
							var option = "<option value='" + obj.vid + "'>" +
								obj.name + "</option>";
							$("#brand").append(option);
						});
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					console.info('系统出错，请重试！');
				}
			});
	}

	//加载用户品牌信息
	function addSizeMappingTemplate() {
		var $cmbSizeMapping = $("#cmbSizeMapping");
		if(isUfOrNullOrEmpty($cmbSizeMapping) == false) {
			var url = "/StoreData/getSizeMappingTemplates";
			$.ajax({
					type: "get",
					url: url,
					dataType: "json",
					async:false,
					success: function(data) {
						//console.log(JSON.stringify(data));
						if(isUfOrNullOrEmpty(data)) {
							return;
						}
						var html = "";
						$(data).each(function(index, obj) {
								var option = "<option value='" + obj.templateId + "'>" +
									obj.templateName + "</option>";
								html = html + option;
							});
						$cmbSizeMapping.append(html);
						console.log("load mapping end")
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						console.info('系统出错，请重试！');
					}
				});
		}

	}

	//加载店铺分类信息
	function bindSellerCats() {
		var url = "/StoreData/getSellerCats";
		$.ajax({
			type: "get",
			url: url,
			dataType: "json",
			success: function(data) {
				//				console.log(JSON.stringify(data));
				//$("#cmbSellerCat").empty();
				//$("#cmbSellerCat").append("<option value='0'>---不选择类目---</option>";);
				$(data).each(
					function(index, obj) {
						var html = "<option value='" + obj.cid + "'>" +
							obj.name + "</option>";
						$("#cmbSellerCat").append(html);
					});
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.info('系统出错，请重试！');
			}
		});
	}

	//加载店铺运费模板
	function bindDt() {
		var url = "/StoreData/getDeliveryTemplates";
		$.ajax({
			type: "get",
			url: url,
			dataType: "json",
			success: function(data) {
				//				console.log(JSON.stringify(data));
				//$("#cmbDt").empty();
				$(data).each(
					function(index, obj) {
						var html = "<option value='" + obj.templateId + "'>" +
							obj.name + "</option>";
						$("#cmbDt").append(html);
					});
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.info('系统出错，请重试！');
			}
		});
	}

	//加载发货地址
	function bindAddress() {
		var url = "/StoreData/getDefAddress";
		$.ajax({
			type: "get",
			url: url,
			dataType: "json",
			success: function(obj) {
				if(!isUfOrNullOrEmpty(obj)) {
					var html = "<option>" + obj.province + "-" + obj.city +
						"</option>";
					$("#address").children().get(1).innerText += "(" +
						obj.province + "-" + obj.city + ")";
				} else {
					$("#address").children().get(1).remove();
				}

			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.info('系统出错，请重试！');
			}
		});
	}

	//根据类目名加载淘宝分类信息
	function bindItemCats(key) {
		var url = "/StoreData/getItemCats?key=" + key;
		$.ajax({
			type: "get",
			url: url,
			dataType: "json",
			success: function(data) {
				/* 				console.log(JSON.stringify(data));
				 */
				if(JSON.stringify(data) == "[]") {
					$("#searchMsg").html(
						"<font color='red'>未找到对应的分类！请检查是否有误。</font>");
					return;
				} else {
					$("#cmbItemCat").empty();
					$(data).each(
						function(index, obj) {
							var html = "<option value='" + obj.cid + "'>" +
								obj.name + "</option>";
							$("#cmbItemCat").append(html);
						});
					$("#searchMsg").html("");
				}

			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				console.info('系统出错，请重试！');
			}
		});
	}

	//判断值是否为undefined或者null或者为空
	function isUfOrNullOrEmpty(val) {
		return val == null || val == 'undefined' || val == "";
	}
	//检验宝贝地址是否正确
	function checkUrl(url) {
		return true;
		//		var pattern=/^https?:\/\/detail.1688.com\/offer\/(\d+).html.*$/;
		//		if(pattern.test(url)){
		//			$("#urlMsg").html("<font color='blue'>填写正确。</font>");
		//			return true;
		//		}else{
		//			$("#urlMsg").html("<font color='red'>宝贝地址填写错误！</font>");
		//			return false;
		//		}
	}

	function initCustomer() {
		$.get("/StoreData/userItemCarryCustom", function(response) {
			var item = response;
			if(!item) return;
			/* if (item.sellerCids) {
			    var sellerCids = item.sellerCids.split(",");
			    var sellerCidsSelectId = "sellerCids";
			    for (var i = 0; i < sellerCids.length; i++) {
			        var sellerCid = sellerCids[i];
			        $("#" + sellerCidsSelectId).val(sellerCid);
			        $("#" + sellerCidsSelectId).trigger("change");
			        sellerCidsSelectId += '_';
			    }
			} */
			$("#address").val(item.postAddress);
			if(item.pictureCategoryId) {
				var pictureCategoryId = item.pictureCategoryId.split(",");
				var pictureCategorySelectId = "pictureCategoryId";
				for(var i = 0; i < pictureCategoryId.length; i++) {
					var pcid = pictureCategoryId[i];
					$("#" + pictureCategorySelectId).val(pcid);
					$("#" + pictureCategorySelectId).trigger("change");
					pictureCategorySelectId += '_';
				}
			}
			$("#cmbSellerCat").val(item.sellerCids);
			$("#cmbDt").val(item.postageId);
			$("#hangtagUrl").val(item.hangtagUrl);
			$("#stuffStatus").val(item.stuffStatus);
			$("#mainPicIndex").val(item.mainPicIndex);
			$("#calPriceBaseNumType").val(item.calPriceBaseNumType);
			$("#multiplyNum").val(item.multiplyNum);
			$("#addNum").val(item.addNum);
			$("#titleKeywordMapper").val(item.titleKeywordMapper);
			$("#prefixTitleString").val(item.prefixTitleString);
			$("#suffixTitleString").val(item.suffixTitleString);
			$("#approveStatus").val(item.approveStatus);
			$("#priceTail").val(item.priceTail);
			var sizeMapping=item.sizeMappingTemplateId;
			console.log(sizeMapping)
			if(isEmpty(sizeMapping)||sizeMapping<=0){
				$("#cmbSizeMapping").val(-1);
			}else{
				$("#cmbSizeMapping").val(sizeMapping);
			}
		});
	}

	function importCvs() {
		var fileName = $("#dataExcel").val();
		fileName = fileName.substring(fileName.lastIndexOf("\\") + 1);
		$("#fileNameTip").text(fileName);

	}

	function isEmpty(str) {
		return(str == null || str == undefined || str == "" || str == "undefined");
	}
</script>
#{/set}