#{extends 'carrier/carrierbase.html' /}
#{set title:'一键生成手机详情页' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="/css/cornerDiv.css"/>
#{/set}
<style type="text/css">
    p {
        text-align: left;
        font-size: larger;
        margin-top: 8px;
        margin-bottom: 5px;
    }
</style>
<div style="text-align: center;">
    <p style="text-align: left">
        １.首先下载淘掌柜自动生成手机详情页插件。<br/>
        ２.下载完成后，在谷歌浏览器地址栏输入：chrome://extensions/,回车进入谷歌浏览器的扩展程序管理页面，将下载好的插件phoneDetailed.crx按住鼠标左键不放拖入谷歌浏览器的扩展程序管理页面；<br/>
    </p>
    <img src="http://img01.taobaocdn.com/imgextra/i1/79742176/TB25BxzcFXXXXbUXXXXXXXXXXXX_!!79742176.png" alt=" 2"/>
    <p>
        ３.松开鼠标点击添加并启用插件，此时插件安装完成。
    </p>
    <img src="http://img03.taobaocdn.com/imgextra/i3/79742176/TB22y2oXXXXXXcqXFXXXXXXXXXX_!!79742176.png" alt=" 3"/>
    <img src="http://img01.taobaocdn.com/imgextra/i1/79742176/TB2TDFEcFXXXXXSXXXXXXXXXXXX_!!79742176.png" alt=" 4"/>
    <p>
        ４.在卖家中心—我的服务找到淘掌柜的LOGO点击进入淘掌柜。<br/>
        ５.点击浏览器插件LOGO,进入插件操作页面；登录您的淘宝账号，并确认与淘掌柜登录账号一致。<br/>
    </p>
    <img src="http://img01.taobaocdn.com/imgextra/i1/79742176/TB2RH0xcFXXXXahXpXXXXXXXXXX_!!79742176.png" alt=" 5"/>
    <p>
        ６.此时插件应该显示卖家宝贝
    </p>
    <img src="http://img03.taobaocdn.com/imgextra/i3/79742176/TB2YrtAcFXXXXbTXXXXXXXXXXXX_!!79742176.png" alt=" 6"/>
    <p>
        ７.在插件页面点击选择宝贝，选好宝贝后点击生成手机详情页；<br/>
    </p>
    <img src="http://img04.taobaocdn.com/imgextra/i4/79742176/TB2J5XwcFXXXXauXpXXXXXXXXXX_!!79742176.png" alt=" 8"/>
    <img src="http://img04.taobaocdn.com/imgextra/i4/79742176/TB2Y6NCcFXXXXboXXXXXXXXXXXX_!!79742176.png" alt=" 9"/>
    <p>
        ８.点击确定进入手机详情页安装界面，<br/>
    </p>
    <img src="http://img02.taobaocdn.com/imgextra/i2/79742176/TB2_GlBcFXXXXbOXXXXXXXXXXXX_!!79742176.png" alt=" 10"/>
    <p>
        (如果生成成功数量与您选择的宝贝数量不一致，请检查是否勾选了排除选项。)<br/>
    </p>
    <img src="http://img03.taobaocdn.com/imgextra/i3/79742176/TB2yw8wcFXXXXaUXpXXXXXXXXXX_!!79742176.png" alt=" 7"/>
    <p>
        ９.点击开始安装。<br/>
    </p>
    <img src="http://img02.taobaocdn.com/imgextra/i2/79742176/TB2CXtzcFXXXXc9XXXXXXXXXXXX_!!79742176.png" alt=" 11"/>
    <p>
        (开始安装后，浏览器会打开一个最小化的标签，该标签为后台操作页面，不能关闭，在插件使用过程中请不要给关闭浏览器。)<br/>
    </p>
    <img src="http://img01.taobaocdn.com/imgextra/i1/79742176/TB2wJBxcFXXXXajXpXXXXXXXXXX_!!79742176.png" alt=" 12"/>
    <p>
        １０.当浏览器弹窗提示弹窗并且插件LOGO会提示成功即表示手机详情页已安装完成。<br/>
    </p>
    <img src="http://img02.taobaocdn.com/imgextra/i2/79742176/TB20UhCcFXXXXaHXXXXXXXXXXXX_!!79742176.png" alt=" 13"/>
    <p>
        如遇失败请重试，或者重新安装插件，如不能解决，请与工作人员联系 !
    </p>

</div>


#{set 'moreScripts'}
<script type="text/javascript">
</script>
#{/set}