#{extends 'carrier/carrierbase.html' /}
#{set title:'一键生成手机详情页' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="/css/cornerDiv.css"/>
#{/set}

*{<div style="text-align: center">
    <br>
    <span style="font-size: 18px;margin-right: 8px;">有问题，请联系我: </span>
    <a style="display: inline-block;*display: inline;*zoom:1;" target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E7%BA%A2%E5%BF%83%E5%9B%A2%E9%98%9F&siteid=cntaobao&status=1&charset=utf-8" ><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=%E7%BA%A2%E5%BF%83%E5%9B%A2%E9%98%9F&site=cntaobao&s=1&charset=utf-8" alt="点击这里给我发消息" /></a>
    <br>

<div>}*

</div>
<embed src="http://static.video.qq.com/TPout.swf?vid=p0128m1h50l&auto=1" allowFullScreen="true" quality="veryhigh" width="800" height="666" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</div>


#{set 'moreScripts'}
<script type="text/javascript">
</script>
#{/set}