#{extends 'main.html' /}
<style type="text/css">
    .switchtext {position: absolute;top:30px;left:630px;}
    .kwcontainer{min-height:300px;_height:300px;}
</style>
<div class ="search" style="position: relative;">
    <!-- 普通查询 -->
    <div class ="nor_search" >
        <div>
            <input type="text" id="search_key">
            <a id= "serch_now">立即搜索</a>
            <a id="tosupersearch" class='switchtext'>&gt;&gt;&gt;切换至高级搜索</a>
        </div>
    </div>
    <!-- 高级查询 -->
    <div class = "sup_search" style="display: none;position:relative">
        <a id="tonorsearch" class='switchtext'>&lt;&lt;&lt;切换至普通搜索</a>
        <div class="sup_condition" style="margin-left:5px;">
            <table class="condition_table">
                <tr>
                    <td colspan="6">使用下列条件来搜索：</td>
                </tr>
                <tr>
                    <td>包含以下所有词：</td>
                    <td colspan="3">
                        <!-- cd代表condition -->
                        <input type="text" id="all_cd">
                    </td>
                    <td>
                        示例：衣服
                    </td>
                </tr>
                <tr>
                    <td>包含以下任意词：</td>
                    <td>
                        <input type="text" id="baohan_cd1">
                    </td>
                    <td>
                        <input type="text" id="baohan_cd2">
                    </td>
                    <td>
                        <input type="text" id="baohan_cd3">
                    </td>
                    <td>
                        示例：男&nbsp;休闲&nbsp;运动
                    </td>
                </tr>
                <tr>
                    <td>不含以下任意词：</td>
                    <td>
                        <input type="text" id="buhan_cd1">
                    </td>
                    <td>
                        <input type="text" id="buhan_cd2">
                    </td>
                    <td>
                        <input type="text" id="buhan_cd3">
                    </td>
                    <td>
                        示例：红色 &nbsp;童装&nbsp;幼儿
                    </td>
                </tr>

            </table>
            <div class = "search_now_super">
                <a id="search_now_super">立即搜索</a><a id="reset_input">重置输入框</a>
            </div>

        </div>


    </div>
</div>
<div class="shaxuanqi">
</div>
<div class="tableContent">
    <table class = "catSearch">
        <!-- result === res -->
        <thead>
        <tr class = "tableRow firstRow">
            <th>序号</th>
            <th>关键词</th>
            <th>展现量</th>
            <th>点击量</th>
            <th>直通车竞争度</th>
        *{<th>点击率</th>}*
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="search_res_tbody">
        <!-- here will show the word customer searched -->
        </tbody>
        <tfoot id="res_caozuo">
        <tr style="background-color: #ddd;">
            <td id = "cutpage" colspan="7">
            </td>
            <!-- 	<td colspan="2">总共有<span id = "wordcount">0</span>个</td>
                               <td>当前页数<span id="page_fenzi">1</span>/<span id="page_fenmu">1</span></td>
                               <td colspan="4"><span id="lastpage">上一页</span>&nbsp;&nbsp;&nbsp;<span id="nextpage">下一页</span>
                                   <input type="text" id="pagenumber">
                                   <input type="button" id= "turnto" value="跳转">
                               </td> -->
        </tr>
        </tfoot>
    </table>
</div>



#{set 'moreScripts'}
<Script type="text/javascript">
    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js',function(){
        TM.gcs("/js/tm.js",function(){

            $(document).ready(function(){
                TM.gcs("/js/KeyWords/newkeywords.js",function(){
                    $('#search_key').focus();

                        #{get 'moreAjaxScripts' /};

                });
            });
        });
    });

</Script>
#{/set}
