#{extends 'qianniubase.html' /}


<div class="sui-navbar navbar-fixed-top">
    <div class="navbar-inner"><a href="#" class="sui-brand"><img src="http://gtms01.alicdn.com/tps/i1/T1c8xfFBFhXXcTHKnj-56-44.png">千牛云盘</a>
        <ul class="sui-nav">
            <li class="active sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" data-trigger="hover" class="dropdown-toggle">文件管理<i class="sui-icon icon-pc-chevron-bottom"></i></a>
                <ul role="menu" class="sui-dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的文件</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">共享文件</a></li>
                </ul>
            </li>
            <li><a href="#">数据统计</a></li>
            <li><a href="javascript:void(0);">数据分析</a></li>
        </ul>
        <ul class="sui-nav pull-right nav-links">
            <li class="active"><a href="#"><i class="sui-icon icon-pc-list"></i>&nbsp;日志</a></li>
            <li><a href="#"><i class="sui-icon icon-pc-settings"></i>&nbsp;设置</a></li>
            <li><a href="#"><i class="sui-icon icon-pc-question-circle"></i>&nbsp;帮助</a></li>
        </ul>
    </div>
</div>
<div class="container">
#{doLayout /}

</div>
