#{extends 'boyvon.html' /}
#{set title:'教程' /}
<link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
<style>
    .helpBody {margin: 0 auto;font-size: 30px;width: 800px;}
    .helpBody p{margin-bottom: 0px;}
</style>
<div class="helpBody">
    <p>一.如何使用【爱推广】</p>
    <br>
    <img style="border: 1px solid #ccc" src="http://img04.taobaocdn.com/imgextra/i4/1039626382/T2h4nVXfNXXXXXXXXX_!!1039626382.png" style="width: 535px;height: 215px;">
    <br>
    <p>第二步：打开<span style="color: red;">www.btuiguang.com</span> 然后点击首页上: </p>
    <p> <img style="width:850px;" src="http://img03.taobaocdn.com/imgextra/i3/333336410/T2Wy23XcdXXXXXXXXX_!!333336410.jpg" /> </p>
    <p>
        我们会把体验的宝贝都推广在这里哦~~~！
        </p>
     <p>
        如果亲们想要在<span style="color:red">www.btuiguang.com</span>页面上显示您的宝贝那就<a  style="font-size:28px;color:red;font-weight:bold;" href="http://fuwu.taobao.com/ser/detail.htm?spm=0.0.0.0.oGGz7i&service_code=FW_GOODS-1848326&tracelog=tryupgrade">立即升级</a>吧！
    </p>
    <br>
    <br>
    <p>如何查看流量来源：</p>
    
    <br>
    <img src="http://img03.taobaocdn.com/imgextra/i3/333336410/T2E5nUXo0XXXXXXXXX_!!333336410.gif" style="width: 750px;height: 530px;">
    <br>
    <img src="http://img01.taobaocdn.com/imgextra/i1/333336410/T20mjUXX0aXXXXXXXX_!!333336410.gif" alt="" style="width: 750px;height: 494px;">
    <br>
    <p>如何区分真假流量：</p>
    <br>
    <img src="http://img02.taobaocdn.com/imgextra/i2/333336410/T2lSrUXj8XXXXXXXXX_!!333336410.gif" style="width: 750px;height: 612px;">
</div>