body {
    font-size: 12px;
    color: #454545;
    width: 100%;
    min-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
}

a {
    text-decoration: underline;
    color: #454545;
    text-decoration: none;
}

/*a:hover{ text-decoration:underline; color:#ff0000;}*/
ul {
    list-style: none;
}

li {
    list-style: none;
}

.navbox {
    width: 1020px;
    margin: 0 auto;
}

.allbg {
    background: url(http://icon.zol-img.com.cn/sj/images/desk_bg.png) no-repeat;
}

.navbox {
    height: 42px;
    line-height: 42px;
    background-position: 0 -36px;
    background-repeat: repeat-x;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.navbox ul {
    float: left;
    margin: 0;
    padding: 0;
}

.nav li.first {
    padding: 0;
    background: none;
}

/*.nav li {*/
    /*float: left;*/
    /*height: 42px;*/
    /*line-height: 42px;*/
    /*font-size: 16px;*/
    /*background-position: -128px -264px;*/
    /*width: 120px;*/
/*}*/

/*.nav li a {*/
    /*display: block;*/
    /*color: white;*/
    /*padding: 0 13px 0 17px;*/
    /*outline: none;*/
    /*text-decoration: none;*/
/*}*/

/*.nav li a:hover {*/
    /*color: white;*/
    /*text-decoration: underline*/
/*}*/

.navselected {
    background-color: #ccc;
    color: blueviolet;
    font-weight: bold;
}

.c-fl {
    height: 43px;
    line-height: 43px;
}

#exposeMask {
    position: static;
}

.ntes-nav a.toggle-color {
    color: yellow;
}

#right-award {
    width: 95px;
    height: 107px;
    cursor: pointer;
    background: url(http://img04.taobaocdn.com/imgextra/i4/1132351118/T2BQxiXBBXXXXXXXXX_!!1132351118.jpg);
    bottom: 400px !important;
    position: fixed;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-300));
}

.bottom {
    position: fixed;
    left: 0px;
    bottom: 0;
    _position: absolute;
    _top: expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight);
}

a.ntes-nav-entry-wide:hover {
    text-decoration: none;
    color: #fff;
    background-color: #635555;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    /*padding: 0;*/
    font-size: 12px;
    font-family: 'Microsoft YaHei', Arial;
}

ul, ol {
    list-style: none;
}

fieldset, img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font-size: 28px;
    color: #666;
    position: relative;
}

h2 {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font-size: 24px;
    color: #666;
}

h5 {
    color: #05417F;
    padding: 5px;
    font-size: 16px;
    line-height: 24px;
}

.breadcrumbs {
    font-family: "宋体";
    font-size: 14px;
    color: #999;
    margin: 5px auto 5px auto;
    width: 960px;
}

.breadcrumbs span {
    padding: 0 5px 0 0;
}

#stepBar {
    width: 960px;
    margin: 0 auto;
}

#stepBar .block {
    float: left;
    display: inline;
    width: 212px;
    margin: 0 5px 0 0;
    font-size: 17px;
    padding: 0 14px 0 0;
    background: #fefefe;
    border: 1px solid #f9f9f9;
    height: 43px;
    line-height: 43px;
    text-align: center;
    position: relative;
}

#stepBar h3 {
    color: #d9d9d9;
    font-weight: normal;
}

h1 {
    width: 960px;
    margin: auto;
    padding: 60px 0 10px 0;
    font-size: 28px;
    color: #666;
    position: relative;
}

.mainFormForm {
    float: left;
    dispplay: inline;
    /*width: 780px;*/
    /*padding-left: 100px;*/
    padding-top: 5px;
}

.mainForm label {

    float: left;
    display: inline;
    width: 130px;
    font-size: 18px;
    line-height: 40px;
}

.mainForm .tmLine .append {
    float: left;
    display: inline;
    line-height: 40px;
    height: 40px;
    margin: 0 0 0 15px;
    padding: 0 10px;
    color: #999;
    font-size: 14px;
    /*background: #F2FDEC;*/
}

.title-input-button {
    float: left;
    width: 90px;
    display: inline;
    line-height: 40px;
    height: 40px;
    margin: 0 0 0 15px;
    padding: 0 10px;
    color: #999;
    background: #FEEDF0;
    text-align: center;
}

.mainForm input, .mainForm option, .mainForm select {
    color: #888;
}

.mainForm input.text {
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 310px;
    /*color: #a700ff;*/
    height: 38px;
}

.title-input {
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 183px;
    /*color: #a700ff;*/
    height: 38px;
}

#start_time {
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 310px;
    /*color: #a700ff;*/
    height: 38px;
}

#end_time {
    float: left;
    display: inline;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 310px;
    /*color: #a700ff;*/
    height: 38px;
}

.buttonLine {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    padding: 40px 0 10px 0;
}

.nextStepBtn {
    margin: 0 auto;
    line-height: 38px;
    font-size: 16px;
    padding: 0 0 0 10px;
    width: 250px;
    height: 38px;
    *margin-left: 350px;
}

#stepBar .active {
    border: 1px solid rgb(228, 199, 179);
    background: #fcfcfc;
}

#stepBar .active h3 {
    color: #999;
}

#content {
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #C0DAEC;
    /*min-height: 400px;*/
}

input.text.error {
    background: #FEEDF0;
    border: 1px solid #F25E78;
}

.mainForm .tmLine span.error {
    background: #FEEDF0;
}

input[type="text"].bigMoneyInput {
    height: 32px;
    font-size: 27px;
    padding: 0;
    text-align: center;
    width: 76px;
    font-family: Arial;
    margin: 2px 5px 2px 2px;;
}

.mjsForm div {
    font-size: 18px;
}

.mainForm .tmLine {
    padding: 0 10px 10px 29px;
    margin: 0 auto;
}

.user-auth-link {
    cursor: pointer;
}

.user-auth-link:hover {
    text-decoration: underline;
}

.promotion-errors-dialog .error-item-div {
    font-family: "微软雅黑";
    display: none;
}

.promotion-errors-dialog .error-tip-span {
    font-size: 22px;
    display: block;
}

.promotion-errors-dialog .error-item-table .item-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.promotion-errors-dialog .list-table {
    width: 100%;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #333;
    margin: 10px 0px;
}

.promotion-errors-dialog .list-table thead tr {
    width: 100%;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #1D5987;
    font-weight: bold;
    background: left -102px url('/public/images/frame/bg.png');
    height: 32px;
    text-align: center;
    border: #ccc 1px solid;
}

.promotion-errors-dialog .list-table tbody td {
    text-align: center;
    padding: 5px;
    border-bottom: #ccc 1px solid;
    font-family: "微软雅黑";
    font-size: 14px;
}

.promotion-errors-dialog .list-table .item-title {
    cursor: pointer;
}

.promoteTemplate {
    width: 600px;
}

.uOption em, .uCheckbox em{
    background-image:url("http://img01.taobaocdn.com/imgextra/i1/763789825/TB2Q6fObXXXXXaOXpXXXXXXXXXX_!!763789825.png");
}

.haoniu-submit-btn {
    margin: 0 auto;
    line-height: 38px;
    font-size: 16px;
    width: 250px;
    height: 38px;
    color: #ffffff;
    background-color: #f43;
    border: 1px solid #fff;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    text-align: center;
    border-radius:4px ;
}
.haoniu-submit-div{
   text-align: left;
}

.tb-btn{
    background: #F43;
    border-radius: 3px;
    width: 138px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    border: 0;
}

.tb-btn:hover{
    background: #ff2e07;
}
.text-center{
    text-align: center;
}


nav .main-lists .sub-lists{
    margin: 0;
}

.goto-set-discount-btn{
    margin-left: 0;
}
.ml230{
    margin-left: 230px;
}
em{
    font-weight: 100;
}




.head-tip {
    padding: 40px 0px 10px 0px; text-align: left; font-size: 20px;
    border-bottom: 1px dashed #ccc;

}

.mf25{
    margin-left: 25px;
}
.mt70{
    margin-top: 70px;
}
.fs18{
    font-size: 18px;
}
.mf230{
    margin-left: 230px;
}
.mt20{
    margin-top: 20px;
}


