.item-table .product {
    width: 450px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin: 2px;
    padding: 3px;
    position: relative;
}
.product a.image {
    float: left;
    display: inline;
    width: 70px;
    height: 70px;

}
.product a.image {
    border: 1px solid #d9d9d9;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
a {
    color: #2E92D9;
}
.product a.image img {
    vertical-align: middle;
    margin-top: 5px;
}
.product .info {
    float: left;
    display: inline;
    width: 260px;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    padding-top: 2px;
    font-family: Arial, "宋体";
    line-height: 16px;
    color: #999;
}
.product .info a.name {
    line-height: 24px;
    height: 48px;
    padding-bottom: 5px;
    padding-left: 0;
    display: block;
    color: #666;
}
.product .info {
    text-align: left;
    font-size: 14px;
    ont-family: Arial, "宋体";
    line-height: 16px;
    color: #999;
}
span.status_red {
    background: #EB3153;
    color: #fff;
    padding: 0 2px;
}
span.status_gray {
    background: #999;
    color: #fff;
    padding: 0 2px;
}
.product .mask {
    left: auto;
    right: 0;
    height: 42px;
    width: 70px;
    padding: 15px;
    line-height: 21px;
    top: 0;
    color: white;
    text-align: center;
    font-size: 16px;
    display: none;
    position: absolute;
}
.product .addToActBtn {
    float: left;
    width: 90px;
    margin: 20px 0 0 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
a.GreyBtn, input.GreyBtn {
    border: 1px solid #7A0000;
    background: #b10000;
    color: #fff;
    cursor: pointer;
}
a.lightGrayBtn {
    border: 1px solid #d9d9d9;
    background: #fafafa;
    color: #999;
}
.product .addedToActBtn {
    float: left;
    width: 90px;
    margin: 20px 0 0 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.product .alreadyInThisActivity {
    float: left;
    width: 90px;
    margin: 20px 0 0 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

