#{extends 'tbtMain.html' /}
#{set title:'淘标题-培训中心' /}


#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="/css/taozhanguiindex.css">
#{/set}

<style>
    .classesWrapper{
        width: 100%;
    }
    .classesDiv{
        padding: 12px;
        width: 760px;
        float: left;
        overflow: hidden;
    }
    .classesWrapper .classesDiv h2 {
        color: #333;
        font-family: Microsoft YaHei,SimSun,Arial,Helvetica,sans-serif;
        line-height: 1.25;
        text-transform: uppercase;
    }
    .hr-line {
        height: 11px;
        width: 100%;
        overflow: hidden;
        line-height: 11px;
        background: url(/img/hr.gif) repeat-x;
    }
    .classesWrapper .classesDiv p, .classesWrapper .classesDiv h4, .classesWrapper .classesDiv h2, .classesWrapper .classesDiv h3, .classesWrapper .classesDiv embed{
        margin-bottom: 10px;
    }
</style>

<div class="classesWrapper">
   <div class="classesDiv">
       <h2>车道全课程体系</h2>
       <div class="hr-line" style="margin-bottom: 8px;"></div>
       <div class="classesContent">
           *{淘宝大学部分}*
           <h3><span style="color: #ff0000;"><strong>车道公开课程—新手开店必看,内功篇</strong></span></h3>
               <embed wmode="direct" flashvars="vid=l0129ahgcag&amp;tpid=3&amp;showend=1&amp;showcfg=1&amp;searchbar=1&amp;shownext=1&amp;list=2&amp;autoplay=0&amp;outhost=http%3A%2F%2Fv.qq.com%2Fpage%2Fl%2Fa%2Fg%2Fl0129ahgcag.html&amp;openbc=0&amp;title=%20%E6%96%B0%E6%89%8B%E5%BC%80%E5%BA%97%E5%B0%8F%E8%80%8C%E7%BE%8E%E5%85%8D%E8%B4%B9%E5%BC%95%E6%B5%81%E5%86%85%E5%8A%9F%E7%AF%87" src="http://imgcache.qq.com/tencentvideo_v1/player/TencentPlayer.swf?max_age=86400&amp;v=20140424" quality="high" name="tenvideo_flash_player_1400121780655" id="tenvideo_flash_player_1400121780655" bgcolor="#000000" width="650px" height="472px" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/cn/flashplayer/" style="width: 650px; height: 472px;">
           <h3><span style="color: #ff0000;"><strong>车道公开课程—新手开店必看,外功篇</strong></span></h3>
               <embed wmode="direct" flashvars="vid=l0129wzas76&amp;tpid=3&amp;showend=1&amp;showcfg=1&amp;searchbar=1&amp;shownext=1&amp;list=2&amp;autoplay=0&amp;outhost=http%3A%2F%2Fv.qq.com%2Fpage%2Fl%2F7%2F6%2Fl0129wzas76.html&amp;openbc=0&amp;title=%20%E6%96%B0%E6%89%8B%E5%BC%80%E5%BA%97%E5%B0%8F%E8%80%8C%E7%BE%8E%E5%85%8D%E8%B4%B9%E5%BC%95%E6%B5%81%E5%A4%96%E5%8A%9F%E7%AF%87" src="http://imgcache.qq.com/tencentvideo_v1/player/TencentPlayer.swf?max_age=86400&amp;v=20140424" quality="high" name="tenvideo_flash_player_1400122088056" id="tenvideo_flash_player_1400122088056" bgcolor="#000000" width="650px" height="472px" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/cn/flashplayer/">
           *{车道官网视频}*
           <h3><span style="color: #ff0000;"><strong>车道公开课程—数据运营揭开黑马流量来源的秘密</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=d0125sb9bg6&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—数据运营日500销量天猫店案例解析</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=i01247lnffa&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—你不知道的免费引流之优质流量</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=q0125qxt0e6&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—最强宝贝上下架发布流量来源为皇</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=b01242pcalo&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—车道淘掌柜-实战篇-新品标题优化</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=k0125vvh2xj&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—打造超级黄金标题优化搜索排名飙升</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=x0125o658ez&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—30分钟让您了解淘宝直通车</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=l0124yo1y34&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—直通车与搜索排名的双点击率优化</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=w01255cd2mz&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
           <h3><span style="color: #ff0000;"><strong>车道公开课程—不要再让2%转化率习以为常</strong></span></h3>
               <embed src="http://static.video.qq.com/TPout.swf?vid=h0125u6lo15&auto=0" allowFullScreen="true" quality="high" width="680" height="450" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>



       </div>
   </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    $.get("/Home/getCidTopKey", function (data) {
        if (data === undefined || data == null) {
            return;
        }
        if (data == "用户不存在") {
            return;
        }
        if (data.res.length == 0) {
            return;
        }
        var tbody = $('<tbody></tbody>');
        $(data.res).each(function (i, word) {
            var indexClass = "top" + (i + 1);
            var rankClass = "";
            if (parseInt(word.rankChange) > 0) {
                rankClass = "up";
            } else if (parseInt(word.rankChange) == 0) {
                rankClass = "draw";
            } else {
                rankClass = "down";
            }
            var text = word.text.length > 10 ? word.text.substr(0,10) + "..." : word.text;
            tbody.append($('<tr><td><span class="top-ten ' + indexClass + ' inlineblock"></span></td><td>' + text + '</td><td>' + word.rankChange + '</td><td class="right-td"><span class="inlineblock rate ' + rankClass + '"></span></td></tr>'))
        });
        if (!isNaN(data.msg)) {
            var cid = parseInt(data.msg);
            $('#upTopTenWordsTable .look-all').attr("href", "/Home/topKey?cid=" + cid)
        }

        $('#upTopTenWordsTable tbody').remove();
        $('#upTopTenWordsTable').append(tbody);
    });
</script>
#{/set}
