<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/commsTab/commsTab.css'}">

#{extends 'main.html' /}
#{set title:'Multiple Modification of Titles' /}
<div  id="commsArea" style="width: 800px;height: 500px;border: 1px solid #AAAAAA">
   <!-- <div class="itemTableDiv">
        <table id="itemTable">
            <tr class="tableHead">
                <td class="td1">
                    <input  type="checkbox" value="1" name="checkAll" id="allCheck"  style="vertical-align: middle;">
                </td>
                <td class="td2">
                    <span>宝贝图片</span>
                </td>
                <td class="td3">
                    价格
                </td>
                <td class="td4">
                    宝贝标题
                </td>
                <td class="td5">
                    宝贝状态
                </td>
            </tr >
        </table>
    </div >
   -->
</div>

#{set 'moreScripts'}
<script src="@{'/js/commstab/commstab.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/js/jquery.pagination.js'}" type="text/javascript" charset="utf-8"></script>
#{/set }