

#{extends 'Application/topcrud.html' /}
#{set title:'常用链接' /}


<div class="navheadspan">常用代付账号：   632020264@qq.com  &nbsp; &nbsp;&nbsp;备用账号: 2067633308@qq.com   </div>
<p></p>

<div class="anchors">
    <p>
        <div class="navheadspan">淘掌柜相关链接</div>
        <div>
            <table class="busSearch">
                <thead>
                    <tr>
                        <th>淘掌柜</th>
                        <th>1个月5元</th>
                        <th>3个月15元</th>
                        <th>6个月30元</th>
                        <th>12个月60元</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>至尊版</td>
                        <td>http://to.taobao.com/pdmNFgy</td>
                        <td>http://tb.cn/B95bkby</td>
                        <td>http://to.taobao.com/MBWXCgy</td>
                        <td>http://to.taobao.com/lwpo2gy</td>
                    </tr>
                    <tr>
                        <td>数据化开车版</td>
                        <td>http://tb.cn/FUyOMby</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>专业培训版</td>
                        <td>http://tb.cn/cLpNFgy</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p>
    <p>

    </p>
    <p>
        <div class="navheadspan">自动标题相关链接</div>
        <div>
            <table class="busSearch">
                <thead>
                    <tr>
                        <thead>
                            <tr>
                                <th>自动标题</th>
                                <th>1个月5元</th>
                                <th>3个月15元</th>
                                <th>6个月30元</th>
                                <th>12个月60元</th>
                            </tr>
                        </thead>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1-500宝贝数</td>
                        <td>http://to.taobao.com/viYo2gy</td>
                        <td>http://to.taobao.com/7IWo2gy</td>
                        <td>http://to.taobao.com/2JVo2gy</td>
                        <td>http://to.taobao.com/nDVo2gy</td>
                    </tr>
                    <tr>
                        <td>500以上宝贝数</td>
                        <td>http://to.taobao.com/0OTo2gy</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>1000以上宝贝数</td>
                        <td>http://to.taobao.com/T5To2gy</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2000以上宝贝数</td>
                        <td>http://to.taobao.com/tHSo2gy</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </p>
    <p>
    <div class="navheadspan">名店相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <th>名店</th>
                <th>1个月5元</th>
                <th>3个月15元</th>
                <th>6个月30元</th>
                <th>12个月60元</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>尊享版</td>
                <td>http://tb.cn/k1TTcdy</td>
                <td>http://tb.cn/KVBRkby</td>
                <td>http://tb.cn/5WLKWWy</td>
                <td>http://tb.cn/VrLKWWy</td>
            </tr>

            </tbody>
        </table>
    </div>
    </p>

    <p>
    <div class="navheadspan">好评助手 相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
            <thead>
                <tr>
                    <th>好评助手</th>
                    <th>1个月5元</th>
                    <th>3个月15元</th>
                    <th>6个月30元</th>
                    <th>12个月60元</th>
                </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>心级版</td>
                <td>http://to.taobao.com/upIo2gy</td>
                <td>http://to.taobao.com/ECKo2gy</td>
                <td>http://to.taobao.com/EIIo2gy</td>
                <td>http://to.taobao.com/bcJo2gy</td>
            </tr>
            <tr>
                <td>钻级版</td>
                <td>http://to.taobao.com/LoFo2gy</td>
                <td>http://to.taobao.com/t7Fo2gy</td>
                <td>http://to.taobao.com/zKEo2gy</td>
                <td>http://to.taobao.com/soEo2gy</td>
            </tr>
            <tr>
                <td>皇冠版</td>
                <td>http://to.taobao.com/gTEo2gy</td>
                <td>http://to.taobao.com/plDo2gy</td>
                <td>http://to.taobao.com/sQEo2gy</td>
                <td>http://to.taobao.com/1oCo2gy</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>


    <p>
    <div class="navheadspan">爱推广  相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <thead>
            <tr>
                <th>爱推广</th>
                <th>1个月5元</th>
                <th>3个月15元</th>
                <th>6个月30元</th>
                <th>12个月60元</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>1个优质推广位</td>
                <td>http://tb.cn/dEc6vgy</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>3个推广位</td>
                <td>http://tb.cn/cpV6vgy</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>5个推广位</td>
                <td>http://tb.cn/pyW6vgy</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>10个推广位</td>
                <td>http://tb.cn/L9T6vgy</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>20个推广位</td>
                <td>http://tb.cn/9AV6vgy</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>30个推广位</td>
                <td>http://tb.cn/ca66vgy</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>

    <p>
    <div class="navheadspan">5元链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <th>聚人气 自动标题 5元</th>
                <th>名店 5元</th>
                <th>流量宝 5元</th>
                <th>手机详情页 5元</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>http://tb.cn/ZynQHdy</td>
                <td>http://tb.cn/k1TTcdy</td>
                <td>http://tb.cn/MReiMdy</td>
                <td>http://tb.cn/M5yGIey</td>

            </tr>
            </tbody>
        </table>
    </div>
    </p>


    <p>
        <div class="navheadspan">常用评价地址</div>
        <div>
        <table class="busSearch">
            <thead>
                <tr>
                    <th>
                    应用名
                    </th>
                    <th>
                    评价地址
                    </th>
                </tr>
            </thead>
	        <tbody>
	           <tr>
	               <td>
	                 淘掌柜
	               </td>
	               <td>
	                   http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=ts-1820059
                   </td>
	           </tr>
	                          <tr>
                   <td>
                     自动标题
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=FW_GOODS-1835721
                   </td>
               </tr>
                           <tr>
                   <td>
                     爱推广
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=FW_GOODS-1848326
                   </td>
               </tr>
               <tr>
                   <td>
                     车道
                   </td>
                   <td>http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=FW_GOODS-1841777</td>
               </tr>
               <tr>
                   <td>
                     四轮车(四驱车手|四驱车道)
                   </td>
                   <td>http://fuwu.taobao.com/serv/manage_service.htm?service_code=FW_GOODS-1878385</td>
               </tr>
               <tr>
                   <td>
                     天小猫
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=FW_GOODS-1897106
                   </td>
               </tr>
               <tr>
                   <td>
                     好评助手(评价宝)
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=FW_GOODS-1850391
                   </td>
               </tr>
               <tr>
                   <td>
                     好牛
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=ts-11477
                   </td>
               </tr>
               <tr>
                   <td>
                     流量宝
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?spm=a1z13.1113649.0.0.S4POBt&service_code=ts-10452
                   </td>
               </tr>
               <tr>
                   <td>
                       名店
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?service_code=FW_GOODS-1854059
                   </td>
               </tr>

               <tr>
                   <td>
                      手机详情页
                   </td>
                   <td>
                       http://fuwu.taobao.com/serv/manage_service.htm?service_code=service-0-22735
                   </td>
               </tr>
	        </tbody>
        </table>
        </div>
        
    </p>

    <p>
    <div class="navheadspan">好牛相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <thead>
            <tr>
                <th>好牛</th>
                <th>1个月10元</th>
                <th>3个月22.5元</th>
                <th>6个月45元</th>
                <th>12个月90元</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>标准版_99包年</td>
                <td>http://tb.cn/yfuZIQx</td>
                <td>http://tb.cn/DznZIQx</td>
                <td>http://tb.cn/KDoZIQx</td>
                <td>http://tb.cn/oNqZIQx</td>

            </tr>
            </tbody>
        </table>
    </div>
    </p>

    <p>
    <div class="navheadspan">流量宝相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <thead>
            <tr>
                <th>流量宝</th>
                <th>1个月5元</th>
                <th>3个月15元</th>
                <th>6个月30元</th>
                <th>12个月60元</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>标准版_3个月只要21元</td>
                <td>http://to.taobao.com/ESEbmfy</td>
                <td>http://to.taobao.com/Q12bmfy</td>
                <td>http://to.taobao.com/Ge0bmfy</td>
                <td>http://to.taobao.com/uM0bmfy</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>

    <p>
    <div class="navheadspan">车道相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <thead>
            <tr>
                <th>车道</th>
                <th>1个月20元</th>
                <th>3个月60元</th>
                <th>6个月120元</th>
                <th>12个月240元</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>培训版</td>
                <td>~</td>
                <td>~</td>
                <td>~</td>
                <td>http://tb.cn/79t9Bay</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>

    <p>
    <div class="navheadspan">聚人气 分销王相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <thead>
            <tr>
                <th>聚人气 分销王</th>
                <th>1个月5元</th>
                <th>3个月15元</th>
                <th>6个月30元</th>
                <th>12个月60元</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>体验版</td>
                <td>http://tb.cn/g4rbnZy </td>
                <td>http://tb.cn/4QndnZy</td>
                <td>http://tb.cn/3WnbnZy</td>
                <td>http://tb.cn/9kkbnZy</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>

    <p>
    <div class="navheadspan">淘掌柜客户相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <thead>
            <tr>
                <th>淘掌柜客户</th>
                <th>1个月10元</th>
                <th>3个月22.5元</th>
                <th>6个月45元</th>
                <th>12个月90元</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>淘掌柜客户</td>
                <td>https://tb.cn/k42AAqw</td>
                <td>https://tb.cn/yjg7Aqw</td>
                <td>https://tb.cn/4E47Aqw</td>
                <td>https://tb.cn/opT6Aqw</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>

    <p>
    <div class="navheadspan">淘掌柜交易相关链接</div>
    <div>
        <table class="busSearch">
            <thead>
            <tr>
                <thead>
            <tr>
                <th>淘掌柜交易</th>
                <th>1个月5元</th>
                <th>3个月15元</th>
                <th>6个月30元</th>
                <th>12个月60元</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>
                <td>淘掌柜交易</td>
                <td>http://tb.cn/cHO5Rax</td>
                <td>http://tb.cn/7nO5Rax</td>
                <td>http://tb.cn/XnQ5Rax</td>
                <td>http://tb.cn/5NU5Rax</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
</div>


#{set 'moreScripts'}

#{/set}