#{extends 'tbtnav/tbtnavmain.html' /}
*{#{extends 'yangyang.html' /}}*


<link rel="stylesheet" type="text/css" href="/css/tbtnav.css?_v=1">

<table class="nav-table" style="">
<tbody>
<tr>
*{<td class="nav-table-left-td" >}*
<td class="leftnavtd" style="">
    <nav class="leftnav" style="">
        <ul class="main-lists ">
            <li class="menu-goods  ">
                <a href="javascript:void(0)" class="menu" >
                    <em>标题优化</em>
                    <i class="icon-fold"></i>
                </a>
                <ul class="sub-lists hidden" >
                    <li>
                        <a href="/home/commodityDiag" class="title-flow-map "><em>宝贝诊断列表</em></a>
                    </li>
                    <li>
                        <a href="/kits/seoHelp" class="title-page-analyse "><em>注意事项</em></a>
                    </li>
                    <li>
                        <a href="/kits/seoVideo" class="title-page-analyse "><em>视频教程</em></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://bangpai.taobao.com/group/thread/15247314-287827590.htm?spm=0.0.0.0.ZKo5tO" class="title-page-analyse "><em>文字教程</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="javascript:void(0)" class="menu" >
                    <em>智能上下架</em>
                    <i class="icon-fold"></i>
                </a>
                <ul class="sub-lists hidden" >
                    <li>
                        <a href="/kits/delistPlans" class="title-flow-map "><em>上下架计划管理</em></a>
                    </li>
                    *{<li>
                        <a href="/delistsearch/index"><em>行业上下架分析</em></a>
                    </li>}*
                    <li>
                        <a href="/delistsearch/item"><em>宝贝上下架查询</em></a>
                    </li>
                    <li>
                        <a href="/kits/delistVideo" class="title-flow-map "><em>视频教程</em></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://bangpai.taobao.com/group/thread/15247314-287823905.htm?spm=0.0.0.0.ZKo5tO" class="title-flow-map "><em>文字教程</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="javascript:void(0)" class="menu" >
                    <em>智能橱窗</em>
                    <i class="icon-fold"></i>
                </a>
                <ul class="sub-lists hidden" >
                    <li>
                        <a href="/kits/window" class="title-flow-map "><em>橱窗管理</em></a>
                    </li>
                    <li>
                        <a href="/kits/helpwindow" class="title-flow-map "><em>智能橱窗教程</em></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://bangpai.taobao.com/group/thread/15247314-287829284.htm?spm=0.0.0.0.ZKo5tO" class="title-flow-map "><em>文字教程</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="javascript:void(0)" class="menu" >
                    <em>查排名(监控)</em>
                    <i class="icon-fold"></i>
                </a>
                <ul class="sub-lists hidden" >
                    <li>
                        <a href="/home/instantsearch" class="title-flow-map "><em>查排名</em></a>
                    </li>
                    <li>
                        <a href="/home/searchhistory" class="title-flow-map "><em>历史查询记录</em></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://bangpai.taobao.com/group/thread/15247314-287828348.htm?spm=0.0.0.0.ZKo5tO" class="title-flow-map "><em>文字教程</em></a>
                    </li>
                    *{<li>}*
                        *{<a href="/" class="title-flow-map "><em>注意事项</em></a>}*
                    *{</li>}*
                </ul>
            </li>
            <!-- <li class="menu-goods  ">
                <a href="javascript:void(0)" class="menu" >
                    <em>买家何时来</em>
                    <i class="icon-fold"></i>
                </a>
                <ul class="sub-lists hidden" >
                    <li>
                        <a href="/CatAnalysis/catPayHour" class="title-flow-map "><em>买家何时来</em></a>
                    </li>

                *{<li>}*
                *{<a href="/" class="title-flow-map "><em>注意事项</em></a>}*
                *{</li>}*
                </ul>
            </li> -->
            <li class="menu-goods  ">
                <a href="#"></a>
            </li>
        </ul>
        *{<header>}*
            *{<h1 class="main-title"><img src="./生意参谋 带表格_files/tmall-logo.png" class="logo"></h1>}*
            *{<span class="sub-title">天猫豪华版</span>}*
        *{</header>}*
        <ul class="main-lists hidden">
            <li class="menu-index ">
                <a href="http://sycm.sj.tmall.com/index.htm?spm=0.0.0.0.1SNODh" class="title-index " data-spm-anchor-id="0.0.0.0"><em>首&nbsp;&nbsp;&nbsp;&nbsp;页</em></a>
            </li>
            <li class="menu-people ">
            *{<a href="./生意参谋 带表格_files/itemEffect.htm" class="title-people has-sub"><em>人</em><i class="icon-fold"></i></a>}*
                <a href="" class="menu" ><em>站内引流</em></a>
                <ul class="sub-lists " >
                    <li>
                        <a href="/" class="title-flow-map "><em>标题优化</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse "><em>智能上架</em></a>
                    </li>

                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="" class="menu"><em>数据中心</em></a>
                <ul class="sub-lists hidden">
                    <li>
                        <a href="/" class="title-page-analyse"><em>流量来源分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>宝贝搜索分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>店铺搜索分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>地域分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>宝贝分析</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="" class="menu"><em>店铺管理</em></a>
                <ul class="sub-lists hidden">
                    <li>
                        <a href="/" class="title-page-analyse"><em>自动评价</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>批量修改标题</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>批量改价上下架</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="" class="menu"><em>词库中心</em></a>
                <ul class="sub-lists">
                    <li>
                        <a href="/" class="title-page-analyse"><em>我的词库</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>淘词</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>类目最热100词</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>关键词榜单</em></a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="main-lists hidden">
            <li class="menu-index ">
                <a href="http://sycm.sj.tmall.com/index.htm?spm=0.0.0.0.1SNODh" class="title-index " data-spm-anchor-id="0.0.0.0"><em>首&nbsp;&nbsp;&nbsp;&nbsp;页</em></a>
            </li>
            <li class="menu-people ">
                *{<a href="./生意参谋 带表格_files/itemEffect.htm" class="title-people has-sub"><em>人</em><i class="icon-fold"></i></a>}*
                <a href="" class="menu" ><em>站内引流</em></a>
                <ul class="sub-lists hidden" >
                    <li>
                        <a href="/" class="title-flow-map "><em>标题优化</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse "><em>智能上架</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="" class="menu"><em>数据中心</em></a>
                <ul class="sub-lists hidden">
                    <li>
                        <a href="/" class="title-page-analyse"><em>流量来源分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>宝贝搜索分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>店铺搜索分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>地域分析</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>宝贝分析</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  ">
                <a href="" class="menu"><em>店铺管理</em></a>
                <ul class="sub-lists hidden">
                    <li>
                        <a href="/" class="title-page-analyse"><em>自动评价</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>批量修改标题</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>批量改价上下架</em></a>
                    </li>
                </ul>
            </li>
            <li class="menu-goods  active ">
                <a href="" class="menu"><em>词库中心</em></a>
                <ul class="sub-lists">
                    <li>
                        <a href="/" class="title-page-analyse"><em>我的词库</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>淘词</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>类目最热100词</em></a>
                    </li>
                    <li>
                        <a href="/" class="title-page-analyse"><em>关键词榜单</em></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</td>
<td style="" class="nav-table-right-td" >
    <div class="main">
        #{doLayout /}
    </div>
</td></tr></tbody>
</table>
