#{extends 'tbtnav/tbtnavmain.html' /}
*{#{extends 'yangyang.html' /}}*


<link rel="stylesheet" type="text/css" href="/css/tbtnav.css?_v=1">
<link rel="stylesheet" type="text/css" href="/css/tzgump/tzgumpbase.css?_v=1">
<table class="nav-table" style="">
    <tbody>
    <tr>
    *{<td class="nav-table-left-td" >}*
        <td class="leftnavtd" style="">
            <nav class="leftnav" style="">
                <ul class="main-lists ">
                    <li class="menu-goods  ">
                        <a href="javascript:void(0)" class="menu" >
                            <em>促销活动</em>
                            <i class="icon-fold"></i>
                        </a>
                        <ul class="sub-lists hidden" >
                            <li>
                                <a href="/tzgumpactivity/index"><em>促销活动</em></a>
                            </li>
                            *{<li>
                                <a target="_blank" href="http://bangpai.taobao.com/group/thread/15247314-287826926.htm?spm=0.0.0.0.ZKo5tO" class="title-flow-map "><em>文字教程</em></a>
                            </li>}*
                        </ul>
                    </li>
                </ul>
            </nav>
        </td>
        <td style="" class="nav-table-right-td" >
            <div class="main">
            #{doLayout /}
            </div>
        </td></tr></tbody>
</table>
