#{extends 'free.html' /}
#{set title:'立即优化' /}
<link rel="stylesheet" media="screen" href="/css/version_zhizun.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/taoxuanci_version.css">
<link rel="stylesheet" media="screen" type="text/css" href="/public/stylesheets/Nepal/newbasic.css" />
<script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/js/Nepal/jquery.imgpreload.js"></script>
<script type="text/javascript" src="/js/Nepal/common-plugin.js"></script>
<script type="text/javascript" src="/js/Nepal/display.js"></script>


<!-- this is the version controller -->
<div id = "version_main" align="center">
	<div id="version_givendata"><img alt="" src="/img/version/top.png"></div>
	<div id="version_content" >
		<div id="version_buynow_point"></div>
		<div class = "version_choose"  >
			<ul class = "version_choose_ul">
				<li class = "version_choose_li" style="position: relative">
					<div id="version_zhizun_12" style=";">
						<img class="version_zhizun_12_title" src="/img/version/bigsale.png">
						<br><br><span class="version_oldprice">原价</span><span class="old_price">120元</span><br>
						<br><span class="now_price">39<span class="yuan">元</span></span>
						<span class="version_youhui">立省81元</span>
					</div>
				</li>
				<li class = "version_choose_li">
					<div id="version_zhizun_6">
						<div class="version_zhizun_12_title" ></div>
						<br><span class="version_oldprice">原价</span><span class="old_price">89元</span><br>
						<br><span class="now_price">22<span class="yuan">元</span></span>
						<span class="version_youhui">立省65元</span>
					</div>
				</li>
				<li class = "version_choose_li">
					<div id="version_zhizun_3">
						<div class="version_zhizun_12_title" ></div>
						<br><span class="version_oldprice">原价</span><span class="old_price">49元</span><br>
						<br><span class="now_price">15<span class="yuan" >元</span></span>
						<span class="version_youhui">立省34元</span>
					</div>
				</li>
					<li class = "version_choose_li">
					<div id="version_zhizun_1">
						<div class="version_zhizun_12_title" ></div>
						<br><span class="version_oldprice">原价</span><span class="old_price">20元</span><br>
						<br><span class="now_price">9.9<span class="yuan">元</span></span>
						<span class="version_youhui">立省10元</span>
					</div>
				</li>
			</ul>
		</div>
		<div id="version_buynow_btn" class="buybtn"></div>
		<div class="entity" style="height: 250px;">

        <div class="hd" style="padding-top: 80px">掌柜工具</div>
            <div class="marquee_panels">
        <ul>

            <li class = 'funimg'>
                <a href="javascript:void(0)"><div>
                <img src="http://img02.taobaocdn.com/imgextra/i2/22902351/T2gDndXdlaXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img02.taobaocdn.com/imgextra/i2/22902351/T2Mte8XoxaXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img02.taobaocdn.com/imgextra/i2/22902351/T2gDndXdlaXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    最近一周销量如何？店铺宝贝上下架时间分布如何？店铺橱窗使用情况如何？店铺宝贝标题如何？尽在店铺诊断，实时让你了解店铺情况。
                    <button class="view-detail" >查看详情</button>
                    <div  style='display:none'> <img  class = "ps_image_wrapper" src="/public/images/Nepal/dianpuzhenduan.jpg" alt="" /></div></div>
                </div>
                </a></li>

            <li class = 'funimg'>
                <a href="javascript:void(0)"><div>
                    <img src="http://img04.taobaocdn.com/imgextra/i4/22902351/T2qnDdXllXXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img01.taobaocdn.com/imgextra/i1/22902351/T2INBQXXBfXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img04.taobaocdn.com/imgextra/i4/22902351/T2qnDdXllXXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    我店铺好多宝贝，怎么来安排橱窗位呢？橱窗对我宝贝有什么影响呢？我怎么能让我的橱窗位实时的给到需要的宝贝呢？怎么能更好的利用我的橱窗呢？自动橱窗为你一键解忧！系统自动化全天候7*24小时为你实时监测服务，宝贝下架了我人不在？没关系，系统立马帮你把橱窗位给下一个快下架宝贝！
                    <button class="view-detail" >查看详情</button>
                    <div   style='display:none'><img class = "ps_image_wrapper" src="/public/images/Nepal/zidongchuchuang.jpg" alt="" /></div> </div>
                </div>
            </a></li>

            <li class = 'funimg'>
                <a href="javascript:void(0)"><div>
                    <img src="http://img02.taobaocdn.com/imgextra/i2/22902351/T2D2TeXa8XXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img03.taobaocdn.com/imgextra/i3/22902351/T29IDXXXlbXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img02.taobaocdn.com/imgextra/i2/22902351/T2D2TeXa8XXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    什么时候上架时间好啊？我该怎么把握呢？上下架时间对我宝贝有什么影响呢？不懂都没关系！自动上架为你一键解忧！只要一点，轻轻开启，系统帮你宝贝安排全高峰流量时段上下架，解放你的双手。
                    <button class="view-detail" >查看详情</button>
                    <div style='display:none'><img  class = "ps_image_wrapper" src="/public/images/Nepal/zidongshangjia.jpg" alt="" /></div> </div>
                </div>
            </a></li>

            <li class = 'funimg'>
                <a  href="javascript:void(0)">
                <div>
                    <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2QGTbXn8aXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img03.taobaocdn.com/imgextra/i3/22902351/T2o8B5XchdXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img03.taobaocdn.com/imgextra/i3/22902351/T2QGTbXn8aXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    又要新活动了，我想改标题，可是几千款宝贝，我要一一手动改吗？弱爆了！赶紧来批量修改，让你一键无忧！修改千款宝贝只要几十秒！
                    <button class="view-detail" >查看详情</button>
                    <div style='display:none'><img   class = "ps_image_wrapper" src="/public/images/Nepal/zidongpingjia.jpg"></div> </div>
                </div>
             </a></li>

            <li class = 'funimg'>
                <a  href="javascript:void(0)"><div>
                    <img src="http://img01.taobaocdn.com/imgextra/i1/22902351/T2.uS9Xm8aXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img04.taobaocdn.com/imgextra/i4/22902351/T2X8XWXXVeXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img01.taobaocdn.com/imgextra/i1/22902351/T2.uS9Xm8aXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                     你想知道当下谁在看你店铺宝贝吗？你想知道多少人在看你家什么宝贝吗？了解最新当下动态，实时监控让你掌握第一手信息！
                    <button class="view-detail" >查看详情</button>
                    <div  style='display:none'><img class = "ps_image_wrapper" src="/public/images/Nepal/shishijiankong.jpg"></div> </div>
                </div>
            </a></li>

            <li class = 'funimg'>
                <a  href="javascript:void(0)"><div>
                    <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2KBulXmdaXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img02.taobaocdn.com/imgextra/i2/22902351/T2Z9fdXb8aXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img03.taobaocdn.com/imgextra/i3/22902351/T2KBulXmdaXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    最新一周淘宝官方数据提供，海量千万热词，热搜热词排名，上升最快，直通车选词，尽在top词库！数据化营销让您的宝贝更具竞争力。
                    <button class="view-detail" >查看详情  </button>
                    <div style='display:none'>
                        <img class = "ps_image_wrapper" src="/public/images/Nepal/topsouci1.jpg" alt="one">
                        <img class = "ps_image_wrapper" src="/public/images/Nepal/topsouci1.jpg" alt="two">
                        <img class = "ps_image_wrapper" src="/public/images/Nepal/topsouci1.jpg" alt="three"></div>
                    </div>
                </div>
            </a></li>



            <li class = 'funimg'>
                <a  href="javascript:void(0)"><div>
                    <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2D6m.Xn4aXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img02.taobaocdn.com/imgextra/i2/22902351/T2FJYdXllaXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img03.taobaocdn.com/imgextra/i3/22902351/T2D6m.Xn4aXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    专业化宝贝标题诊断，长尾词关键词推荐，关键词优化查询功能，引爆您的店铺自然流量。系统提供数百万与宝贝相关的热搜关键词。提供关键词的热销度，搜索热度，竞争指数，数据营销让您的宝贝更加具有竞争力。
                     <button class="view-detail" >查看详情</button><div style='display:none'>
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua1.jpg" alt="four">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua2.jpg" alt="five">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua3.jpg" alt="six">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua4.jpg" alt="seven">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua5.jpg" alt="eight">
                              </div>
                        </div>
                    </div>
                </a></li>


            </ul>
            </div>
         <div id='funcDesc' class='func-list' ></div>
    </div>
        <div id="version_illustrate" style="text-align: center;">
            <div id ="shangjia_btn" ></div>
            <div id ="biaoti_btn" ></div>
            <div id ="chuchuang_btn" ></div>
            <div id ="pingjia_btn" ></div>
        </div>
        <div id="version_buynow_btn_second" class="buybtn"></div>

    </div>
    <div class="marquee_container">

    <div class="marquee_nav"></div>
</div>
</div>
	 <!-- open dialog -->
		<div id="dialog_shangjia" style="width: 765px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            	<img alt="" src="http://img03.taobaocdn.com/imgextra/i3/679214160/T2iHG.XhFaXXXXXXXX_!!679214160.jpg">
		  </div>
		</div>
		<div id="dialog_biaoti" style="width: 725px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            <img alt="" src="http://img04.taobaocdn.com/imgextra/i4/1039626382/T2g4G4XetaXXXXXXXX_!!1039626382.jpg">
            <img alt="" src="http://img02.taobaocdn.com/imgextra/i2/1039626382/T2He5kXXXcXXXXXXXX_!!1039626382.jpg">
		  </div>
		</div>
		<div id="dialog_chuchuang" style="width: 725px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            <img alt="" src="http://img04.taobaocdn.com/imgextra/i4/22902351/T2nl9.XaXXXXXXXXXX_!!22902351.jpg">
		  </div>
		</div>
		<div id="dialog_pingjia" style="width: 725px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            <img alt="" src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2dOO.XkVXXXXXXXXX_!!22902351.jpg">
		  </div>
		</div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
//        $.getScript("/js/version_zhizun.js",function(){
            $(document).ready(function(){
                $(function() {      
                    $("#dialog_shangjia").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        resizable: false,
                        title:"自动上架",
                        modal: true
                    });
                    $("#dialog_biaoti").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        height:580,
                        resizable: false,
                        title:"标题优化",
                        modal: true
                    });
                    $("#dialog_chuchuang").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        resizable: false,
                        title:"自动橱窗",
                        modal: true
                    });
                    $("#dialog_pingjia").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        resizable: false,
                        title:"自动评价",
                        modal: true
                    });
                    // Link to open the dialog
                    $( "#shangjia_btn" ).click(function( event ) {
                        $( "#dialog_shangjia" ).dialog( "open" );
                        event.preventDefault();
                    });
                    $( "#biaoti_btn" ).click(function( event ) {
                        $( "#dialog_biaoti" ).dialog( "open" );
                        event.preventDefault();
                    });
                    $( "#chuchuang_btn" ).click(function( event ) {
                        $( "#dialog_chuchuang" ).dialog( "open" );
                        event.preventDefault();
                    });
                    $( "#pingjia_btn" ).click(function( event ) {
                        $( "#dialog_pingjia" ).dialog( "open" );
                        event.preventDefault();
                    });
                });
                var version_data = null;
                $("#version_zhizun_1").click(function(){
                    $(this).attr("style","background-position:left -228px");
                    $("#version_zhizun_3,#version_zhizun_6,#version_zhizun_12").removeAttr("style");
                    version_data="http://fuwu.taobao.com/item/subsc.htm?items=ts-1820059-3:1";
                });
                $("#version_zhizun_3").click(function(){
                    $(this).attr("style","background-position:-252px -228px");
                    $("#version_zhizun_1,#version_zhizun_6,#version_zhizun_12").removeAttr("style");
                    version_data="http://fuwu.taobao.com/item/subsc.htm?items=ts-1820059-3:3";
                });
                $("#version_zhizun_6").click(function(){
                    $(this).attr("style","background-position:-505px -228px");
                    $("#version_zhizun_1,#version_zhizun_3,#version_zhizun_12").removeAttr("style");
                    version_data="http://fuwu.taobao.com/item/subsc.htm?items=ts-1820059-3:6";
                });
                $("#version_zhizun_12").click(function(){
                    $(this).attr("style","background-position:-757px -228px");
                    $("#version_zhizun_1,#version_zhizun_3,#version_zhizun_6").removeAttr("style");
                    version_data="";
                });

                $("#version_zhizun_12").trigger('click');
                $(".buybtn").click(function(){
                    window.location.href=version_data;
                });
            });
//        });
</script>
#{/set}
