#{extends 'free.html' /}
#{set title:'立即优化' /}
<link rel="stylesheet" media="screen" href="/css/version_zhizun.css">
<link rel="stylesheet" media="screen" href="/css/taoxuanci_version.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/diagnoseshop/diagnoseshop.css">
<link rel="stylesheet" media="screen" type="text/css" href="/public/stylesheets/Nepal/newbasic.css" />
<script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/js/Nepal/jquery.imgpreload.js"></script>
<script type="text/javascript" src="/js/Nepal/common-plugin.js"></script>
<script type="text/javascript" src="/js/Nepal/display.js"></script>


<!-- this is the version controller -->
<div id = "version_main" align="center">
	<div id="version_givendata"><img alt="" src="/img/version/top.png"></div>
	<div id="version_content" >
		<div id="version_buynow_point"></div>
		<div class = "version_choose"  >
			<ul class = "version_choose_ul">
				<li class = "version_choose_li">
					<div id="version_zhizun_12">
						<img class="version_zhizun_12_title" src="/img/version/bigsale.png">
						<br><br><span class="version_oldprice">原价</span><span class="old_price">149元</span><br>
						<br><span class="now_price">36<span class="yuan">元</span></span>
						<span class="version_youhui">立省113元</span>
					</div>
				</li>
				<li class = "version_choose_li">
					<div id="version_zhizun_6">
						<div class="version_zhizun_12_title" ></div>
						<br><span class="version_oldprice">原价</span><span class="old_price">89元</span><br>
						<br><span class="now_price">25<span class="yuan">元</span></span>
						<span class="version_youhui">立省64元</span>
					</div>
				</li>
				<li class = "version_choose_li">
					<div id="version_zhizun_3">
						<div class="version_zhizun_12_title" ></div>
						<br><span class="version_oldprice">原价</span><span class="old_price">49元</span><br>
						<br><span class="now_price">18<span class="yuan" >元</span></span>
						<span class="version_youhui">立省31元</span>
					</div>
				</li>
					<li class = "version_choose_li">
					<div id="version_zhizun_1">
						<div class="version_zhizun_12_title" ></div>
						<br><span class="version_oldprice">原价</span><span class="old_price">20元</span><br>
						<br><span class="now_price">10<span class="yuan">元</span></span>
						<span class="version_youhui">立省10元</span>
					</div>
				</li>
			</ul>
		</div>
		<div id="version_buynow_btn" class="buybtn"></div>
		<!-- 诊断表格 -->
		<div class = "diagnose">
			<table>
				<thead>
					<tr>
						<th style="width:110px;">流量加速</th>
						<th style="width:380px;">根据您的店铺数据您可以使用以下服务来提升销量</th>
						<th style="width:110px;">流量加速</th>
						<th style="width:380px;">根据您的店铺数据您可以使用以下服务来提升销量</th>
					</tr>
				</thead>
				<tbody id="text">
					
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
		
		
		<div class="entity" style="height: 250px;">

        <div class="hd" style="padding-top: 80px">掌柜工具</div>
            <div class="marquee_panels">
        <ul>

            <li class = 'funimg'>
                <a target="_blank" href="http://to.taobao.com/i9Y5Mjy"><div>
                <img src="http://img02.taobaocdn.com/imgextra/i2/22902351/T2gDndXdlaXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img02.taobaocdn.com/imgextra/i2/22902351/T2Mte8XoxaXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img02.taobaocdn.com/imgextra/i2/22902351/T2gDndXdlaXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    最近一周销量如何？店铺宝贝上下架时间分布如何？店铺橱窗使用情况如何？店铺宝贝标题如何？尽在店铺诊断，实时让你了解店铺情况。
                    <button class="view-detail" >查看详情</button>
                    <div  style='display:none'> <img  class = "ps_image_wrapper" src="/public/images/Nepal/dianpuzhenduan.jpg" alt="" /></div></div>
                </div>
                </a></li>

            <li class = 'funimg'>
                <a target="_blank" href="http://to.taobao.com/i9Y5Mjy"><div>
                    <img src="http://img04.taobaocdn.com/imgextra/i4/22902351/T2qnDdXllXXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img01.taobaocdn.com/imgextra/i1/22902351/T2INBQXXBfXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img04.taobaocdn.com/imgextra/i4/22902351/T2qnDdXllXXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    我店铺好多宝贝，怎么来安排橱窗位呢？橱窗对我宝贝有什么影响呢？我怎么能让我的橱窗位实时的给到需要的宝贝呢？怎么能更好的利用我的橱窗呢？自动橱窗为你一键解忧！系统自动化全天候7*24小时为你实时监测服务，宝贝下架了我人不在？没关系，系统立马帮你把橱窗位给下一个快下架宝贝！
                    <button class="view-detail" >查看详情</button>
                    <div   style='display:none'><img class = "ps_image_wrapper" src="/public/images/Nepal/zidongchuchuang.jpg" alt="" /></div> </div>
                </div>
            </a></li>

            <li class = 'funimg'>
                <a target="_blank" href="http://to.taobao.com/i9Y5Mjy"><div>
                    <img src="http://img02.taobaocdn.com/imgextra/i2/22902351/T2D2TeXa8XXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img03.taobaocdn.com/imgextra/i3/22902351/T29IDXXXlbXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img02.taobaocdn.com/imgextra/i2/22902351/T2D2TeXa8XXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    什么时候上架时间好啊？我该怎么把握呢？上下架时间对我宝贝有什么影响呢？不懂都没关系！自动上架为你一键解忧！只要一点，轻轻开启，系统帮你宝贝安排全高峰流量时段上下架，解放你的双手。
                    <button class="view-detail" >查看详情</button>
                    <div style='display:none'><img  class = "ps_image_wrapper" src="/public/images/Nepal/zidongshangjia.jpg" alt="" /></div> </div>
                </div>
            </a></li>

            <li class = 'funimg'>
                <a target="_blank" href="http://to.taobao.com/i9Y5Mjy"><div>
                    <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2QGTbXn8aXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img03.taobaocdn.com/imgextra/i3/22902351/T2o8B5XchdXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img03.taobaocdn.com/imgextra/i3/22902351/T2QGTbXn8aXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    又要新活动了，我想改标题，可是几千款宝贝，我要一一手动改吗？弱爆了！赶紧来批量修改，让你一键无忧！修改千款宝贝只要几十秒！
                    <button class="view-detail" >查看详情</button>
                    <div style='display:none'><img   class = "ps_image_wrapper" src="/public/images/Nepal/zidongpingjia.jpg"></div> </div>
                </div>
             </a></li>

            <li class = 'funimg'>
                <a target="_blank" href="http://to.taobao.com/i9Y5Mjy"><div>
                    <img src="http://img01.taobaocdn.com/imgextra/i1/22902351/T2.uS9Xm8aXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img04.taobaocdn.com/imgextra/i4/22902351/T2X8XWXXVeXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img01.taobaocdn.com/imgextra/i1/22902351/T2.uS9Xm8aXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                     你想知道当下谁在看你店铺宝贝吗？你想知道多少人在看你家什么宝贝吗？了解最新当下动态，实时监控让你掌握第一手信息！
                    <button class="view-detail" >查看详情</button>
                    <div  style='display:none'><img class = "ps_image_wrapper" src="/public/images/Nepal/shishijiankong.jpg"></div> </div>
                </div>
            </a></li>

            <li class = 'funimg'>
                <a target="_blank" href="http://to.taobao.com/i9Y5Mjy"><div>
                    <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2KBulXmdaXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img02.taobaocdn.com/imgextra/i2/22902351/T2Z9fdXb8aXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img03.taobaocdn.com/imgextra/i3/22902351/T2KBulXmdaXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    最新一周淘宝官方数据提供，海量千万热词，热搜热词排名，上升最快，直通车选词，尽在top词库！数据化营销让您的宝贝更具竞争力。
                    <button class="view-detail" >查看详情  </button>
                    <div style='display:none'>
                        <img class = "ps_image_wrapper" src="/public/images/Nepal/topsouci1.jpg" alt="one">
                        <img class = "ps_image_wrapper" src="/public/images/Nepal/topsouci1.jpg" alt="two">
                        <img class = "ps_image_wrapper" src="/public/images/Nepal/topsouci1.jpg" alt="three"></div>
                    </div>
                </div>
            </a></li>



            <li class = 'funimg'>
                <a target="_blank" href="http://to.taobao.com/i9Y5Mjy"><div>
                    <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2D6m.Xn4aXXXXXXXX_!!22902351.png" onmouseover="this.src='http://img02.taobaocdn.com/imgextra/i2/22902351/T2FJYdXllaXXXXXXXX_!!22902351.png'"  onmouseout="this.src ='http://img03.taobaocdn.com/imgextra/i3/22902351/T2D6m.Xn4aXXXXXXXX_!!22902351.png'" />
                    <div style='display:none' class="preparecontent">
                    专业化宝贝标题诊断，长尾词关键词推荐，关键词优化查询功能，引爆您的店铺自然流量。系统提供数百万与宝贝相关的热搜关键词。提供关键词的热销度，搜索热度，竞争指数，数据营销让您的宝贝更加具有竞争力。
                     <button class="view-detail" >查看详情</button><div style='display:none'>
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua1.jpg" alt="four">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua2.jpg" alt="five">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua3.jpg" alt="six">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua4.jpg" alt="seven">
                               <img class = "ps_image_wrapper" src="/public/images/Nepal/biaotiyouhua5.jpg" alt="eight">
                              </div>
                        </div>
                    </div>
                </a></li>


            </ul>
            </div>
         <div id='funcDesc' class='func-list' ></div>
    </div>
        <div id="version_illustrate" style="text-align: center;">
            <div id ="shangjia_btn" ></div>
            <div id ="biaoti_btn" ></div>
            <div id ="chuchuang_btn" ></div>
            <div id ="pingjia_btn" ></div>
        </div>
        <div id="version_buynow_btn_second" class="buybtn"></div>

    </div>
    <div class="marquee_container">

    <div class="marquee_nav"></div>
</div>
</div>
	 <!-- open dialog -->
		<div id="dialog_shangjia" style="width: 765px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            	<img alt="" src="http://img03.taobaocdn.com/imgextra/i3/679214160/T2iHG.XhFaXXXXXXXX_!!679214160.jpg">
		  </div>
		</div>
		<div id="dialog_biaoti" style="width: 725px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            <img alt="" src="http://img04.taobaocdn.com/imgextra/i4/1039626382/T2g4G4XetaXXXXXXXX_!!1039626382.jpg">
            <img alt="" src="http://img02.taobaocdn.com/imgextra/i2/1039626382/T2He5kXXXcXXXXXXXX_!!1039626382.jpg">
		  </div>
		</div>
		<div id="dialog_chuchuang" style="width: 725px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            <img alt="" src="http://img04.taobaocdn.com/imgextra/i4/22902351/T2nl9.XaXXXXXXXXXX_!!22902351.jpg">
		  </div>
		</div>
		<div id="dialog_pingjia" style="width: 725px; height: 450; display: none; text-align: center; " class="ui-dialog-content ui-widget-content" >
            <div style="text-align: center;">
            <img alt="" src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2dOO.XkVXXXXXXXXX_!!22902351.jpg">
		  </div>
		</div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
//        $.getScript("/js/version_zhizun.js",function(){
            $(document).ready(function(){
                $(function() {      
                    $("#dialog_shangjia").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        resizable: false,
                        title:"自动上架",
                        modal: true
                    });
                    $("#dialog_biaoti").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        height:580,
                        resizable: false,
                        title:"标题优化",
                        modal: true
                    });
                    $("#dialog_chuchuang").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        resizable: false,
                        title:"自动橱窗",
                        modal: true
                    });
                    $("#dialog_pingjia").dialog({
                        closeText: "关闭",
                        autoOpen: false,
                        width: 800,
                        resizable: false,
                        title:"自动评价",
                        modal: true
                    });
                    // Link to open the dialog
                    $( "#shangjia_btn" ).click(function( event ) {
                        $( "#dialog_shangjia" ).dialog( "open" );
                        event.preventDefault();
                    });
                    $( "#biaoti_btn" ).click(function( event ) {
                        $( "#dialog_biaoti" ).dialog( "open" );
                        event.preventDefault();
                    });
                    $( "#chuchuang_btn" ).click(function( event ) {
                        $( "#dialog_chuchuang" ).dialog( "open" );
                        event.preventDefault();
                    });
                    $( "#pingjia_btn" ).click(function( event ) {
                        $( "#dialog_pingjia" ).dialog( "open" );
                        event.preventDefault();
                    });
                });
                var version_data = null;
                $("#version_zhizun_1").click(function(){
                    $(this).attr("style","background-position:left -228px");
                    $("#version_zhizun_3,#version_zhizun_6,#version_zhizun_12").removeAttr("style");
                    version_data="http://to.taobao.com/aHZ5Mjy";
                });
                $("#version_zhizun_3").click(function(){
                    $(this).attr("style","background-position:-252px -228px");
                    $("#version_zhizun_1,#version_zhizun_6,#version_zhizun_12").removeAttr("style");
                    version_data="http://to.taobao.com/vQZ5Mjy";
                });
                $("#version_zhizun_6").click(function(){
                    $(this).attr("style","background-position:-505px -228px");
                    $("#version_zhizun_1,#version_zhizun_3,#version_zhizun_12").removeAttr("style");
                    version_data="http://to.taobao.com/xSY5Mjy";
                });
                $("#version_zhizun_12").click(function(){
                    $(this).attr("style","background-position:-757px -228px");
                    $("#version_zhizun_1,#version_zhizun_3,#version_zhizun_6").removeAttr("style");
                    version_data="http://to.taobao.com/i9Y5Mjy";
                });

                $("#version_zhizun_12").trigger('click');
                $(".buybtn").click(function(){
                    window.location.href=version_data;
                });
                $.ajax({
                	url:"/Diag/shop",
                	success:function(data){
                		showtablebody(data);
                	}
                });
                function showtablebody(data){
                	var zhanxianlv = zhanxian(data);
                	var sousuoliang = sousuo(data);
                	var html = $("#text");
                	//$("#text").append("nimadebi");
                	html.append("<tr>");
                	html.append("<td><img class='buyxuanci_img' alt='宝贝属性检测' src='/public/images/buyxuancipng/baobeishuxingjiance.png'><br/><span class='buyxuanci_span'>宝贝属性检测</span></td>");
                	html.append("<td >如：通过属性检测预防违规，完整的属性让你的展现率提高<span style='color:red'>"+zhanxianlv+"</span>,"+
                			"那么将为店铺带来20个访客，持续使用30天后，可以为店铺带来<span style='color:red'>600</span>个访客</td>");
					html.append("<td><img class='buyxuanci_img' alt='标题诊断' src='/public/images/buyxuancipng/biaotizhenduan.png'><br/><span class='buyxuanci_span'>标题诊断</span></td>");
					html.append("<td>如：通过标题诊断，标题得分为：<span style='color:red'>"+data.titleScore+"</span>,通过优化可以提高<span style='color:red'>"+sousuoliang+" </span>的搜索量，这样就为您带来300个访客，持续使用30天将为您带来<span style='color:red'>9000</span>个访客。</td>");
					html.append("</tr>");
					html.append("<tr>");
                	html.append("<td><img class='buyxuanci_img' alt='爆款打造' src='/public/images/buyxuancipng/baokuai.png'><br/><span class='buyxuanci_span'>爆款打造</span></td>");
                	html.append("<td>如：通过深度检测，店铺爆款总数<span style='color:red'>"+data.goodItemCount+"</span>爆款转化率为<span style='color:red'>"+data.conversionRate+"</span>,潜在爆款数量：<span style='color:red'>"+data.potentialGoodItemCount+"</span>。打造跟多的爆款将为您带来20个访客，持续使用30天将为您带来<span style='color:red'>600</span>个访客。</td>");
					html.append("<td><img class='buyxuanci_img' alt='自动橱窗' src='/public/images/buyxuancipng/zidongchuchuang.png'><br/><span class='buyxuanci_span'>自动橱窗</span></td>");
                    var usage = data.windowUsage;
                    if(!usage || usage==100){
                        usage = '98%';
                    }else{
                        usage=  usage + "%";
                    }
					html.append("<td>如：店铺的橱窗利用率为：<span style='color:red'>"+usage+"</span>，橱窗剩余数：<span style='color:red'>"+data.remainWindowCount+"</span>，自动橱窗将为您带来30个访客，持续使用30天将为您带来<span style='color:red'>900</span>个访客。</td>");
					html.append("</tr>");
					html.append("<tr>");
                	html.append("<td><img class='buyxuanci_img' alt='自动上下架' src='/public/images/buyxuancipng/zidongshangxiajia.png'><br/><span class='buyxuanci_span'>自动上下架</span></td>");
                	html.append("<td>如：在不合理的上下架宝贝数目为<span style='color:red'>"+data.inBadTimeCount+"</span>，合理的上下架分布将为您带来20个访客，持续使用30天，将为您带来<span style='color:red'>600</span>个访客。</td>");
					html.append("<td><img class='buyxuanci_img' alt='实时监控' src='/public/images/buyxuancipng/shishijiankong.png'><br/><span class='buyxuanci_span'>实时监控</span></td>");
					html.append("<td>如：您可以实时的看到店铺的访客，看到访客浏览的宝贝，从而提高您的整改效率。为您带来更多的收益。</td>");
					html.append("</tr>");
                }
            });
            function zhanxian(data){
            	var shuju = parseInt(data.tradeCount);
            	var zhanxianliang = 19;
            	if(shuju > 0 && shuju < 100){
            		zhanxianliang = 100 - shuju;
            	}else if(shuju>100){
            		while(shuju<100){
            			shuju= shuju/10;
            		}
            		zhanxianliang = 100 - shuju;
            	}
            	if(zhanxianliang<=0){
            		zhanxianliang = zhanxianliang+100;
            	}
            	return zhanxianliang+"%";
            }
            function sousuo(data){
            	var shuju = parseInt(data.titleScore);
            	var sousuoliang = 80;
            	if(shuju<30 || shuju>60){
            		soushuoliang = 99-shuju;
            	}else if(shuju>30 && shuju<60){
            		sousuoliang = 50+shuju;
            	}
            	return sousuoliang +"%";
            }
//        });
</script>
#{/set}
