*{#{extends 'main.html' /}}*
#{extends 'tbtnav/tbtnavdata.html' /}
#{set title:'淘标题-店铺来源诊断' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="/public/stylesheets/searchDiag/shopSrcDiag.css">
<link rel="stylesheet" media="screen" href="/css/daterangepicker/bootstrap.daterangepicker.css">
<link rel="stylesheet" media="screen" href="/css/daterangepicker/daterangepicker.css" />
#{/set}
<style>
    /*div.main {*/
        /*width: 1040px;*/
        /*border: 1px solid #aaa;*/
        /*background: white;*/
    /*}*/

    /*.nav-table-left-td {*/
        /*display: none;*/
    /*}*/
</style>
<div class="page-hierarchy">
    <span>当前位置:&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/home/index">淘掌柜&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a>店铺来源诊断
</div>

<div class="diag-container">
    <div class="shop-diag-div">
        <div class="searchDiagTip intro hidden" style="text-align: center;margin: 0 auto;margin-bottom: 10px;">
            亲，这里的数据要订购后 <span style='color: red;font-size: 24px;'>第2天</span> 才能够开通的哦,请明天再来哦O(∩_∩)O
        </div>
        <div class="interval-wrapper">
            <div class="interval-tr">

                *{<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 1-day" value="1">最近1天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 3-day" value="3">最近3天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 7-day" value="7">最近7天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 14-day" value="14">最近14天数据&nbsp;&nbsp;&nbsp;
				<input style="width: 18px;height: 18px;" type="radio" name="interval" class="interval 0-day" value="0">&nbsp;&nbsp;&nbsp;
                <input type="text" style="width:100px;text-align: center;" id="startTimeInput">~
                <input type="text" style="width:100px;text-align: center;" id="endTimeInput">的数据}*

                <div class="date-range-picker" style="position: relative;width:300px;text-align: center;margin: 0 auto;">
                    <div class="">
                        <input type="text" id="date-range-picker" class="form-control" style="padding-left: 10px" placeholder="日期选择">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;bottom: 10px;right: 10px;top: auto;cursor: pointer;"></i>
                    </div>
                </div>

            </div>
        </div>

        <div class="diag-result-div">
            <table class="word-diag-result-table busSearch">
                <thead>
                <tr>
                    <th>流量来源</th>
                    <th>分类</th>
                    <th>访客数</th>
                    <th>浏览数</th>
                    <th>成功交易数</th>
                    <th>成功交易宝贝数</th>
                    <th>付款人数</th>
                    <th>付款金额(元)</th>
                    <th>转化率</th>
                    *{<th>跳失数</th>
                    <th>跳失率</th>}*
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>
</div>


#{set 'moreScripts'}
<script type="text/javascript" src="/js/daterangepicker/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/daterangepicker/moment.js"></script>
<script type="text/javascript" src="/js/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript">
    TM.Loading.init.show();

    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js',function(){
        TM.gcs('/js/tm.js', function () {
            TM.gcs('/js/jquery.pagination.js', function () {
            	if(typeof(TM.firstLoginTime) == "undefined") {
            		TM.gcs("/status/js", function () {
            			TM.gcs('/js/searchDiag/shopSrcDiag.js?_v=21', function () {
                            TM.shopSrcDiag.init.doInit($('.diag-container'));
                        });
            		});
            	} else {
            		TM.gcs('/js/searchDiag/shopSrcDiag.js?_v=21', function () {
                        TM.shopSrcDiag.init.doInit($('.diag-container'));
                    });
            	};

            });
        });
    });
</script>
#{/set}