#{extends 'yangyang.html' /}
<link rel="stylesheet" media="screen" href='/css/keywords/keywords.css'>
<link rel="stylesheet" media="screen" href='/css/tbt.css'>

<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-fixed.css">
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-ie6.css">
<![endif]-->
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/ie.css">
<![endif]-->

<style type="text/css">
.tm-paging-container {padding: 5px 0px;}
.tm-paging-container .paging-nav {display: inline-block; *display: inline; zoom: 1; height: 16px; width: 24px;text-decoration: none; margin: 0px 2px; font-weight: bold;text-align: center; padding: 4px 0px;}
.tm-paging-container .paging-link {background: url(/img/pagging-back2.png) no-repeat left top;color: #7f7f7f; cursor: pointer;}
.tm-paging-container .paging-link:hover {background: url(/img/pagging-back2.png) no-repeat left -24px;}
.tm-paging-container .paging-select {background: url(/img/pagging-back2.png) no-repeat left -72px;color: #fff; cursor: default;}
.tm-paging-container .paging-size-link {background: url(/img/pagging-back2.png) no-repeat left top;color: #7f7f7f; cursor: pointer;}
.tm-paging-container .paging-size-link:hover {background: url(/img/pagging-back2.png) no-repeat left -24px;}
.tm-paging-container .paging-size-select {background: url(/img/pagging-back2.png) no-repeat left -72px;color: #fff; cursor: default;}
.nav{padding: 5px 0px;}
.dropdown-menu {top: 30px;}
.dropdown-menu li {padding-top: 3px;}
li a:hover{background: url("http://s.libdd.com/img/bg/sidemenu-sub-item.$5106.png") repeat;color:black;}
.nav-list .nav-header{margin-left:5px;}
.toggle-color {
    color: #ffff00;
}
p.pull-right a.toggle-color {
    color: #ffff00;
}
p.pull-right a {
    color: white;
}
.xufeiheadop {
    float: left;
    width: 150px;
    line-height: 41px;
    height: 41px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    padding-top: 3px;
    color: white;
    font-weight: bold;
}
#right-award{
    width: 95px;
    height: 107px;
    cursor: pointer;
    background: url(http://img04.taobaocdn.com/imgextra/i4/1132351118/T2BQxiXBBXXXXXXXXX_!!1132351118.jpg);
    bottom: 240px!important;
    position: fixed;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-300));
}
#kefuhref {
    float: none;
}
</style>

*{<div class='top-banner' style="background: http://s.libdd.com/img/bg/header.$5752.pngheight: 48px; ">}*
*{
<div class='top-banner' style=" height: 72px;background: url(http://s.libdd.com/img/bg/header.$5752.png) repeat-x 0 -20px; ">

    <div class='top-nav head-nav' >
    	
            <span class = "head" ></span>
                <!-- <ul style="margin: 0" class="headUl"></ul> -->
             <span style='float:left;width:150px;;line-height: 41px;height: 41px;text-align: center;display: inline-block;*display:inline;' class="userheadop">
                 <a id='syncBtn' href="javascript:void(0)" class="bluebutton" style="padding: 0px;text-align: center;margin-top:4px;">更新数据</a>
                 <a class="bluebutton"  id="logout" style='padding:0px;' href="javascript:void(0);">退出</a> <!-- |<a href="/Share/toShare">分享</a> -->
             </span>

        <div class="clear"></div>
    </div>
</div>
}*

<!-- fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top nav-head">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="/skindefender/index">好评助手</a>
			<div class="nav-collapse collapse">
				<ul class="nav head">
					<li><a href="/skindefender/index">首页</a></li>
				</ul>
                <ul class="nav">
                    <li class="dropdown">
                    	<a href="" class="dropdown-toggle" data-toggle="dropdown">差评防御 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
						    <li class="aside-hot-tag first">
						            <a class="clearfix" href="/SkinDefender/config">
						                <span class="aside-icon"></span>
						                <span>差评防御设置</span>
						            </a>
						        </li>
						        <li class="aside-hot-tag">
						            <a class="clearfix" href="/SkinDefender/itemProtection">
						                <span class="aside-icon"></span>
						                <span>宝贝限购</span>
						            </a>
						        </li>
						        <li class="aside-hot-tag">
						            <a class="clearfix" href="/SkinDefender/itemPass">
						                <span class="aside-icon"></span>
						                <span>不拦截宝贝</span>
						            </a>
						        </li>
						        <li class="aside-hot-tag">
						            <a class="clearfix" href="/SkinBlackList/index">
						                <span class="aside-icon"></span>
						                <span>买家黑名单</span>
						            </a>
						        </li>
						        
						        <li class="aside-hot-tag">
						            <a class="clearfix" href="/SkinWhiteList/index">
						                <span class="aside-icon"></span>
						                <span>买家白名单</span>
						            </a>
						        </li>
						        <li class="aside-hot-tag">
						            <a class="clearfix" href="/SkinDefender/blackOrder">
						                <span class="aside-icon"></span>
						                <span>黑名单用户订单</span>
						            </a>
						        </li>
								<li class="aside-hot-tag">
						            <a class="clearfix" href="/SkinDefender/log">
						                <span class="aside-icon"></span>
						                <span>拦截日志</span>
						            </a>
						        </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="" class="dropdown-toggle" data-toggle="dropdown">中差评修改 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                    		<li>
					            <a class="clearfix" href="/SkinComment/commentNormal">
					                <span class="aside-icon"></span>
					                <span>中差评管理</span>
					            </a>
					        </li>
					        <li>
					            <a class="clearfix" href="/SkinComment/commentStatus">
					                <span class="aside-icon"></span>
					                <span>评价统计</span>
					            </a>
					        </li>
					        <li>
					            <a class="clearfix" href="/SkinComment/shopScore">
					                <span class="aside-icon"></span>
					                <span>动态评分</span>
					            </a>
					        </li>
                            <li>
					            <a class="clearfix" href="/SkinComment/commentUrge">
					                <span class="aside-icon"></span>
					                <span>催评管理</span>
					            </a>
					        </li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">评价管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
					    	<li>
					            <a class="clearfix" href="/skincomment/index">
					                <span class="aside-icon"></span>
					                <span>自动评价</span>
					            </a>
					        </li>
					        *{<li>}*
					            *{<a class="clearfix" href="/SkinComment/manual">}*
					                *{<span class="aside-icon"></span>}*
					                *{<span>手动评价</span>}*
					            *{</a>}*
					        *{</li>}*
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">短信通知 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="clearfix" href="/skincomment/warn">
                                    <span class="aside-icon"></span>
                                    <span>短信通知设置</span>
                                </a>
                            </li>
                            <li>
                                <a class="clearfix" href="/SkinComment/noticeLog">
                                    <span class="aside-icon"></span>
                                    <span>短信提醒日志</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">活动中心 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="aside-hot-tag first">
								<a class="clearfix" href="/SkinDefender/lottery">
						            <span class="aside-icon"></span>
						            <span>转盘抽奖</span>
						        </a>
						    </li>
					        <li>
						        <a class="clearfix" href="/SkinDefender/invite">
						            <span class="aside-icon"></span>
						            <span>一起赚钱</span>
						        </a>
						    </li>
                        </ul>
                    </li>
                </ul>
				<p class="pull-right">
					<span class="userheadop"></span>
                    <span class="xufeiheadop" style="width:100px;overflow:hidden;"><a target="_blank" href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113643.1113643.14.v8fpRz&service_code=FW_GOODS-1850391&tracelog=xufei" style="font-size: 20px;" id="xufei-now">我要续费</a></span>
					<a class="btn btn-success btn-vcenter" id='syncBtn' style="margin-top:8px;" href="javascript:void(0)" >更新</a>
                 	<a class="btn btn-info btn-vcenter" id="logout" style="margin-top:8px;" href="javascript:void(0);">退出</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>
<div class="navmain">
    <div class="all_container">
	    <div class="kwcontainer">
            #{doLayout /}
        </div>
    </div>
</div>
*{<div id="right-award" class="hidden"></div>}*
*{<div id="meal3" class="meal" style="display:none;">}*
    *{<div>}*
        *{<table>}*
            *{<tr class="meta-price">}*
                *{<td style="width:70px;">原价组合</td>}*
                *{<td style="width:800px" ><span style="font-size:16px;" data-bind="" class="price invalid">10 - 360</span></td>}*
            *{</tr>}*
            *{<tr class="meta-price">}*
                *{<td>套餐价</td>}*
                *{<td><span style="font-size:20px;" data-bind="" class="">9-108</span></td>}*
            *{</tr>}*
            *{<tr class="mealitems">}*
                *{<td>套餐价</td>}*
                *{<td>}*
                    *{<table>}*
                        *{<tbody>}*
                        *{<tr>}*
                            *{<td class="mealitem mealselected" itemId="285831">}*
                    *{<span >}*
                        *{<img class="mealitemimg" src="http://img01.taobaocdn.com/top/i1/T10jtLFathXXaCwpjX.png">}*
                        *{<div class="mealitemdetail">}*
                            *{<p>}*
                                *{<span class="mealitemhead">淘掌柜_全店一键引流</span>}*
                            *{</p>}*
                            *{<p>}*
                            *{<div title="4.8" class="ui-no-rate">评分:&nbsp;&nbsp;&nbsp;<i style=""></i></div></p>}*
                            *{<p>}*
                                *{原&nbsp;&nbsp;价:&nbsp;10.0元/月}*
                            *{</p>}*
                            *{<p>}*
                                *{套餐价:&nbsp;<b style="color:#f80">3.0</b> 元/月}*
                            *{</p>}*
                        *{</div>}*
                    *{</span>}*
                            *{</td>}*
                            *{<td class="mealitem" itemId="2971">}*

                    *{<span >}*
                        *{<img class="mealitemimg" src="http://img01.taobaocdn.com/top/i1/T19YGiFdFhXXaCwpjX.png">}*
                        *{<div class="mealitemdetail">}*
                            *{<p>}*
                                *{<span class="mealitemhead">促销打折_活动必备</span>}*
                            *{</p>}*
                            *{<p>}*
                            *{<div title="4.8" class="ui-no-rate">评分:&nbsp;&nbsp;&nbsp;<i style=""></i></div></p>}*
                            *{<p>}*
                                *{原&nbsp;&nbsp;价:&nbsp;10.0元/月}*
                            *{</p>}*
                            *{<p>}*
                                *{套餐价:&nbsp;<b style="color:#f80">3.0</b> 元/月}*
                            *{</p>}*
                        *{</div>}*
                    *{</span>}*
                            *{</td>}*
                            *{<td class="mealitem" itemId="335746">}*
                                      *{<span >}*
                        *{<img class="mealitemimg" src="http://img01.taobaocdn.com/top/i1/T1x0GZXCxaXXaCwpjX.png">}*
                        *{<div class="mealitemdetail">}*
                            *{<p>}*
                                *{<span class="mealitemhead">中差评修改防御神器</span>}*
                            *{</p>}*
                            *{<p>}*
                            *{<div title="4.8" class="ui-no-rate">评分:&nbsp;&nbsp;&nbsp;<i style=""></i></div></p>}*
                            *{<p>}*
                                *{原&nbsp;&nbsp;价:&nbsp;10.0元/月}*
                            *{</p>}*
                            *{<p>}*
                                *{套餐价:&nbsp;<b style="color:#f80">3.0</b> 元/月}*
                            *{</p>}*
                        *{</div>}*
                    *{</span>}*
                            *{</td>}*
                        *{</tr>}*
                        *{</tbody>}*
                    *{</table>}*


                *{</td>}*
            *{</tr>}*
            *{<tr class="durations" style="height:50px;">}*
                *{<td>套餐组合</td>}*
                *{<td>}*
                    *{<span value="1" class="duration mealselected">一个月</span>}*
                    *{<span value="3" class="duration">三个月</span>}*
                    *{<span value="6" class="duration">半年</span>}*
                    *{<span value="12" class="duration">一年(<b style="color:red;font-size:16px;">热门</b>)</span>}*
                *{</td>}*
            *{</tr>}*
            *{<tr>}*
                *{<td colspan="2" style="position: relative;">}*
                    *{<a style="margin-left:85px;" class="btn-ordernow" href="#"></a>}*
                    *{<span style="position: absolute;top:3px;left:230px;">}*
                        *{<span>应付金额:&nbsp;&nbsp;</span><span class="payment">3</span>&nbsp;&nbsp;元}*
                        *{<br>}*
                        *{<span>该套餐必须购买 1个及以上服务</span>}*
                    *{</span>}*
                *{</td>}*
            *{</tr>}*
        *{</table>}*
    *{</div>}*
*{</div>}*

<script type="text/javascript">

    // set #right-award absolute position
    $('#right-award').css('right',(($(window).width()-1000)/2 - 120)+'px');
    $(window).resize(function(){
        $('#right-award').css('right',(($(window).width()-1000)/2 - 120)+'px');
    });
    $('#right-award').click(function(){
        // 现在使用新版的3元弹窗，可选套餐
        TM.loadMeal();
    });

    setInterval(function(){
        $('#xufei-now').toggleClass("toggle-color");
    }, 500)

    var path = document.location.pathname.toLowerCase();
    var aside = $('.aside');
    aside.find('a').each(function(){
        var anchor = $(this);
        if(anchor.attr('href').toLowerCase().indexOf(path) >= 0 && path.length > 2){
            $('.aside').find('a.asideselected').removeClass('asideselected');
            anchor.addClass('asideselected');
        }
    });
    TM.gcs('/status/js',function(){
        var orderAnchor = $('#orderpage');
        orderAnchor.parent().hide();
        //var welcome = $("<div style='position:absolute;left:550px;top:30px;color:white;'>欢迎您,<b>"+TM.name+"</b></div>");
        //$('.top-nav').append(welcome);
        
        if(TM.name != undefined) {
			$(".userheadop").text(TM.name);
		}
    });

    TM.loadMeal = function(){
        //http://fuwu.taobao.com/ser/plan/planSubDetail.htm?planId=12651&isHidden=true&cycle=1&itemIds=285831
        var meal = $('#meal3');
        var currDuration = null;
        var payment = meal.find('.payment');
        var recomputePrice= function(){
            var price = meal.find('.durations').find(".mealselected").attr('value')* meal.find('.mealitems .mealselected').length  * 3;
            payment.html(price);
        }

        meal.find('.durations').find('.duration').click(function(){
            var clicked = $(this);
            $('.durations').find('.mealselected').removeClass('mealselected');
            clicked.addClass('mealselected');
            recomputePrice();
        });

        meal.find('.mealitems').find('.mealitem').click(function(){
            var clicked = $(this);
            if(clicked.hasClass('mealselected')){
                clicked.removeClass('mealselected');
            }else{
                clicked.addClass('mealselected');
            }
            recomputePrice();
        });
        meal.find('.btn-ordernow').click(function(){
            var itemIds = [];
            meal.find('.mealitems .mealselected').each(function(i, elem){
                itemIds.push($(this).attr('itemId'));
            });
            if(itemIds.length == 0){
                alert('亲,请至少选择一个服务哟');
                return;
            }
            var cycle =     meal.find('.durations').find(".mealselected").attr('value');
            var href = "http://fuwu.taobao.com/ser/plan/planSubDetail.htm?planId=12651&isHidden=true&cycle="
                    +cycle+"&itemIds="+itemIds.join(',');
            window.open(href);
        });


        meal.dialog({
            modal: true,
            bgiframe: true,
            height:460,
            width:960,
            title: "套餐订购",
            autoOpen: false,
            resizable: false,
            zIndex: 6003,
            buttons:{'关闭':function(){
                $(this).dialog('close');
            }}
        });
        meal.dialog('open');
    }

    TM.gcs('/js/tm.js',function(){
        $('#syncBtn').click(function(){
            $.get('/items/forceSyncTradeRates',function(){
                TM.Alert.load('<p style="font-size:14px">亲，同步成功,点击确定刷新页面</p>',300,230,function(){
                    window.location.reload();
                });
            });
        });
        var wangwang = TM.wangwang ||'http://www.taobao.com/webww/ww.php?ver=3&touid=%E9%AA%91%E7%9D%80%E7%BB%B5%E7%BE%8A%E9%A3%9E%3A%E9%A3%98%E9%9B%AA&siteid=cntaobao&status=1&charset=utf-8';
        $('#kefuhref').attr('href',"http://www.taobao.com/webww/ww.php?ver=3&touid=%E8%BD%A6%E9%81%93%E4%BC%98%E9%A9%BE&siteid=cntaobao&status=1&charset=utf-8");
    });

    TM.gcs('/js/utils/jquery.cookie.js',function(){
        $('#logout').click(function(){
            $.ajax({
                url : '/in/logout',
                dataType : 'text',
                success : function(text){
                    $.cookie('tm_SESSION',null);
                    $.cookie('_s',null);
                    $.cookie('_n',null);
                    $.cookie('_eu',null);
                    $.cookie('_v',null);
                    $.cookie('no',null);

                    window.location.href = text;
                }
            })
        })
    });

    $(".app-nav").hide();
    // TODO, this is for the preview temp...
    $('#goHelp').hide();
    var img = $('#tempLogoImg');
    img.attr('src','/public/images/header/Glossy_Menus_05_blue.png');
    img.css({width:'100px'});
    
    $(document).ready(function(){
        //$('#footer-content').find('p').hide();
        //$('#kefuhref').attr('href','http://amos.im.alisoft.com/msg.aw?v=2&uid=%E9%AA%91%E7%9D%80%E7%BB%B5%E7%BE%8A%E9%A3%9E:%E9%A3%98%E9%9B%AA&site=cntaobao&s=1&charset=utf-8');
        $('#kefuhref').attr('href',"http://www.taobao.com/webww/ww.php?ver=3&touid=%E8%BD%A6%E9%81%93%E4%BC%98%E9%A9%BE&siteid=cntaobao&status=1&charset=utf-8");
        $('.dropdown').live('mouseenter',function(){
        	$(this).addClass('open');
        }).live('mouseleave',function(){
        	$(this).removeClass('open');
        });
    })
</script>

<script type="text/javascript" src="http://g.tbcdn.cn/sj/securesdk/0.0.3/securesdk_v2.js" id="J_secure_sdk_v2" data-appkey="21404171"></script>