<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
   <title></title>
   <style>
       body{background-color:#A70A0A}
       .inlineblock{display: inline-block;*display: inline;zoom:1;}
       .link{width: 210px;height: 250px;padding-top: 60px;cursor: pointer}
   </style>
</head>
<body>
    <div style=";text-align: center;width: 100%;background: url(http://img01.taobaocdn.com/imgextra/i1/22902351/T2cxEWXeVXXXXXXXXX_!!22902351.jpg)">
        <img src="http://img03.taobaocdn.com/imgextra/i3/22902351/T2A8MUXdFaXXXXXXXX_!!22902351.png" style="border: none;width: 1300px;height: 407px;" >
    </div>
    <div style="margin:0 auto;width: 100%;background-color: #A70A0A;">
        <div style="margin:0 auto;;text-align: center;background: url(http://img01.taobaocdn.com/imgextra/i1/22902351/T2s5.VXfXaXXXXXXXX_!!22902351.png);width: 901px;height: 330px;" >
            <a target="_blank" href="http://to.taobao.com/PHxRrgy"><span class="inlineblock link"></span></a>
            <a target="_blank" href="http://to.taobao.com/XWtRrgy"><span class="inlineblock link"></span></a>
            <a target="_blank" href="http://to.taobao.com/e1sRrgy"><span class="inlineblock link"></span></a>
            <a target="_blank" href="http://to.taobao.com/63sRrgy"><span class="inlineblock link"></span> </a>
        </div>
    </div>
</body>
</html>