#{extends 'newAutoTitle/newAutoTitleBase.html' /}
#{set title:"编辑计划" /}
<style>
    .on{
        background-color: #2BC04E;
        color:#ffffff;
        width:70px;
        height:30px;
        line-height:30px;
        display:block;
        text-align:center;
        cursor:pointer;
        font-size:18px;
        border-radius:2px;
        font-weight:bold;
    }
    .shut{
        background-color: rgb(241,17,26);
        color:#ffffff;
        width:70px;
        height:30px;
        display:block;
        text-align:center;
        line-height:30px;
        border-radius:2px;
        font-size:18px;
        font-weight:bold;
        cursor:pointer;
    }
    .search-container{
        margin:20px 50px 20px 0px;
        padding:10px 0px 10px 10px;
        background:#f3f2f2;
    }

    .configtitle{
        height:40px;
        line-height:40px;
        background-color: rgba(234, 239,242,.25);
        margin:20px 40px 20px 0;
        padding-left:20px;
        border-left:solid 6px rgba(0, 83, 159,.65);
        margin-left:20px;
    }
    .conftxt{
        font-size:20px;
        font-weight:bold;
    }
    .manualconfig tbody img{
        width:50px;
        height:50px;
        margin-top:5px;
        border:none;
    }

    .target-div{
        display:none;
    }
</style>
<link rel="stylesheet" media="screen" href="/css/jquery-ui-timepicker-addon.css"/>
<div class="neweditplan">
    <div class="planstatus" style="margin-top:20px;">
        <div style="display:inline-block;font-weight:bold;font-size:20px;margin-right:10px;margin-left:20px;">当前计划:</div>
        <div class="plantitle" style="display:inline-block;font-size:20px;width:400px;"></div>
        <div class="planstatus" style="display:inline-block;text-align:right;border-radius:3px;"></div>

        <div class="configtitle">
            <span class="conftxt">修改计划配置</span>
        </div>
        <div class="config">
            <table style="margin-left:28px;margin-bottom:10px;">
                <tbody style="font-size:16px;">
                <tr>
                    <td>
                        <b>1.</b>
                        &nbsp;&nbsp;排除销量前10的宝贝？&nbsp;&nbsp;
                        <input type="radio" name="first10sale" status="true" checked="checked">
                        是&nbsp;&nbsp;
                        <input type="radio" name="first10sale" status="false">
                        否
                    </td>

                    <td rowspan="2" style="padding-left:100px;">
                        <span class="tmbtn too-wide-yellow-btn modifyconfig" style="font-size:18px;margin-bottom:15px;">修改计划配置</span>
                    </td>
                </tr>

                <tr style="height:50px;">
                    <td>
                        <b>2.</b>
                        &nbsp;&nbsp;自动增加新增宝贝？&nbsp;&nbsp;
                        <input type="radio" name="addnewitem" status="true" checked="checked">
                        是&nbsp;&nbsp;
                        <input type="radio" name="addnewitem" status="false">
                        否
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="manualconfig">
        <div class="configtitle">
            <span class="conftxt">宝贝上架时间配置</span>
        </div>
        <div class="base-tab-out" style="margin-left:32px;margin-right:35px;">
            <div class="base-tab-div" >
                <span class="base-tab-unit base-tab-title select-tab" tarDiv="todaydelistplan" style="font-size:16px;">今日上架计划</span>
                <span class="base-tab-unit base-tab-title" tarDiv="configdelisttime" style="font-size:16px;">手动设置上架时间</span>
                <span class="base-tab-unit base-tab-title" tarDiv="delistlog" style="font-size:16px;">上下架日志</span>
            </div>
            <div class="configdelisttime target-div">
                <div class="singleitemsetting">
                    <div style="margin-left:28px;">
                        <div class="search-container">
                            <span style="font-size:16px;margin-left:10px;">宝贝标题：</span>
                            <input type="text" class="searchtext" style="width:300px;border-radius:2px;height:26px">
                            <span class="tmbtn short-green-btn itemsearchbtn">搜索宝贝</span>
                        </div>

                        <div class="manualpaging" style="text-align:center;margin-top:10px;"></div>
                        <div style="width:95%;">
                            <table class="list-table">
                                <thead>
                                <tr>
                                    <td style="width:13%;">计划上架时间</td>
                                    <td style="width:13%;">原上架时间</td>
                                    <td style="width:10%;">宝贝图片</td>
                                    <td style="width:10%;">价格</td>
                                    <td style="width:30%;">宝贝标题</td>
                                    <td style="width:24%;">修改上架时间</td>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="manualpaging" style="text-align:center;"></div>

                    </div>
                </div>
            </div>
            <div class="todaydelistplan target-div" style="margin-top:30px;">
                <div style="margin-left:28px;">
                    <div class="todaypaging" style="text-align:center;margin-top:10px;"></div>
                    <div style="width:95%;">
                        <table class="list-table">
                            <thead>
                            <tr>
                                <td style="width:12%;">宝贝图片</td>
                                <td style="width:13%;">计划上架时间</td>
                                <td style="width:13%;">原上架时间</td>
                                <td style="width:10%;">价格</td>
                                <td style="width:52%;">宝贝标题</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="todaypaging" style="text-align:center;"></div>

                </div>

            </div>
            <div class="delistlog target-div">
                <div style="margin-left:28px;">
                    <div class="search-container">
                        <span style="font-size:16px;margin-left:10px;">宝贝标题：</span>
                        <input type="text" class="searchtext" style="width:300px;border-radius:2px;height:26px">
                        <span class="tmbtn short-green-btn itemsearchbtn">搜索宝贝</span>
                    </div>
                    <div class="logpaging" style="text-align:center;margin-top:10px;"></div>
                    <div style="width:95%;">
                        <table class="list-table">
                            <thead>
                            <tr>
                                <td style="width:12%;">宝贝图片</td>
                                <td style="width:13%;">上架时间</td>
                                <td style="width:10%;">价格</td>
                                <td style="width:30%;">宝贝标题</td>
                                <td style="width:12%;">状态</td>
                                <td style="width:23%;">上架消息</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="logpaging" style="text-align:center;"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="todaydelisttmpl">
<tr>
<td><a target="_blank" href="http://item.taobao.com/item.htm?id={{= numIid}}"><img src="{{= picPath}}"></a></td>
<td>{{= listTime}}</td>
<td>{{= realDelistTime}}</td>
<td>{{= price}}</td>
<td>{{= title}}</td>
</tr>
</script>

<script type="text/x-jquery-tmpl" id="delistplantmpl">
<tr>
<td><a target="_blank" href="http://item.taobao.com/item.htm?id={{= numIid}}"><img src="{{= picPath}}"></a></td>
<td>{{= listTime}}</td>
<td>{{= price}}</td>
<td>{{= title}}</td>
{{if ok}}
<td>{{= status}}</td>
<td>{{= opMsg}}</td>
{{else}}
<td style="color:#a10000;">{{= status}}</td>
<td style="color:#a10000;">{{= opMsg}}</td>
{{/if}}
</tr>
</script>

<script type="text/javascript">
    TM.Loading.init.show();
    TM.gcs('/js/jquery-ui-1.9.1.custom.min.js', function () {
        TM.gcs('/js/tm.js',function(){
            TM.gcs('/js/jquery.tmpl.js', function() {
               TM.gcs("/js/jquery-ui-timepicker-addon.js", function () {
                    TM.gcs('/js/newAutoTitle/neweditplan.js', function () {
                        var planId = ${planId};
                        var container = $('.neweditplan');
                        TM.newEditPlan.init.doInit(planId, container);
                    });
               });
            });
        });
    });
</script>